<h2>{{'SYSTEMCHECK.HEADLINE'|cmTranslate}}</h2>

<h3 class="content" ng-class="{'cm-green':clientVersionCheck,'cm-orange':!clientVersionCheck}">{{'SYSTEMCHECK.CLIENTVERSION.HEADLINE'|cmTranslate}} <i class="fa" ng-class="{'cm-checker':clientVersionCheck,'cm-checkbox-wrong':!clientVersionCheck}"></i></h3>

<article class="content">
    <cm-info-bubble nose-x="15%">
        <section ng-if="!clientVersionCheck" ng-bind-html="'SYSTEMCHECK.CLIENTVERSION.TEXT_ERROR'| cmParse:{'translate':true} | cmTranslate:{'version':version} "></section>
        <section ng-if="clientVersionCheck" ng-bind-html="'SYSTEMCHECK.CLIENTVERSION.TEXT_OK'| cmParse:{'translate':true} | cmTranslate:{'version':version}"></section>

        <section class="tac mt15" ng-if="(!clientVersionCheck && $scope.isApp && $scope.storeLink != '')">
            <a href="{{storeLink}}"><img class="storeIcon" ng-src="{{icon}}" /></a>
        </section>
    </cm-info-bubble>
</article>

<hr />

<h3 class="content" ng-class="{'cm-green':localStorage,'cm-orange':!localStorage}">{{'SYSTEMCHECK.LOCALSTORAGE.HEADLINE'|cmTranslate}} <i class="fa" ng-class="{'cm-checker':localStorage,'cm-checkbox-wrong':!localStorage}"></i></h3>

<article class="content">
    <cm-info-bubble nose-x="15%">
        <section ng-if="!localStorage" ng-bind-html="'SYSTEMCHECK.LOCALSTORAGE.TEXT_ERROR'|cmParse"></section>
        <section ng-if="localStorage" ng-bind-html="'SYSTEMCHECK.LOCALSTORAGE.TEXT_OK'|cmParse"></section>
    </cm-info-bubble>
</article>