<header class="cm-header">
    <div cm-header-back></div>
    <div cm-identity></div>
    <div cm-header-logo></div>
    <div cm-header-menu></div>
</header>

<div ng-controller="ConversationsCtrl" class="with-header with-footer">
    <div class="cm-page-header">
        <h1>{{"TALKS.HEADING"|cmTranslate}}</h1>
        <a href="#/conversation" class="cm-add-edge-btn">
            <i class="fa cm-add-edge"></i>
            <i class="fa cm-add"></i>
        </a>
    </div>

    <ul class="list-group">
        <li class="cm-list-group-item" ng-repeat="conversation in conversations">
            <a href="#/conversation/{{conversation.id}}">
                <div class="cm-avatar"></div>
                <div class="cm-message-info">
                    {{conversation.lastUpdated}}<br />
                    ({{conversation.numberOfMessages+0}})

                </div>
                Subject: {{conversation.subject}}<br/>
                <cm-message-small cm-data="conversation.newestMessage()" ng-if="conversation.newestMessage()"></cm-message-small>
            </a>
        </li>
    </ul>

    <div ng-if="showMore()">
        <button class="btn btn-primary" ng-click="loadMore()">more</button>
    </div>
</div>

<footer cm-footer></footer>