<cm-header cm-rubber-space>    
    <cm-identity cm-weight="3"></cm-identity>
    <cm-logo     cm-weight="3"></cm-logo>
    <div         cm-weight="2"></div>
    <cm-menu     cm-weight="1"></cm-menu>
</cm-header>



<section ng-controller="ConversationsCtrl">

    <header>
        <h1>{{"TALKS.HEADING"|cmTranslate}}</h1>       

        <a href="#/conversation" cm-edge>            
            <i class="fa cm-add"></i>
        </a>

        <div class="cm-form-group">
            <div class="cm-form-control white-control with-inputter with-icon">
                <input type="text" value="" ng-model="search" />                                
            </div><i class="fa cm-search"></i>
        </div>

    </header>

    <ul>
        <li ng-repeat="conversation in conversations | filter:search ">
            <a href="#/conversation/{{conversation.id}}">
                <cm-conversation-tag cm-data="conversation"></cm-conversation-tag>
            </a>

            <!--
            <a href="#/conversation/{{conversation.id}}" class="clearfix">
                <div class="cm-avatar">
                    <i class="fa cm-person"></i>
                </div>
                <div class="cm-message-info">
                    <div>{{conversation.lastUpdated}}</div>
                    <div class="cm-recipients" ng-if="conversation.recipients.length>1">
                        <span class="cm-recipient-qty">{{conversation.recipients.length}}</span>
                        <i class="fa cm-group"></i>
                    </div>
                    <div class="cm-messages-qty" ng-class="{'cm-unreaded':conversation.count>0}">
                        ({{conversation.count}})
                    </div>
                </div>
                <div class="cm-message-body">
                    <div>Subject: {{conversation.subject}}</div>
                    <div cm-message-small cm-data="conversation.newestMessage()" ng-if="conversation.newestMessage()"></div>
                </div>
            </a>
            -->

        </li>
    </ul>

    <div ng-if="showMore()">
        <button class="full" ng-click="loadMore()">{{"TALKS.MORE"|cmTranslate}}</button>
    </div>
</section>


<cm-footer cm-rubber-space></cm-footer>