<h3>{{'CONTACTS.HEADER.CONTACTS_LIST'|cmTranslate}}</h3>
<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-pills nav-stacked col-sm-6" ng-init="getContacts()">
            <li ng-repeat="cameoUser in contacts">
                <a>
                    {{cameoUser.identity.cameoId}}
                    <i class="fa fa-trash-o pull-right" ng-click="deleteContact(cameoUser.identityId)"></i>
                    <i class="fa fa-pencil pull-right" ng-click="editContact(cameoUser.identityId)"></i>
                </a>
            </li>
            <li ng-show="contacts.length == 0" ng-hide="contacts == null">
                <a class="alert alert-warning">
                    {{'CONTACTS.INFO.NO_CONTACTS'|cmTranslate}}
                </a>
            </li>
        </ul>
    </div>
</div>