<h3>{{'CONTACTS.HEADER.REQUEST_LIST'|cmTranslate}}</h3>
<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-pills nav-stacked col-sm-6">
            <li ng-repeat="result in results">
                <a>
                    {{result}}
                    <i class="fa fa-times pull-right" ng-click="rejectRequest(result);"></i>
                    <i class="fa fa-check pull-right" ng-click="acceptRequest(result);"></i>
                </a>
            </li>
        </ul>
    </div>
</div>