<article class="content mb15">
    <h3 data-qa="header-key-name">{{keyName}}</h3>

    <cm-info-bubble ng-if="privKey" nose-x="30%">
        {{'SETTINGS.PAGES.IDENTITY.KEYS.EXPORT_KEY_DESCRIPTION'|cmTranslate}}
    </cm-info-bubble>
</article>

<article class="content">
    <h4 ng-if="privKey" class="is-local">{{'SETTINGS.PAGES.IDENTITY.KEYS.IS_LOCAL_ON_THIS_DEVICE'|cmTranslate}}</h4>

    <h4>
        <strong>{{'SETTINGS.PAGES.IDENTITY.KEYS.TRUSTING'|cmTranslate}}:</strong>
        <span ng-if="isTrusted" class="is-trusted">
            {{'SETTINGS.PAGES.IDENTITY.KEYS.IS_TRUSTED'|cmTranslate}}
        </span>
        <span ng-if="!isTrusted" class="is-untrusted">
            {{'SETTINGS.PAGES.IDENTITY.KEYS.IS_UNTRUSTED'|cmTranslate}}
        </span>
    </h4>

    <h4>
        <strong>{{'SETTINGS.PAGES.IDENTITY.KEYS.KEY_SIZE'|cmTranslate}}:</strong>
        {{keySize}}
    </h4>
</article>

<article class="content">
    <h4>
        <strong>{{'SETTINGS.PAGES.IDENTITY.KEYS.FINGERPRINT'|cmTranslate}}:</strong>
    </h4>
    <cm-info-bubble nose-x="15%">
        <textarea class="form-control" readonly="readonly" data-qa="fingerprint-public-key" style="resize:none">{{fingerprint}}</textarea>
    </cm-info-bubble>
</article>

<article class="content">
    <div ng-if="privKey">
        <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PRIVATE_KEY'|cmTranslate}}</h3>
        <cm-info-bubble nose-x="15%">
            <textarea class="form-control" ng-model="privKey" readonly="readonly" data-qa="input-private-key" cm-clipboard></textarea>
        </cm-info-bubble>
    </div>
    <div ng-if="privKey">
        <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PUBLIC_KEY'|cmTranslate}}</h3>
        <cm-info-bubble nose-x="15%">
            <textarea class="form-control" ng-model="pubKey" readonly="readonly" data-qa="input-public-key" cm-clipboard></textarea>
        </cm-info-bubble>
    </div>
</article>

<cm-footer cm-always-on-top ng-if="isTrusted && privKey && canAuthenticate">
    <button ng-click="startAuthentication()" class="cm-btn-grey" data-qa="btn-start-authentication">
        {{'SETTINGS.PAGES.IDENTITY.HANDSHAKE.HANDSHAKE_START'|cmTranslate}}
        <i class="fa cm-checker"></i>
    </button>
</cm-footer>