<article class="content">
    <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PRIVATE_KEY'|cmTranslate}}</h3>

    <textarea class="form-control" ng-model="privKey" ng-readonly="isValid" data-qa="display-private-key"></textarea>

    <h3 ng-if="keySize" class="mt15">{{'SETTINGS.PAGES.IDENTITY.KEYS.KEY_SIZE'|cmTranslate}}: {{keySize}}</h3>
    <div ng-show="isValid">
        <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PUBLIC_KEY'|cmTranslate}}</h3>

        <textarea class="form-control" ng-model="pubKey" readonly="readonly" data-qa="display-public-key"></textarea>

        <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.KEY_NAME'|cmTranslate}}</h3>

        <input class="form-control" ng-model="keyName" type="text" data-qa="input-key-name" />
    </div>
</article>

<cm-footer cm-always-on-top>
    <button ng-click="import()" class="cm-btn-block cm-btn-grey" data-qa="btn-import-key" ng-if="!isValid">
        {{'SETTINGS.PAGES.IDENTITY.KEYS.IMPORT.BUTTON'|cmTranslate}}
        <i class="fa cm-checker cm-lg-icon"></i>
    </button>
    <button ng-click="store()" class="cm-btn-block cm-btn-grey" data-qa="btn-save-key" ng-if="isValid">
        {{'SETTINGS.PAGES.IDENTITY.KEYS.STORE_KEYPAIR'|cmTranslate}}
        <i class="fa cm-checker cm-lg-icon"></i>
    </button>
</cm-footer>