<article class="content cm-form-style">
    <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PRIVATE_KEY'|cmTranslate}}</h3>

    <textarea ng-model="privKey" ng-readonly="isValid" data-qa="display-private-key"></textarea>

    <h3 ng-if="keySize" class="mt15">{{'SETTINGS.PAGES.IDENTITY.KEYS.KEY_SIZE'|cmTranslate}}: {{keySize}}</h3>
    <div ng-show="isValid">
        <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PUBLIC_KEY'|cmTranslate}}</h3>

        <textarea ng-model="pubKey" readonly="readonly" data-qa="display-public-key"></textarea>

        <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.KEY_NAME'|cmTranslate}}</h3>

        <div class="cm-input-ctn with-inside-icon">
            <input ng-model="keyName" type="text" data-qa="input-key-name" />
            <i class="fa cm-write"></i>
        </div>
    </div>
</article>

<cm-footer>
    <button ng-click="import()" class="cm-btn-grey" data-qa="btn-import-key" ng-if="!isValid">
        {{'SETTINGS.PAGES.IDENTITY.KEYS.IMPORT.BUTTON'|cmTranslate}}
        <i class="fa cm-checker"></i>
    </button>
    <button ng-click="store()" class="cm-btn-grey" data-qa="btn-save-key" ng-if="isValid">
        {{'SETTINGS.PAGES.IDENTITY.KEYS.STORE_KEYPAIR'|cmTranslate}}
        <i class="fa cm-checker"></i>
    </button>
</cm-footer>