<div ng-controller="LoginCtrl" style="text-align:center">
    <i class="fa cm-rhino-bubble cm-login-rhino"></i><br />

    <div class="login-screen-start">
        <div class="cm-login-container">
            <i class="fa cm-logo fa-5x cm-ci-color mt30 mb30"></i><br />

            <button class="btn cm-btn-black mr30" ng-click="open()">login</button>
            <button class="btn cm-btn-white" ng-click="goToReg()">{{'REGISTER.LINK' | cmTranslate}}<i class="fa cm-right"></i></button>

            <p class="cm-login-text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
</div>