<div ng-controller="LoginCtrl" class="cm-center">
    <i class="fa cm-rhino-bubble cm-login-rhino" ng-hide="isModalVisible"></i>

    <div class="login-screen-start" ng-hide="isModalVisible">
        <div class="cm-login-container">

            <cm-logo class="fa-5x cm-ci-color mt30 mb30"></cm-logo>

            <button class="btn cm-btn-black mr30" ng-click="open()" data-qa="login-screen-btn">{{'LOGIN.LINK'|cmTranslate}}</button>
            <button class="btn cm-btn-white" ng-click="goToReg()" data-qa="login-screen-btn">{{'REGISTER.LINK'|cmTranslate}} <i class="fa cm-right cm-lg-icon"></i></button>

            <p class="cm-login-text">
                {{'CAMEO.DESCRIBE'|cmTranslate}}
            </p>
        </div>
    </div>
</div>