.cm-input-ctn{
  &.with-prefix-handler {
    padding-left:@cm-unit * 2;
    //margin-bottom:0;
    cm-country-prefix-handler {
      .dib;
    }
  }
}

cm-country-prefix-handler{
  .dpn;
  .with-cursor;
  width:@cm-inside-input-size * 2;
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  .fa.cm-down,.fa.cm-up{
    .dib;
    .pos-rel!important;
    width:@cm-unit / 2;
    font-size:@cm-unit / 4;
  }

  .flag-icon{
    height:@cm-inside-input-size;
    width:(@cm-unit / 2) + 0.2;
    .dib;
    .pos-rel;
    .vat;
    i{
      .pos-rel!important;
      width:1em!important;
      top:0.2em!important;
    }
  }

  .number-prefix{
    .dib;
    .pos-rel;
  }
}

cm-country-prefix-list{
  .dpn;
  max-height:(@cm-unit*4)-1;//15
  overflow:auto;
  margin-bottom: 0.5em;
  background:@cm-dark-white;
  &.is-visible{
    .dbl;
  }
  .country{
    .dib;
    .w33;
    height:@cm-inside-input-size;
    line-height:@cm-inside-input-size;
    padding:0 @cm-horizontal-padding;
    &.is-active{
      background:@cm-white;
    }
    .flag-icon{
      font-size:@cm-unit / 2;
      margin-right:@cm-horizontal-padding;
    }
  }
  .createReactive(@cm-dark-white);
}