cm-progressbar{
  .dbl;
  .w100;
  min-height:@cm-unit;

  .percent{
    .tac;
    font-size:@cm-mega-font;
    color:@cm-ci-color;
    line-height:@cm-unit;

    span{
      .dib;
      font-size:@cm-small-font;
    }
  }
  .progressbar{
    height:.1rem;
    background:@cm-ci-color;
  }
}