[cm-copy-to-clipboard]{
  background-color: transparent;

  @values:background-color 500ms ease;
  transition:@values;
  -webkit-transition:@values;
  -moz-transition:@values;
  -o-transition:@values;
}

[cm-copy-to-clipboard].is-copied{
  background-color: #fdffca;
}