[cm-fullscreen]{
  background: transparent;
  &.is-fullscreen{
    .pos-full;
    .fullscreen-wrap {
      .dtb;
      height:100%!important;
      ng-transclude {
        .dtbc;
        .vam;
        .tac;
      }
    }
  }
}

.fullscreen-wrap{
  ng-transclude{
    .dbl;
    background:none;
  }

  > i{
    .dpn;
  }

  &.is-open{
    i.cm-close{
      .dbl;
      .pos-fxd;
      top:1rem;
      right:1rem;
      font-size:3rem;
      z-index:1;
    }
  }
}