cm-search-input{
  overflow:hidden;
  .dib;
  .pos-rel;
  .vatb;
  background:@cm-white;
  padding:0 1rem;
  input {
    .no-border;
    .w90;
    padding:1rem 0;
  }
  i{
    font-size:@cm-mega-font;
    .tac;
  }
}