[cm-fullscreen]{
  background: transparent;
  &.is-fullscreen{
    .pos-full;
    .fullscreen-wrap {
      .dtb;
      height:100%!important;
      ng-transclude {
        .dtbc;
        .w100;
        .h100;
        .vam;
        .tac;
      }
    }
  }
}

.fullscreen-wrap{
  ng-transclude{
    .dbl;
    background:none;
    height:10rem;
  }

  > i, > figcaption{
    .dpn;
  }

  &.is-open{
    i.cm-close{
      .dbl!important;
      .pos-fxd;
      top:1rem;
      right:1rem;
      font-size:3rem;
      z-index:1;
      .text-shadow;
    }
    figcaption {
      .dbl!important;
      .pos-fxd;
      bottom:1rem;
      right:1rem;
      font-size:2rem;
      z-index:1;
      .text-shadow;
    }
  }
}