<form name="auth" ng-submit="getToken()" autocomplete="off">
    <div>
        <input ng-model="formData.user" name="user" placeholder="{{ placeholder.user }}" type="text" value="" required />
    </div>
    <div>
        <input ng-model="formData.pass" name="pass" placeholder="{{ placeholder.pass }}" type="password" value="" required />
    </div>

    <button ng-click="autologin()">autologin with Max</button>

    <button type="submit">einloggen</button>

    <pre>
        Token: {{ token }} <br />
        Res: {{ formRes }}
    </pre>
</form>

