<div class="form-group">
    <label for="password" class="col-sm-1 control-label">Password<sup>*</sup></label>
    <div class="col-sm-5">
        <input type="password" class="form-control" id="password" ng-model="pw" ng-keyup="checkPWStrength()" required />
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-1 col-sm-5">{{pwStrength}}</div>
</div>
<div class="form-group">
    <label for="password_confirm" class="col-sm-1 control-label">Confirm Password<sup>*</sup></label>
    <div class="col-sm-5">
        <input type="password" class="form-control" id="password_confirm" ng-model="pwConfirm" ng-blur="confirmPW()" required />
    </div>
</div>
<div class="form-group" ng-show="showConfirmPWStatus">
    <div class="col-sm-offset-1 col-sm-5">{{pwConfirmStatusText}}</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-1 col-sm-5">
        <button type="button" class="btn btn-default btn-sm" ng-click="setPassword()">getPW from Directive</button>
    </div>
</div>