<div class="form-group">
    <label for="password" class="col-sm-2 control-label">{{'PASSWORD.LABEL_PW' | cmTranslate}}<sup>*</sup></label>
    <div class="col-sm-6">
        <div class="input-group">
            <input type="{{passwordType}}" class="form-control" id="password" ng-model="pw" ng-keyup="checkPWStrength()" required />
            <span class="input-group-addon" ng-click="togglePassword()"><i ng-class="{'eye-open':!showPassword,'eye-close':showPassword}"></i></span>
        </div>
        <div class="mt5 mb5 progress" ng-model="progress" ng-show="showStrengthMeter">
            <div class="progress-bar" style="width: {{percent}}%; background-color: {{color}}">
                <span class="sr-only">{{percent}}% {{strengthMessage}}</span>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="password_confirm" class="col-sm-2 control-label">{{'PASSWORD.LABEL_CONFIRM' | cmTranslate}}<sup>*</sup></label>
    <div class="col-sm-6">
        <div class="input-group">
            <input type="password" class="form-control" id="password_confirm" ng-model="pwConfirm" ng-keyup="confirmPW()" required />
            <span class="input-group-addon"><i ng-class="{rm:!showConfirmPWStatus,ok:showConfirmPWStatus}"></i></span>
        </div>
    </div>
</div>