/.idea/
/node_modules/
/phonegap-build/
/phonegap-src/
/phonegap-target/
/report/
/target/
/project/
/dist/
/docs/
/app/css/app.less
/app/css/app.css
/app/packages/
/app/gfx/avatar
*.iml
*.log
*.fcp
*.sublime-workspace
*.sublime-project