/.idea/
/.tmp/
/.codova/
/node_modules/
/_node_modules_bak/
/_node_modules_new/
/node_modules_bak/
/node_modules_new/
/phonegap-build/
/phonegap-src/
/phonegap-target/
/report/
/target/
/project/
/dist/
/build/
/docs/
*.iml
*.log
*.fcp
*.sublime-workspace
*.sublime-project
/atlassian-ide-plugin.xml
/projectFilesBackup/
.DS_Store
/cache/

resource/xliffTools/json
resource/xliffTools/xliff
resource/browserPlugin/output