/.idea/
/node_modules/
/_node_modules_bak/
/phonegap-build/
/phonegap-src/
/phonegap-target/
/report/
/target/
/project/
/dist/
/docs/
/test-require/
/app/index.html
/app/css/app.less
/app/css/app.css
/app/packages/
/app/gfx/avatar
*.iml
*.log
*.fcp
*.sublime-workspace
*.sublime-project
/grunt
/atlassian-ide-plugin.xml
/projectFilesBackup/
