<article class="content">
    <cm-info-bubble class="cm-alert">
        <i class="fa cm-info cm-ci-color"></i>
        <span ng-bind-html="::'ACCOUNT.INFO.NOTE_ABOUT_THIS_DATA'|cmParse"></span>
    </cm-info-bubble>
</article>

<hr class="margin-small" />

<form name="cmForm" novalidate autocomplete="off">

    <article class="content" ng-click="toggleReadOnly()">
        <label>{{::'ACCOUNT.PLACEHOLDER.LOGINNAME'|cmTranslate}}</label>
        <div class="cm-input-ctn">
            <input
                tabindex="1" data-qa="input-loginName" disabled
                type="text" name="loginName" ng-model="account.loginName" />
        </div>
        <cm-info-bubble class="cm-alert" ng-show="showReadOnly">
            <i class="fa cm-info cm-ci-color"></i>
            <span ng-bind-html="::'ACCOUNT.INFO.LOGINAME'|cmTranslate"></span>
        </cm-info-bubble>
    </article>

    <hr class="margin-small" />

    <cm-form-phonenumber
        ng-model="formData.phoneNumber"
        ng-model-out="formData.mergedPhoneNumber"
        cm-tabindex="2"
        cm-label="ACCOUNT.PLACEHOLDER.PHONENUMBER"
        cm-info="ACCOUNT.INFO.INVALID.PHONENUMBER"
        cm-verify="account.phoneNumber"
    ></cm-form-phonenumber>

    <hr class="margin-small" />

    <cm-form-email
        ng-model="formData.email"
        cm-tabindex="3"
        cm-label="ACCOUNT.PLACEHOLDER.EMAIL"
        cm-info="ACCOUNT.INFO.INVALID.EMAIL"
        cm-verify="account.email"
    ></cm-form-email>

    <ul class="border-top border-bottom mt5">
        <li class="no-border">
            <span class="item" ng-click="togglePasswordChange()" data-qa="btn-passwordChange" cm-reactive>
            {{::'ACCOUNT.PLACEHOLDER.PASSWORD_CHANGE'|cmTranslate}}
            </span>
            <div class="short-links without-bg" ng-click="togglePasswordChange()">
                <i class="fa" ng-class="{'cm-down':!showPasswordChange,'cm-up':showPasswordChange}"></i>
            </div>
            <section ng-show="showPasswordChange">
                <hr class="margin-small" />

                <article class="content">
                    <label>{{::'ACCOUNT.PLACEHOLDER.OLD_PASSWORD'|cmTranslate}}</label>
                    <div class="cm-input-ctn with-inside-icon">
                        <input
                                tabindex="4" data-qa="input-oldPassword"
                                type="password" name="oldPassword" ng-model="formData.oldPassword" />
                        <i class="fa cm-write"></i>
                    </div>
                    <cm-info-bubble class="cm-alert"
                                    ng-show="cmForm.oldPassword.$error.empty || cmForm.oldPassword.$error.invalid">
                        <div ng-show="cmForm.oldPassword.$error.empty" data-qa="form-error-oldPassword-empty">
                            <i class="fa cm-info"></i> {{::'ACCOUNT.INFO.INVALID.OLD_PASSWORD'|cmTranslate}}
                        </div>
                        <div ng-show="cmForm.oldPassword.$error.invalid" data-qa="form-error-oldPassword-invalid">
                            <i class="fa cm-info"></i> {{::'ACCOUNT.INFO.INVALID.OLD_PASSWORD'|cmTranslate}}
                        </div>
                    </cm-info-bubble>
                </article>

                <hr class="margin-small" />

                <cm-password ng-model="formData.password" cm-tabindex="5" cm-disable-required></cm-password>
            </section>
        </li>
    </ul>
</form>

<cm-footer>
    <button class="cm-btn-grey" ng-click="saveAccount()" data-qa="btn-saveAccount" cm-reactive>
        <span ng-show="!showLoader && !isPristine">
            {{::'ACCOUNT.FOOTER.SAVE'|cmTranslate}}
            <i class="fa cm-checker"></i>
        </span>
        <span ng-show="isPristine" data-qa="btn-pristineBack">
            {{::'ACCOUNT.FOOTER.BACK'|cmTranslate}}
            <i class="fa cm-out"></i>
        </span>
        <cm-loader ng-show="showLoader" cm-color="ci-color"></cm-loader>
    </button>
</cm-footer>