html {
  font-size: 1em;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
body {
  width: 100%;
  background-color: #000000;
  cursor: default;
}
pre {
  text-align: left;
}
.without-border-radius {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0 !important;
}
.without-box-shadow {
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none !important;
}
.clear-form-border {
  border: none !important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0 !important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none !important;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.mt5 {
  margin-top: 0.3rem;
}
.mb5 {
  margin-bottom: 0.3rem;
}
.mb10 {
  margin-bottom: 0.6rem !important;
}
.mb30 {
  margin-bottom: 2rem;
}
.mr30 {
  margin-right: 2rem;
}
.mt30 {
  margin-top: 2rem;
}
.pos-tr {
  position: absolute;
  right: 0;
  top: 0;
}
.pos-tl {
  position: absolute;
  right: 0;
  left: 0;
}
.pos-br {
  position: absolute;
  bottom: 0;
  right: 0;
}
.pos-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cm-fl {
  float: left;
}
#cm-app-background {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url('../gfx/backgroundStart.jpg');
}
.cm-ci-color {
  color: #02bed2;
}
.cm-ci-color-bg {
  background-color: #02bed2;
}
.cm-btn:hover {
  color: #ffffff;
}
.cm-btn-black,
.cm-btn-white {
  width: 8em;
  height: 3em;
}
.btn {
  -moz-user-select: none;
  background-image: none;
  border: 0.05em solid rgba(0, 0, 0, 0);
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 0.4em 0.8em;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.cm-btn-black {
  background-color: #000;
  color: #02bed2;
  box-shadow: 0 0 0.3em 0.3em rgba(255, 255, 255, 0.15);
}
.cm-btn-black:hover {
  color: #ffffff;
}
.cm-btn-white {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}
.cm-btn-white:hover {
  color: #02bed2;
}
.cm-btn,
.cm-form-control {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0 !important;
}
.cm-btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.cm-btn-primary {
  background: #000000;
  color: #02bed2;
}
.cm-btn-lg {
  padding: 1rem 1rem;
  font-size: 2em;
  line-height: 1.55;
}
.cm-form-group {
  padding: 0.3em 1em;
}
.cm-form-group .cm-form-control {
  background: #ededed;
  padding: 0 1.5em 0.3em 1.5em;
}
.cm-form-group .cm-form-control input,
.cm-form-group .cm-form-control select {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  background: none!important;
  border: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none !important;
}
.cm-form-group .cm-form-control input {
  padding-bottom: 0;
}
.cm-form-group .cm-form-control .cm-form-control-inputter {
  border: #cccccc solid 0.15em;
  border-top: 0;
  height: 0.3em;
}
.cm-form-group .cm-form-control {
  background: #ededed;
  padding: 0.3em 1.4em;
}
.cm-form-group .cm-form-control input,
.cm-form-group .cm-form-control select {
  background: none!important;
  border: none !important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0 !important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none !important;
}
.cm-alert {
  padding: 1em;
}
.center-block {
  /*max-width:768px*/
}
.cm-center {
  text-align: center;
}
.container-padding {
  padding: 1em;
}
.input-group-addon {
  background-color: transparent;
}
.input-group-addon.self-size i {
  width: 1em;
}
.cm-lg-icon {
  font-size: 2em;
  vertical-align: middle;
}
.cm-page-header {
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  height: 100px;
}
.cm-page-header h1 {
  text-wrap: none;
  text-align: center;
  color: #666666;
  font-size: 2em;
  margin: 0;
  padding: 5px 15px;
}
.cm-page-header .cm-add-edge-btn {
  font-size: 5em;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}
.cm-page-header .cm-add-edge-btn i.cm-add-edge {
  z-index: 0;
  color: #02bed2;
  position: absolute;
  right: 0;
  top: 0;
}
.cm-page-header .cm-add-edge-btn i.cm-add {
  z-index: 1;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  top: 2px;
}
.cm-list-group-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  border: 1px solid #cccccc;
  border-width: 1px 0;
  background: rgba(255, 255, 255, 0.75);
  color: #666666;
  padding: 5px 0px;
}
.cm-list-group-item a {
  color: #666666;
  display: block;
}
.cm-list-group-item a:after {
  clear: both;
}
.cm-list-group-item:first-child {
  border-top: 0;
}
.cm-list-group-item:last-child {
  border-bottom: 0;
}
.footer-define {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #000000;
  padding: 1px;
  font-size: 1.2em;
}
footer[cm-footer] {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #000000;
  padding: 1px;
  font-size: 1.2em;
}
footer[cm-footer] a {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0 !important;
  color: #fff;
  padding: 12px;
  border-top: 10px solid #000000;
}
footer[cm-footer] a.active,
footer[cm-footer] a:hover {
  color: #02bed2;
  border-top-color: #02bed2;
}
footer.without-drtv {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #000000;
  padding: 1px;
  font-size: 1.2em;
  height: 5.5rem;
  text-align: center;
  margin: 0 auto;
}
.with-footer {
  padding-bottom: 5.5rem;
}
.cm-btn-footer-fixed {
  padding-top: 20px;
}
header.cm-header {
  height: 3rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background: #000000;
  font-size: 1.4em;
  line-height: 2em;
}
header.cm-header i {
  cursor: pointer;
}
header.cm-header [cm-header-back] {
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff;
}
header.cm-header [cm-header-back] i {
  padding: 1em 0.6em 0.6em 0.3em;
}
header.cm-header [cm-header-logo] {
  color: #02bed2;
  text-align: center;
}
header.cm-header [cm-header-menu] {
  color: #02bed2;
  position: absolute;
  right: 0;
  top: 0;
}
header.cm-header [cm-header-menu] i.fa.cm-menu.cm-handler {
  padding: 1em 0 0.6em 0.6em;
}
header.cm-header [cm-header-menu] .cm-menu-layer {
  position: absolute;
  right: 0;
  top: 0;
  width: 20em;
  font-size: 0.7em;
}
header.cm-header [cm-header-menu] .cm-menu-layer .cm-nose-wrapper {
  height: 3rem;
  color: #02bed2;
  text-align: right;
}
header.cm-header [cm-header-menu] .cm-menu-layer .cm-nose-wrapper i {
  position: relative;
  top: 0.4em;
  font-size: 2em;
}
header.cm-header [cm-header-menu] .cm-menu-layer .cm-list-group-item {
  background: #ffffff;
  padding: 0;
  white-space: nowrap;
  cursor: pointer;
}
header.cm-header [cm-header-menu] .cm-menu-layer .cm-list-group-item i {
  width: 3.5em;
  text-align: center;
}
header.cm-header [cm-header-menu] .cm-menu-layer .cm-list-group-item a,
header.cm-header [cm-header-menu] .cm-menu-layer .cm-list-group-item span {
  display: inline-block;
  width: 100%;
}
header.cm-header [cm-header-menu] .cm-menu-layer .cm-list-group-item a:hover {
  color: #02bed2;
  text-decoration: none;
}
header.cm-header [cm-header-menu] .cm-menu-layer .cm-list-group-item:hover {
  color: #02bed2;
}
header.cm-header [cm-header-menu] .cm-menu-layer .cm-menu-header {
  background-color: #02bed2;
  color: #ffffff;
}
header.cm-header [cm-header-menu] .cm-menu-layer .cm-menu-header i {
  text-align: left;
}
header.cm-header [cm-header-menu] .cm-menu-layer .cm-menu-header:hover {
  color: #ffffff;
}
header.cm-header [cm-header-menu] .cm-menu-layer i {
  font-size: 1.7em;
  vertical-align: middle;
}
header.cm-header [cm-header-menu] .modal-backdrop {
  z-index: -1 !important;
}
.with-header {
  padding-top: 3rem !important;
}
.login-screen-start {
  display: block;
  min-height: 14em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  bottom: 0;
  left: 0;
}
.cm-login-container {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0px 1em;
  padding-bottom: 5em;
}
.cm-login-rhino {
  margin-top: 10%;
  font-size: 25em;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}
.cm-login-text {
  margin-top: 2em;
  color: rgba(255, 255, 255, 0.25);
}
.cm-registration-ctn {
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 3rem 3em 0 3.5em;
  position: absolute;
  left: 0;
}
.cm-registration-ctn h4 {
  font-size: 0.875em;
}
.cm-registration-ctn a {
  color: #ffffff !important;
}
.cm-registration-ctn .input-ctn,
.cm-registration-ctn input {
  background-color: #f1f1f1;
}
.cm-registration-ctn input,
.cm-registration-ctn input:focus,
.cm-registration-ctn .input-group-addon,
.cm-registration-ctn .form-control,
.cm-registration-ctn .progress {
  border: none !important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0 !important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none !important;
}
.cm-registration-ctn .progress {
  height: 0.3em !important;
}
.cm-list-group-item a .cm-avatar {
  width: 50px;
  height: 50px;
  background: #666666;
  float: left;
  margin-right: 10px;
}
.cm-list-group-item a .cm-message-info {
  float: right;
  padding: 0 5px;
  font-size: 1em;
  text-align: right;
  color: #000000;
}
.cm-list-group-item a .cm-message-body {
  margin-left: 60px;
  margin-right: 160px;
}
.cm-list-group-item a .cm-recipients {
  color: #02bed2;
  position: relative;
  display: inline-block;
}
.cm-list-group-item a .cm-recipients i.fa.cm-group {
  font-size: 3.5em;
}
.cm-list-group-item a .cm-recipients .cm-recipient-qty {
  font-size: 0.9em;
  color: #ffffff;
  position: absolute;
  left: 13px;
  bottom: 9px;
  width: 1.4em;
  text-align: center;
}
.cm-list-group-item a [cm-message-small] div {
  word-wrap: break-word;
}
.form-signin .form-signin-heading {
  color: #666666;
  text-align: center;
}
.form-signin .form-control {
  position: relative;
  font-size: 1em;
  height: auto;
  padding: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
input[type="checkbox"] {
  border: none !important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0 !important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none !important;
}
.form-registry-head {
  border-bottom: 0.05em solid #EEEEEE;
  margin-bottom: 3em;
}
li.message-list {
  displaY: block;
  min-height: 4em;
  overflow: hidden;
  border: 0.05em solid black;
  margin-bottom: 0.8em;
  padding: 0.3em;
  word-wrap: break-word;
  background-color: #d3d3d3;
}
/* cameo directives */
cm-message,
cm-conversation,
cm-message-input {
  display: block;
}
cm-avatar,
cm-message-small,
cm-attachments {
  display: inline-block;
}
cm-message {
  margin: 2em 0;
  word-wrap: break-word;
}
cm-message article.left {
  text-align: left;
}
cm-message article.right {
  text-align: right;
}
cm-message footer {
  clear: both;
}
textarea[cm-message-input] {
  width: 100%;
  min-height: 3em;
}
.alert-mini-padding {
  padding: 0.3em;
}
/* modal */
.cm-modal-with-title .modal-dialog {
  margin-top: 10em;
}
.cm-modal-with-title .modal-dialog .modal-outer-title {
  text-align: center;
  width: 100%;
  position: absolute;
  top: -6em;
  color: #02bed2;
}
.modal-dialog .cm-alert {
  font-size: 1.2em;
  margin-bottom: 0;
}
.modal-dialog .cm-alert .fa.cm-info {
  color: #ff6600;
  font-size: 2em;
  vertical-align: middle;
}
.modal-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
}
/* cm-language-select */
[cm-language-select] {
  position: absolute;
  right: 0.7em;
  top: 0.7em;
}
