@cm-ci-color: #02BED2;
@cm-grey: #666666;
@cm-light-grey: #EDEDED;
@cm-border-grey: #CCCCCC;
@cm-white: #FFFFFF;
@cm-black: #000000;
@cm-bg-color: @cm-black;
@cm-danger-color: #FF6600;

@header-height: 64px;
@footer-height: 70px;

/* common styles */
html {font-size: 1em}

html, body {height:100%;margin:0;padding:0}
body {width:100%;background-color:@cm-bg-color/*overflow:hidden;<-zerstört das scrollen in talks im ff*/}
pre {text-align:left}

.without-box-radius{-webkit-border-radius:0!important;-moz-border-radius:0!important;border-radius:0!important}
.without-box-shadow{-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important}
.clear-form-border{border:none !important; .without-box-radius; .without-box-shadow}

.clearfix:after{content: ".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}

.mt5{margin-top:5px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px !important}
.mb30{margin-bottom:30px}
.mr30{margin-right:30px}
.mt30{margin-top:30px}

.pos-tr{position:absolute;right:0;top:0}
.pos-tl{position:absolute;right:0;left:0}
.pos-br{position:absolute;bottom:0;right:0}
.pos-bl{position:absolute;bottom:0;left:0}

.cm-fl{float:left}
/* bootstrap overwrites */
#cm-app-background{width:100%;min-height:100%;margin:0;padding:0;background-size:cover;background-position:center;background-repeat:no-repeat;background-image: url('../gfx/backgroundStart.jpg')}

.cm-ci-color{color:@cm-ci-color}
.cm-ci-color-bg{background-color:@cm-ci-color}

.cm-btn-black, .cm-btn-white {width:172px;height:42px}
.cm-btn-black{background-color:#000;color:@cm-white;box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.15)}
.cm-btn-white{background-color: rgba(255, 255, 255, 0.15);color:@cm-white}

.cm-ci-color {color:@cm-ci-color}
.cm-btn,.cm-form-control{-webkit-border-radius:0!important;-moz-border-radius:0!important;border-radius:0!important}
.cm-btn-block{display:block;width:100%;padding-right:0;padding-left:0}
.cm-btn-primary{background:@cm-bg-color;color:@cm-ci-color}
.cm-btn-lg{padding:15px 16px;font-size:25px;line-height:1.55}

.cm-form-group{
  padding:5px 15px;
  .cm-form-control{
    background:@cm-light-grey;padding:0 20px 5px 20px;
    input,select{-webkit-border-radius:0!important;-moz-border-radius:0!important;border-radius:0!important;background:none!important;border:none!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important}
    input{padding-bottom:0}
    .cm-form-control-inputter{border:@cm-border-grey solid 2px;border-top:0;height:5px}
  }
}

.cm-alert{padding:15px}

.center-block{max-width:768px}
.cm-center{text-align:center}
.container-padding{padding:15px}

.input-group-addon{background-color: transparent}
.input-group-addon.self-size i{width:14px}

.cm-nose-wrapper{}

.cm-lg-icon{font-size:2em;vertical-align:middle}

.cm-page-header{
  background:rgba(255,255,255,0.50);position:relative;height:100px;
  h1{text-wrap:none;text-align:center;color:@cm-grey;font-size:2em;margin:0;padding:5px 15px}
  .cm-add-edge-btn{
    font-size:5em;
    .pos-tr;padding:0;
    i.cm-add-edge{z-index:0;.cm-ci-color;.pos-tr}
    i.cm-add{z-index:1;color:@cm-white;.pos-tr;top:2px}
  }
}

input[type="checkbox"]{border:none !important;box-shadow: none !important}

.form-registry-head{border-bottom: 1px solid #EEEEEE;margin-bottom: 40px}

li.message-list {width:800px;min-height:50px;overflow:hidden;border:1px solid black;margin-bottom:10px;padding:5px;word-wrap:break-word;background-color:#d3d3d3}
/* cameo directives */
cm-message,cm-conversation,cm-message-input{display:block}
cm-avatar,cm-message-small,cm-attachments{display:inline-block}
cm-message{margin:2em 0;word-wrap:break-word}
cm-message article.left{text-align:left}
cm-message article.right{text-align:right}
cm-message footer{clear:both}

textarea[cm-message-input]{width:100%;min-height:3em}

.alert-mini-padding{padding:5px}

/* validate */
.cm-alert{
  font-size:1.2em;margin-bottom:0;
  .fa.cm-info{
    color:@cm-danger-color;font-size:2em;vertical-align:middle;
  }
}

/* modal */
.cm-modal-with-title{
  .modal-dialog{
    margin-top:150px;
    .modal-outer-title{text-align:center;width:100%;position:absolute;top:-80px;.cm-ci-color}
  }
}
.modal-spinner{position:fixed;top:50%;left:50%;z-index:999}

/* Login Screen */
.login-screen-start{width:100%;height:45%;text-align:center;background-color:rgba(0,0,0,0.7);color:@cm-white;position:absolute;bottom:0;left:0}
.cm-login-container{width:460px;text-align:center;margin:0 auto;padding:0px 15px}
.cm-login-rhino{margin-top:10%;font-size:25em;color:rgba(0,0,0,0.7);position:relative;}
.cm-login-text{margin-top:30px;color:rgba(255, 255, 255, 0.25)}

.form-signin {
  .form-signin-heading{color:@cm-grey;text-align:center}
  .form-control{position:relative;font-size:16px;height:auto;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
  .form-control:focus{z-index:2}
}

/* Registration Screen */
@reg-input-bg-color: #F1F1F1;
.cm-registration-ctn{
  width:100%;height:100%;text-align:left;background-color:rgba(0,0,0,0.7);color:#fff;padding:@header-height 40px  0 40px;position:absolute;left:0;
  h4 {font-size:0.875em}
  .input-ctn, input{background-color:@reg-input-bg-color}
  input, input:focus ,.input-group-addon, .form-control, .progress {.clear-form-border}
  .progress {height:5px !important}
}

/* header */
header.cm-header{
  height:@header-height;position:fixed;left:0;right:0;top:0;z-index:100;background:@cm-bg-color;font-size:2.4em;line-height:2em;
  i{
    cursor:pointer
  }
  [cm-header-back]{
    position:absolute;left:0;top:0;color:@cm-white;
    i{
      padding:15px 10px 10px 5px;
    }
  }
  [cm-header-logo]{
    .cm-ci-color;text-align:center;
  }
  [cm-header-menu]{
    .cm-ci-color;position:absolute;right:0;top:0;
    i.fa.cm-menu{
      padding:15px 0 10px 10px;
    }
    .cm-menu-layer{
      .pos-tr;width:250px;
      .cm-nose-wrapper{
        height:@header-height;.cm-ci-color;text-align:right;font-size:1.5em;
        i{
          position:relative;top:2px
        }
      }
      .cm-list-group-item{
        background:@cm-white;padding:0;border:0;
      }
      .cm-menu-header{
        .cm-ci-color-bg;
        a{color:@cm-white}
      }
    }
  }
}
.with-header{padding-top:@header-height !important}

/* footer */
.footer-define{position:fixed;left:0;right:0;bottom:0;z-index:1;background-color:@cm-bg-color;padding:1px;font-size:1.2em}
footer[cm-footer]{
  .footer-define;
  a{.without-box-radius;color:#fff;padding:12px;border-top:10px solid @cm-bg-color}
  a.active,a:hover{.cm-ci-color;border-top-color:@cm-ci-color}
}

footer.without-drtv{.footer-define; height:@footer-height;text-align:center;margin:0 auto}
.with-footer{padding-bottom:@footer-height}
.cm-btn-footer-fixed{padding-top:20px}

/* cm-language-select */
[cm-language-select]{
  position:absolute;right:10px;top:10px
}

/* list */
.cm-list-group-item {
  position:relative;display:block;margin-bottom:-1px;border:1px solid @cm-border-grey;background:rgba(255,255,255,0.75);color:@cm-grey;padding:5px 0px;
  a{
    color:@cm-grey;display:block;
    .cm-avatar{
      width:50px;height:50px;background:@cm-grey;float:left;margin-right:10px;
    }
    .cm-message-info{float:right;padding:0 5px;font-size:1em;text-align:right;color:@cm-black}
    .cm-message-body{margin-left:60px;margin-right:160px}
    [cm-message-small] div{word-wrap:break-word}
    &:after{clear:both}
  }
}