@cm-ci-color: #02BED2;
@cm-light-grey: #EDEDED;
@cm-grey: #666666;
@cm-dark-grey: #444444;
@cm-border-grey: #CCCCCC;
@cm-white: #FFFFFF;
@cm-black: #000000;
@cm-green: #66CC00;
@cm-bg-color: @cm-black;
@cm-warning-color: #FF6600;
@cm-input-bg-color: #EDEDED;
@cm-overlay-dark:rgba(0,0,0,0.7);
@cm-overlay-light:rgba(255,255,255,0.7);

@cm-form-alert-red: #F4DFDF;

@cm-header-height: 4rem;
@cm-footer-height: 4rem;
@cm-app-width: 32rem;

@cm-border-radius: 0.357em;

@cm-large-font: 1.4em;

// Message
@cm-msg-bg-color-own:#F3F3F3;
@cm-msg-bg-color-other:#FFFFFF;
@cm-message-left-max-width: 25.9rem;
@cm-message-right-max-width: 25rem;
@cm-message-min-width: 20rem;

// General page layout

html, body {
    height:100%;
    margin:0;
    padding:0;    
}

body {
    font-size: 1em;
    width:100%;
    background-color:#fff;
    cursor:default;
  //overflow:hidden;<-zerstört das scrollen in talks im ff
}
pre {
    text-align:left
}

a {
    text-decoration: none !important;

    &:hover,
    &:focus, {
        color:inherit;
    }
}

a,button{
    text-overflow: ellipsis;
    text-align:center;
    border:none;
    white-space:nowrap;
    overflow:hidden;
}

ul {
    padding:0;
    margin:0;
    list-style: none;
}

li {
    padding:0;
    margin:0;
    list-style: none;
}

#cm-app{
    display:block;
    position:relative;
    min-height: 100%; /* Mindesthöhe für moderne Browser */
    height: auto !important; /* Für moderne Browser */
    height: 100%; /* "Mindesthöhe" für IE <7 */
    padding:0;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-image: url('../gfx/backgroundStart.jpg');
    //max-width is set via javascript in screen.js
    margin:0 auto;
}

#cm-app.landscape {
    box-shadow: 0 0 1em @cm-black; 
}

.cm-content {
    position:relative;
    padding-top: @cm-header-height;
    padding-bottom: @cm-footer-height;
    min-height: 100%; /* Mindesthöhe für moderne Browser */
    height: auto !important; /* Für moderne Browser */
    height: 100%; /* "Mindesthöhe" für IE <7 */
    box-sizing:border-box;

    section{
        font-size: 1.2em;

        > header {
            position:relative;
            padding-top:1rem;
            padding-bottom: 1.5rem;

            h1 {
                display:block;            
                margin:0;
                margin-bottom: 1rem;
                line-height:1.2em;
                font-size: 1.2em;
                text-align:center;
                font-weight:bold;            
            }
        }
    }
    &.no-header{padding-top:0px}
    &.no-footer{padding-bottom:0px}
}

.cm-page-body{
    color:@cm-white;
    padding:3em;
}

.single-line{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.without-border-radius{
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important;
    border-radius:0!important
}

.without-box-shadow{
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important;
    box-shadow:none!important
}

.white-text-shadow{
  text-shadow:0 0.07em 0.07em rgba(255, 255, 255, 1);
}

.clear-form-border{
    border:none !important; 
    .without-border-radius; 
    .without-box-shadow
}

.clearfix:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;height:0
}

.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}

.mt5{margin-top:0.3rem}
.mb5{margin-bottom:0.3rem}
.ml15{margin-left:1rem}
.mb10{margin-bottom:0.6rem !important}
.mb30{margin-bottom:2rem}
.mr30{margin-right:2rem}
.mt30{margin-top:2rem}
.tac{text-align:center}

.pos-tr{position:absolute;right:0;top:0}
.pos-tl{position:absolute;right:0;left:0}
.pos-br{position:absolute;bottom:0;right:0}
.pos-bl{position:absolute;bottom:0;left:0}

.cm-fl{float:left}
.cm-fr{float:right}

.app-spinner{
  text-align:center;
  font-size:20em;
  position:absolute;
  width:100%;
  left:0;
  right:0;
  z-index:1000;
}
