@cm-ci-color: #02BED2;
@cm-grey: #666666;
@cm-light-grey: #EDEDED;
@cm-border-grey: #CCCCCC;
@cm-white: #FFFFFF;
@cm-black: #000000;
@cm-bg-color: @cm-black;
@cm-danger-color: #FF6600;
@cm-input-bg-color: #EDEDED;
@cm-overlay-light:rgba(0,0,0,0.7);

@cm-form-alert-red: #F4DFDF;


@header-height: 3rem;
@footer-height: 3rem;
@app-width: 32rem;

html, body {
    height:100%;
    margin:0;
    padding:0;
}

body {
    font-size: 1em;
    width:100%;
    background-color:#fff;
    cursor:default;
  //overflow:hidden;<-zerstört das scrollen in talks im ff
}
pre {
    text-align:left
}

#cm-app{
    display:block;
    height:100%;
    margin:0;
    padding:0;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-image: url('../gfx/backgroundStart.jpg');
    //max-width is set via javascript in screen.js
    margin:auto
}

.cm-content {
    padding-top: @header-height;
    padding-bottom: @footer-height;
    height: 100%;
}








.without-border-radius{
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important;
    border-radius:0!important
}

.without-box-shadow{
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important;
    box-shadow:none!important
}

.white-text-shadow{
  text-shadow:0 0.07em 0.07em rgba(255, 255, 255, 1);
}

.clear-form-border{
    border:none !important; 
    .without-border-radius; 
    .without-box-shadow
}

.clearfix:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;height:0
}

.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}

.mt5{margin-top:0.3rem}
.mb5{margin-bottom:0.3rem}
.mb10{margin-bottom:0.6rem !important}
.mb30{margin-bottom:2rem}
.mr30{margin-right:2rem}
.mt30{margin-top:2rem}
.tac{text-align:center}

.pos-tr{position:absolute;right:0;top:0}
.pos-tl{position:absolute;right:0;left:0}
.pos-br{position:absolute;bottom:0;right:0}
.pos-bl{position:absolute;bottom:0;left:0}

.cm-fl{float:left}

.app-spinner{
  text-align:center;
  font-size:20em;
  position:absolute;
  width:100%;
  left:0;
  right:0;
  z-index:1000;
}
