/*
unicode number table for css selectors

0	1	2	3	4	5	6	7	8	9
\30	\31	\32	\33	\34	\35	\36	\37	\38	\39

exp.:
.\33ggp -> .3ggp
*/
@cm-ci-color: #02BED2;
@cm-light-grey: #EDEDED;
@cm-readed-grey: #B5B5B5;
@cm-lightdark-grey: #999999;
@cm-grey: #666666;
@cm-grey-new: #555555;
@cm-dark-grey: #444444;
@cm-border-grey: #CCCCCC;
@cm-border-lightgrey: #eeeeee;
@cm-white: #FFFFFF;
@cm-black: #000000;
@cm-green: #66CC00;
@cm-yellow: #FFCC00;
@cm-red: #CC0000;
@cm-bg-color: @cm-black;
@cm-warning-color: #FF6600;
@cm-input-bg-color: @cm-light-grey;
@cm-overlay-dark:rgba(0,0,0,0.7);
@cm-overlay-light:rgba(255,255,255,1);
@cm-overlay-light-transparent:rgba(255,255,255,0.4);
@cm-color-positive: @cm-green;
@cm-color-negative: @cm-red;

@cm-form-alert-red: #F4DFDF;

@cm-notify-success: @cm-green;
@cm-notify-info: @cm-ci-color;
@cm-notify-warn: @cm-warning-color;
@cm-notify-error: @cm-red;

// new color!!!
@cm-grey-btn: #555555;
@cm-grey-font: #555555;

@cm-unit: 4rem;
@cm-vertical-padding: 0.3rem;
@cm-horizontal-padding: 0.3rem;

@cm-header-height: @cm-unit + 2*@cm-vertical-padding;
@cm-footer-height: @cm-unit;

@cm-app-width: 32rem;

@cm-small-font: 1.0rem;
@cm-base-font:  1.2rem;
@cm-large-font: 1.5rem;
@cm-mega-font: 2rem;

@cm-font-color: @cm-dark-grey;
@cm-font-color-light: @cm-grey;

@cm-border-radius: 0.3rem;
@cm-border-width: 0.1rem;

// Message
@cm-msg-bg-color-own:#F3F3F3;
@cm-msg-bg-color-other:#FFFFFF;
@cm-message-left-max-width: 24rem;
@cm-message-right-max-width: 24rem;
@cm-message-min-width: 20rem;

// General page layout

//::selection {color:inherit;background:transparent}
//::-moz-selection {color:inherit;background:transparent}
.is-selectable::selection {color:@cm-white;background:@cm-ci-color;}
.is-selectable::-moz-selection {color:@cm-white;background:@cm-ci-color;}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  background: transparent !important;
  background-color: transparent !important;
  color:@cm-grey;
}
input {
  -webkit-user-select: auto !important;
}

html, body {
    height:100%;
    margin:0;
    padding:0;    
}

body {
    font-size: @cm-base-font;
    width:100%;
    background-color:#fff;
    cursor:default;
  //overflow:hidden;<-zerstört das scrollen in talks im ff
}
pre {
    text-align:left
}

a {
  text-decoration: none !important;
  &:hover,
  &:focus {
    color:inherit;
  }
}
// only extern links
a[target='_blank'], .classic-link {
  text-decoration: underline !important;
  color:@cm-ci-color !important;
  &:hover,
  &:focus {
    color:@cm-ci-color !important;
    text-decoration: none !important;
  }
}

a,button{
    text-overflow: ellipsis;
    text-align:center;
    border:none;
    white-space:nowrap;
    overflow:hidden;
    padding:0;
    margin:0;
    background:transparent; 
    cursor:pointer;
}

h2, .h2 {
  font-size:1.875em;
}
h1, h2, h3 {
  margin:0.625em 0;
}

ul {
  padding:0;
  margin:0;
  list-style: none;
}

li {
  padding:0;
  margin:0;
  list-style: none;
}

textarea{background-image:none;border:solid @cm-border-width @cm-border-grey !important;}
input{background-image:none;}

textarea:focus, button:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset, 0 0 0 rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

#cm-app, #cm-bg-wrapper{
  display:block;
  position:relative;
  min-height: 100%; /* Mindesthöhe für moderne Browser */
  height: auto !important; /* Für moderne Browser */
  height: 100%; /* "Mindesthöhe" für IE <7 */
  padding:0;
  //max-width is set via javascript in screen.js
  margin:0 auto;
}

#cm-app {
  background: transparent;
  z-index: 2;
}
#cm-app.full-height {
  .full-height;
}

#cm-bg-wrapper {
  width: 100%;
  position: fixed !important;
  z-index: 1;
  //background-size:cover;
  background-image: url('../gfx/background/app.jpg');
  &.start-page{
    background-image: url('../gfx/background/start.jpg');
  }
}

#cm-app.landscape {
  box-shadow: 0 0 1em @cm-black;
}

.cm-content {
  position:relative;
  padding-top: @cm-header-height;
  padding-bottom: @cm-footer-height;
  min-height: 100%; /* Mindesthöhe für moderne Browser */
  height: auto !important; /* Für moderne Browser */
  height: 100%; /* "Mindesthöhe" für IE <7 */
  box-sizing:border-box;

  section{
    header.cm-list-header {
      position:relative;
      padding:1.5rem;
      background:rgba(255,255,255,0.5);
      h1 {
        display:block;
        margin:0;
        text-align:center;
        font-weight:bold;
        font-size:@cm-large-font;
        margin-bottom:0.5rem;
      }
      cm-search-input, .cm-search-input{
        width:100%;
      }
    }
  }
  &.no-header{padding-top:0px}
  &.no-footer{padding-bottom:0px}

  hr {
    background-color: @cm-border-grey;
    border: none;
    border-bottom: 0.01*@cm-unit solid @cm-border-grey;
    margin: 1em 0.1rem;
    height:1px;
  }
}

.cm-page-body{
  color:@cm-white;
  padding:3em;
}

.single-line{
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.with-cursor{
  cursor:pointer;
}

.without-border-radius{
  -webkit-border-radius:0!important;
  -moz-border-radius:0!important;
  border-radius:0!important
}

.without-box-shadow{
  -webkit-box-shadow:none!important;
  -moz-box-shadow:none!important;
  box-shadow:none!important
}

.white-text-shadow{
  text-shadow:0 0.07em 0.07em rgba(255, 255, 255, 1);
}

.grey-box-shadow{
  -webkit-box-shadow:0 0.2em 0.5em 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow:0 0.2em 0.5em 0 rgba(50, 50, 50, 0.5);
  box-shadow:0 0.2em 0.5em 0 rgba(50, 50, 50, 0.5);
}

.clear-form-border{
  border:none !important;
  .without-border-radius;
  .without-box-shadow
}

.border-radius{
  -moz-border-radius:0.5rem;
  -webkit-border-radius:0.5rem;
  border-radius:0.5rem;
}

.border-radius-bottom{
  -moz-border-radius-bottomright:0.5rem;
  -webkit-border-bottom-right-radius:0.5rem;
  border-bottom-right-radius:0.5rem;
  -moz-border-radius-bottomleft:0.5rem;
  -webkit-border-bottom-left-radius:0.5rem;
  border-bottom-left-radius:0.5rem;
}
.border-radius-top{
  -moz-border-radius-topright:0.5rem;
  -webkit-border-top-right-radius:0.5rem;
  border-top-right-radius:0.5rem;
  -moz-border-radius-topleft:0.5rem;
  -webkit-border-top-left-radius:0.5rem;
  border-top-left-radius:0.5rem;
}

.clearfix:after{
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;height:0
}

.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}

.w20{width:20% !important}
.w30{width:30% !important}
.w40{width:40% !important}
.w50{width:50% !important}
.w60{width:60% !important}
.w70{width:70% !important}
.w75{width:75% !important}
.w80{width:80% !important}
.mt5{margin-top:0.3rem}
.mb5{margin-bottom:0.3rem}
.ml15{margin-left:1rem}
.mb10{margin-bottom:0.6rem !important}
.mb30{margin-bottom:2rem}
.mr30{margin-right:2rem}
.mt30{margin-top:2rem}
.tac{text-align:center}
.tar{text-align:right}
.tal{text-align:left}
.dib{display:inline-block}

.no-pad{padding:0 !important}

.pos-tr{position:absolute;right:0;top:0}
.pos-tl{position:absolute;right:0;left:0}
.pos-br{position:absolute;bottom:0;right:0}
.pos-bl{position:absolute;bottom:0;left:0}

.cm-fl{float:left}
.cm-fr{float:right}
.cm-bold{font-weight:bold;}

.full-height{
  height:100% !important;
}

.empty-list{
  padding:1.5em;
  white-space:nowrap;
  background:@cm-white;
  i{
    color:@cm-ci-color;
  }
}

.app-spinner{
  display:table;
  text-align:center;
  position:absolute;
  z-index:10000;
  width:100%;
  height:100%;
  background:@cm-black;
  .app-spinner-center{
    display:table-cell;
    vertical-align: middle;
  }
}

[ng-click] {
  cursor:pointer;
}
