cm-contact-tag {
    display: block;  
    background: @cm-overlay-light;
    color: @cm-font-color;
    border-bottom: solid @cm-border-grey @cm-border-width;
    height: @cm-unit + 2*@cm-vertical-padding;
    position:relative;
    padding: @cm-vertical-padding 0;
    overflow:hidden;

    > * { 
        height: @cm-unit;
        width: @cm-unit;
        vertical-align:middle;
        padding:0;
    }

    cm-contact-brief{
        display: inline-block;
        text-align:left;
        padding: 0 @cm-horizontal-padding;

        .name {            
            .single-line;            
            line-height: 0.5*@cm-unit;
            font-weight: bold;
        }

        .about {
            .single-line;
            font-size:@cm-small-font;
            line-height:0.5*@cm-unit;
            color: @cm-font-color-light;
            margin:0;
            padding:0;
        }
    }

    .separator{
        display:inline-block;
        width: 0.1*@cm-unit;
        height: 0.8*@cm-unit;
        border-left:@cm-border-width solid @cm-border-grey;
        border-right:@cm-border-width solid @cm-border-grey;
        padding: 0;
        margin: 0.1*@cm-unit 0;
    }

    button {
        width: @cm-unit;
        height: @cm-unit;
        background: transparent;
        font-size: 0.8*@cm-unit;
        line-height:  @cm-unit;
        overflow:hidden;
        color:@cm-ci-color;

        &:disabled{
            color:@cm-light-grey;
        }
    }

    /*
    

    
    

    .actions {      
        .single-line;  
        position:absolute;
        width: 50%;
        right: 0;
        top:0.3em;
        line-height:3em;
        height:3em;
        text-align:right;

        *{ vertical-align:middle; }


    }

    */
}


cm-contacts-filter-controls{
    display: block;
    height: @cm-header-height;
    line-height: @cm-header-height;

    .sort, .filter{
        display:inline-block;
        width: 15.95rem;

        button {
            display:block;
            color: @cm-ci-color;
            background: @cm-bg-color;
            height: @cm-header-height;
            line-height: @cm-header-height;
            width:100%;
            padding: 0;
            margin:0;            
            border:none;            
        }

    }    

    .sort{
        margin-right:0.05rem;        

        .overlay {
            left:0;
        }
    }

    .filter{
        margin-left:0.05rem;           

        .overlay {
            right:0;
        }
    }

    .overlay{
        position: absolute;
        background: @cm-dark-grey;   
        color: @cm-border-grey;
        width: 16rem;
        z-index:99;

        li{
            border-top:@cm-border-width solid @cm-border-grey;
            text-align:center;
        }        
    }
}

cm-contacts-list{
    display:block !important;
}

cm-key-level {
    text-align:center;
    padding:0.5em;
    line-height: 1em;
    white-space:normal;
}
