cm-header{
    display:block;
    position:fixed;
    top:0;
    z-index:100;
    height:@cm-header-height;
    width:@cm-app-width;  
    color:@cm-white;
    background:@cm-bg-color;  
    line-height:@cm-header-height;
    font-size:1.4em;
    white-space: nowrap;


    cm-back{

        text-align:left;

        i {
            margin-right: 0.5rem;
            vertical-align: text-bottom;
        }

        span {
            font-size: 1em;

        }
    }

    cm-identity{
        color:@cm-white;
        cursor:pointer;
    }


    cm-logo{
        color:@cm-ci-color;
    } 

    cm-menu{
        color:@cm-ci-color;
        cursor:pointer;   

        .cm-menu-layer{
          .pos-tr;width:10em;font-size:0.7em;
          .cm-nose-wrapper{
            .cm-ci-color;text-align:right;
            i{position:relative;font-size:@cm-header-height}
          }

          .cm-list-group-item{
            background:@cm-white;padding:0;white-space:nowrap;cursor:pointer;
            i{width:1.5em;text-align:center}
            a,span{display:inline-block;width:100%}
            a:hover{.cm-ci-color;text-decoration:none}
            &:hover{.cm-ci-color}
          }

          .cm-menu-header{
            .cm-ci-color-bg;color:@cm-white;
            i{text-align:left}
            &:hover{color:@cm-white}
          }

          i{font-size:1.7em;vertical-align:middle}
        }

        .modal-backdrop{
          z-index:-1!important
        }
    }
}