.cm-input-ctn{
    background-color: @cm-white;
    display: block;
    padding: 0.5rem 1.5rem;
    margin: 0.5em 0;
}

.cm-input-ctn input{
    background-color: @cm-white !important;
    width: 23rem;
    padding:0;
    margin:0;
    border:none;
}

.cm-input-ctn ~ .progress {
    margin-top: -0.8em;
    margin-bittom: 0.5em;
    background:transparent; 
}