.theme-a {
  cm-identity-tag{
    width:100%;
    min-height: 4rem;
    line-height: 1rem;
    display: block;
    position: relative;
    padding: 0.3rem;
    cm-avatar {
      margin-right: 1.5rem;
    }
    .identityName{
      display: inline-block;
      vertical-align: middle;
      .displayName{
        font-weight:bold;
        .mb10;
      }
      .cameoId{
        font-style: italic;
      }
    }
  }
  cm-identity-edit {
    display: block;
    .edit-identity-head {
      cm-avatar {
        width: 8rem;
        height: 8rem;
      }
    }
  }
}