cm-welcome, cm-quick-start, cm-key-info {
  display: block;
  color: @cm-grey-font;
  article.welcome-beta-info {
    position: relative;
    i.cm-beta {
      position: absolute;
      top: 0;
      right: 1rem;
      color: @cm-ci-color;
    }
  }
}