section.settings {
  ul {
    background-color: @cm-white;
    li {
      cm-spinner {
        height: @cm-unit;
        top:@cm-unit/2;
      }

      .with-cursor;
      min-height: 4rem;
      border-bottom: @cm-border-grey @cm-border-width solid;
      position: relative;
      .item {
        color: @cm-grey;
        display: inline-block;
        padding: 1rem;
        width: 100%;
        position: relative;
        .title, .content {
          display: inline-block;
          width: 70%;
        }
        .content{
          position: relative;
          text-align: right;
          right: 0.5rem;
          width: 30% !important;
        }
        i {
          margin-right:1rem;
          font-size:@cm-mega-font;
          vertical-align: middle;
          &.cm-lg-special{
            margin-right:0.7rem;
          }
        }
        .second-row {
          display:block;
          font-size:@cm-small-font;
        }
      }
      .short-links{
        position:absolute;
        background:@cm-white;
        right:0;
        top:0;
        i {
          text-align:center;
          width:@cm-unit;
          height:@cm-unit - 0.1;
          line-height:@cm-unit;
          font-size:@cm-unit/2;
        }
      }
      &.is-disabled{
        .item, .short-links {
          .cm-disabled
        }
      }
      .page {
        padding: 1rem;
        h2{
          font-size:@cm-mega-font;
        }
        h3{
          font-size:@cm-large-font;
        }
        h4{
          font-size:@cm-small-font;
        }
      }
    }
  }
}

.about-us{
  text-align:center;
  .cm-rhino-bubble-glyph{
    font-size:@cm-mega-font * 5 !important;
  }
}

.is-local{
  color:@cm-ci-color;
}
.is-trusted{
  color:@cm-green;
}
.is-untrusted{
  color:@cm-red;
}
.seperator {
  color:@cm-grey;
  padding:0 @cm-horizontal-padding;
  font-weight:normal;
}
