.cm-contact-body{
  text-align: left;
  color: @cm-white;
  padding: 1em 2em;
  .cm-contact-details {
    > div{
      vertical-align:top;
    }
    cm-avatar {
      width: @cm-unit*3;
      height: @cm-unit*3;
      -webkit-box-shadow: 0 0 0.625em 0.125em @cm-white;
      box-shadow: 0 0 0.625em 0.125em @cm-white;
    }
    .cm-contact-widget{
      background:@cm-black;
      .border-radius;
      color:@cm-white;
      font-size: @cm-small-font;
      padding: @cm-horizontal-padding;
      margin-bottom: @cm-vertical-padding;
    }
    .cm-contact-actions {
      color:@cm-grey;
      text-align: center;
      height:@cm-unit*3;
      font-size:@cm-mega-font*2;
      cm-icons{
        letter-spacing: 0;
        white-space:nowrap;
        display:block;
        i + i {
          position: relative;
          left: -1.5rem;
        }
      }
      button {
        &.with-white-bg{
          line-height:@cm-unit*3;
          background:rgba(255,255,255,0.2);
          .border-radius;
        }
      }
      i {
        color:@cm-grey;
      }
    }
  }
  .cm-input-ctn{
    &.with-chooser{
      margin-bottom:0;
    }
  }
  [cm-type-chooser]{
    font-size:0.5em;
    .btn{
      background:@cm-grey-new;
      color:@cm-grey;
      &.btn-primary{
        color:@cm-white;
      }
    }
  }
  .cm-address {
    input {
      display:inline-block;
    }
    .street {
      width: 19rem;
      margin-right: 1rem;
    }
    .streetnr{
      width: 4rem;
    }
    .zip {
      margin-right: 1rem;
      width: 4rem;
    }
    .city {
      width: 19rem;
    }
  }

  button.btn-identity-keys,
  button.btn-identity-trust {
    height: 5.8rem;
  }
  button.btn-identity-keys {
    .border-radius-top;
    margin-bottom: 0.5rem;
  }
  button.btn-identity-trust {
    .border-radius-bottom;
  }
}