.form-signin {
  .form-signin-heading{color:@cm-grey;text-align:center}
  .form-control{position:relative;font-size:1em;height:auto;padding:0.8em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
  .form-control:focus{z-index:2}
}

input[type="checkbox"]{.clear-form-border}

.form-registry-head{border-bottom: 0.05em solid #EEEEEE;margin-bottom: 3em}

li.message-list {
  displaY:block;
  min-height:4em;
  overflow:hidden;
  border:0.05em solid black;
  margin-bottom:0.8em;
  padding:0.3em;
  word-wrap:break-word;background-color:#d3d3d3
}

/* cameo directives */
cm-message,cm-conversation,cm-message-input{display:block}
cm-avatar,cm-message-small,cm-attachments{display:inline-block}
cm-message{margin:2em 0;word-wrap:break-word}
cm-message article.left{text-align:left}
cm-message article.right{text-align:right}
cm-message footer{clear:both}

textarea[cm-message-input]{width:100%;min-height:3em}

.alert-mini-padding{padding:0.3em}

/* modal */
.cm-modal-with-title{
  .modal-dialog{
    margin-top:10em;
    .modal-outer-title{text-align:center;width:100%;position:absolute;top:-6em;.cm-ci-color}
  }
}
.modal-dialog{
  .cm-alert{
    font-size:1.2em;margin-bottom:0;
    .fa.cm-info{color:@cm-danger-color;font-size:2em;vertical-align:middle}
  }
}
.modal-spinner{position:fixed;top:50%;left:50%;z-index:999}


/* cm-language-select */
[cm-language-select]{
  position:absolute;right:0.7em;top:0.7em
}