cm-welcome, cm-quick-start, cm-key-info {
  background-color: @cm-white;
  display: block;
  color: @cm-grey-font;

  article.welcome-beta-info {
    position: relative;
    i.cm-beta {
      position: absolute;
      top: 0;
      right: 1rem;
      color: @cm-ci-color;
    }
  }
//  }
//  div.key-info {
//    margin-top: 2rem;
//  }
//
//  cm-footer i {
  //    margin-left: 1rem;
  //  }
//
//  ul {
//    background-color: @cm-white;@cm-base-font
//    li {
//      .with-cursor;
//      min-height: 4rem;
//      border-bottom: @cm-border-grey @cm-border-width solid;
//      position: relative;
//      .item {
//        color: @cm-grey;
//        display: inline-block;
//        padding: 1rem;
//        width: 100%;
//        position: relative;
//        .title, .content {
//          display: inline-block;
//          width: 70%;
//        }
//        .content{
//          position: relative;
//          text-align: right;
//          right: 0.5rem;
//          width: 30% !important;
//        }
//        i {
//          margin-right:1rem;
//          font-size:@cm-mega-font;
//          vertical-align: middle;
//          &.cm-lg-special{
//            margin-right:0.7rem;
//          }
//        }
//        .second-row {
//          display:block;
//          font-size:@cm-small-font;
//        }
//      }
//      .short-links{
//        position:absolute;
//        background:@cm-white;
//        right:0;
//        top:0;
//        i {
//          text-align:center;
//          width:@cm-unit;
//          height:@cm-unit - 0.1;
//          line-height:@cm-unit;
//          font-size:@cm-unit/2;
//        }
//      }
//      &.is-disabled{
//        .item, .short-links {
//          .cm-disabled
//        }
//      }
//    }
//  }
}
