section.settings {
  ul {
    background-color: @cm-white;
    li {
      .with-cursor;
      min-height: 4rem;
      border-bottom: @cm-border-grey @cm-border-width solid;
      position: relative;
      .item {
        color: @cm-grey;
        display: inline-block;
        padding: 1rem 0 0 1rem;
        width: 100%;
        position: relative;
        .title, .content {
          display: inline-block;
          width: 70%;
        }
        .content{
          position: relative;
          text-align: right;
          right: 0.5rem;
          width: 30% !important;
        }
        i {
          margin-right: 1rem;
        }
      }
      .shortLinks{
        position:absolute;
        right:0;
        top:0;
        i {
          text-align:center;
          width:@cm-unit;
          height:@cm-unit;
          line-height:@cm-unit;
        }
      }
      &.is-disabled{
        .item, .shortLinks {
          opacity: 0.25;
        }
      }
    }
  }
}

.about-us{
  text-align:center;
  .cm-rhino-bubble-glyph{
    font-size:10rem;
  }
}