.cm-registration-ctn{
  text-align:left;
  color:@cm-white;
  padding:3em;

  h4{
      font-size:1.2em
  }

  .input-ctn, input{
    background-color:@cm-input-bg-color;
  }

  label {
    font-weight: normal;
    margin-bottom: 0;
  }

  input, input:focus ,.input-group-addon, .form-control, .progress {.clear-form-border}

  .progress{height:0.3em !important}

  .cm-alert{
      font-size: 0.875em;
      padding: 0.5rem 0;
  }
  .cm-info{
    vertical-align: middle;
    font-size: 1.5em;
  }

  a {
    color:@cm-white;
  }

  .cm-lg-icon {
    font-size:@cm-mega-font;
  }

  .horizontal-line{
    width:100%;
    height:1px;
    background-color:@cm-white;
    margin:@cm-vertical-padding 0;
  }
}
#registerUserButton{
  color:@cm-ci-color;
  cm-spinner{
    height: @cm-unit;
    top:@cm-unit/2;
  }
}