cm-contact-tag {
    display: block;  
    background: @cm-overlay-light;
    color: @cm-font-color;
    border-bottom: solid @cm-border-grey @cm-border-width;
    height: @cm-unit + 2*@cm-vertical-padding;
    position:relative;
    padding: @cm-vertical-padding 1rem @cm-vertical-padding 0.2rem;
    overflow:hidden;

    > *:not(section) {
        height: @cm-unit;
        width: @cm-unit;
        line-height: @cm-unit;
        vertical-align:middle;
        padding:0;
        overflow:hidden;
    }

    cm-contact-brief{
        display: inline-block;
        text-align:left;
        padding: 0 @cm-horizontal-padding;

        .name {            
            .single-line;            
            line-height: 0.5*@cm-unit;
            font-weight: bold;
        }

        .about {
            .single-line;
            font-size:@cm-small-font;
            line-height:0.5*@cm-unit;
            color: @cm-font-color-light;
            margin:0;
            padding:0;
        }
    }

    .separator{
        display:inline-block;
        width: 0.1*@cm-unit;
        height: 0.8*@cm-unit;
        border-left:@cm-border-width solid @cm-border-grey;
        border-right:@cm-border-width solid @cm-border-grey;
        padding: 0;
        margin: 0.1*@cm-unit 0;
    }

    cm-contact-type{
        font-size: 0.5*@cm-unit;
        text-align:center;
        &.internal{
            color: @cm-ci-color;
        }
        &.external{
            color: @cm-font-color;
        }
        &.local{
            color: @cm-font-color;
        }
    }

    cm-avatar{
      margin-right: 0.4rem;
    }

    button {    
//        font-size: 0.8*@cm-unit;
        font-size: 2.5rem;
        color: @cm-ci-color;
        text-align:center;
        &:disabled{
            color:@cm-light-grey;
        }
    }

  &.disabled{
    background-color: @cm-light-grey;
    color: @cm-grey !important;

    > * {
      color: @cm-grey !important;
    }
  }
}

cm-contacts-filter-controls{
    display: block;
    height: @cm-header-height;
    line-height: @cm-header-height;

    .sort, .filter{
        display:inline-block;
        width: 15.95rem;

        button {
            display:block;
            color: @cm-ci-color;
            background: @cm-bg-color;
            height: @cm-header-height;
            line-height: @cm-header-height;
            width:100%;
            padding: 0;
            margin:0;            
            border:none;            
        }

    }    

    .sort{
        margin-right:0.05rem;        

        .overlay {
            left:0;
        }
    }

    .filter{
        margin-left:0.05rem;           

        .overlay {
            right:0;
        }
    }

    .overlay{
        position: absolute;
        background: @cm-dark-grey;   
        color: @cm-border-grey;
        width: 16rem;
        z-index:99;

        li{
            border-top:@cm-border-width solid @cm-border-grey;
            text-align:center;
        }        
    }
}

cm-contacts-list, cm-friend-request-list{
    display:block !important;
}

cm-key-level {
  text-align:center;
  padding:0.5em;
  line-height: 1em;
  white-space:normal;
}

cm-friend-request-list{
  cm-contact-tag{
    button{
      color:@cm-readed-grey;
    }
    &.is-new{
      strong{
        color:@cm-warning-color;
      }
      button{
        color:@cm-ci-color;
      }
    }
    &.message-open{
      height:auto;
      .cm-request-brief{
        overflow:visible;
        white-space:normal;
        height:auto;
      }
    }
    &.show-bar{
      height:auto;
    }
  }
  .cm-request-brief{
    padding-left:1em;
    &.with-message{
      line-height:2rem;
    }
  }
  .cm-request-bar{
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    border-top: 1px solid @cm-light-grey;
    text-align: center;
    button {
      display: inline-block;
      font-size: 1.1em;
    }
    button, i {
      color: @cm-grey;
    }
  }
}

cm-contacts-search{
  cm-contact-tag {
    button {
      color: @cm-readed-grey;
    }
  }
}

cm-modal{
  &#modalSendRequest{
    .cm-request-brief{
      line-height:4rem;
      padding-left:0.5rem;
    }
  }
}