.form-signin {
  .form-signin-heading{color:@cm-grey;text-align:center}
  .form-control{position:relative;font-size:1em;height:auto;padding:0.8em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
  .form-control:focus{z-index:2}
}

input[type="checkbox"]{.clear-form-border}

.form-registry-head{border-bottom:@cm-border-width solid #EEEEEE;margin-bottom: 3em}

li.message-list {
  displaY:block;
  min-height:4em;
  overflow:hidden;
  border:@cm-border-width solid black;
  margin-bottom:0.8em;
  padding:0.3em;
  word-wrap:break-word;background-color:#d3d3d3
}

/* cameo directives */
cm-message,cm-conversation,cm-message-input{display:block}
cm-avatar,cm-message-small,cm-attachments{display:inline-block}

textarea[cm-message-input]{width:100%;min-height:3em}

.alert-mini-padding{padding:0.3em}

/* cm-language-select */
[cm-language-select]{
  position:absolute;right:0.7em;top:0.7em;z-index:1
}
[cm-notify]{
  position:absolute;right:0.7em;top:0.7em;z-index:10000;
}