.cm-unread{ color:@cm-warning-color }

.cm-list-group-item{
  a{
    .cm-avatar{
      width:3em;
      height:3em;
      background:@cm-light-grey;
      float:left;
      margin-right:0.2em;
      text-align:center;
      i{
        .cm-ci-color;
        .white-text-shadow;
        font-size:2em;
        line-height:1.6em;
      }
    }
    .cm-message-info{
      float:right;
      padding:0 0.1em;
      font-size:0.7em;
      text-align:right;
      color:@cm-black;
      .cm-messages-qty{
        font-weight:bold;
      }
    }
    .cm-message-body{
      font-size:0.8em;
      margin-left:4em;
      margin-right:10em
    }
    .cm-recipients{
      .cm-ci-color;
      position:relative;
      display:inline-block;
      i.fa.cm-group{
        font-size:3.5em
      }
      .cm-recipient-qty{
        font-size:0.9em;
        color:#ffffff;
        position:absolute;
        left:0.9em;
        bottom:0.8em;
        width:1.4em;
        text-align:center;
      }
    }
    [cm-message-small] div{
      word-wrap:break-word
    }
  }
}