cm-request-list{
  display:block;
  cm-contact-tag{
    height:auto;
    padding:0.3rem;
    button{
      color:@cm-readed-grey;
    }
    &.is-new{
      strong{
        color:@cm-warning-color;
      }
      button{
        outline: 0;
        color:@cm-ci-color;
      }
    }
    &.message-open{
      height:auto;
      .cm-request-brief{
        overflow:visible;
        white-space:normal;
        height:auto;
      }
    }
    &.show-bar{
      height:auto;
    }
  }
  .cm-request-brief{
    display:inline-block;
    vertical-align:top;
    &.with-message{
      line-height:2rem;
    }
    &.message-close{
      overflow:hidden;
      text-overflow:ellipsis;
    }
  }
  .cm-request-bar{
    margin-top:0.2rem;
    padding-top:0.2rem;
    border-top:1px solid @cm-light-grey;
    text-align:center;
    button {
      border:none;
      display:inline-block;
      width:50%;
      height:@cm-unit;
    }
    button, i {
      color:@cm-grey;
      font-size:1.2em;
    }
  }
}