section.settings {
  header.inScreen {
    width: 100%;
    color: @cm-grey;
    padding-left: 0.8rem;
    i {
      margin-right: 0;
    }
  }
  ul {
    background-color: @cm-white;
    li {
      height: 3rem;
      border-bottom: @cm-border-grey @cm-border-width solid;
      a {
        color: @cm-grey;
        display: inline-block;
        margin: 0.5rem 0 0 1rem;
      }
      i {
        margin-right: 1rem;
      }
    }
  }
}