.login-screen-start{
  background-color:@cm-overlay-dark;
}

.cm-login-container{
  margin:0 auto;
  padding:0 1em;
  padding-bottom: 2em;
}
.cm-login-rhino{
  margin:0.2em 0;
  font-size:25rem;
  color:@cm-white;
  position:relative;
  left:-0.09em;
}

.cm-login-text{
  margin-top:2em;
  color:rgba(255, 255, 255, 0.25)
}