.cm-list-group-item{
  a{
    .cm-avatar{width:50px;height:50px;background:@cm-grey;float:left;margin-right:10px}
    .cm-message-info{float:right;padding:0 5px;font-size:1em;text-align:right;color:@cm-black}
    .cm-message-body{margin-left:60px;margin-right:160px}
    .cm-recipients{
      .cm-ci-color;position:relative;display:inline-block;
      i.fa.cm-group{font-size:3.5em}
      .cm-recipient-qty{font-size:0.9em;color:@cm-white;position:absolute;left:13px;bottom:9px;width:1.4em;text-align:center}
    }
    [cm-message-small] div{word-wrap:break-word}
  }
}