.login-screen-start{
  div[cm-language-select]{
    margin:2rem 0;
  }
}

.cm-login-container{
  margin:0 auto;
  padding:0 1em;
  padding-bottom: 2em;
}
.cm-login-rhino{
  margin:3rem 0 0 0;
  font-size:23rem;
  color:@cm-white;
  position:relative;
  left:0em;
}

.cm-login-text{
  color:rgba(255, 255, 255, 0.5)
}
.login-page{
    position:relative;
  i.cm-beta{
    position: absolute;
    top: -0.2rem;
    right: 0;
    font-size:@cm-mega-font*5;
    color:@cm-ci-color;
    z-index: 100001;
  }
}

#login h2.form-signin-heading {
  .tac;
  color: @cm-grey;
  background-color: @cm-white;
  font-size: @cm-large-font;
}