#cm-app{
    display:block;
    min-height:100%;
    margin:0;
    padding:0;
    background-size:100% auto;
    background-position:0 0;
    background-repeat:no-repeat;
    background-image: url('../gfx/backgroundStart.jpg');
    //max-width is set via javascript in screen.js
    margin:auto;
}