cm-security-indicator{
    display:block;
    height: 1.6em;
    > * {
        display:inline-block;
        white-space:nowrap;
        line-height:1em;
        font-size:1.6em;
    }
    .positive{
        color: @cm-color-positive;
        float:right;
    }
    .negative{
        color: @cm-color-negative;
    }
}

cm-security-aspect{
    display: block;
    line-height:1.4em;
    margin-bottom:1em;

    cm-icons{
    }

    .name{
        font-weight:bold;
        text-overflow: ellipsis;
        overflow:hidden;
        margin-right: @cm-unit;
    }

    &.positive{

        .name{
            margin-right: 3em;
        }

        cm-icons{
            color:@cm-color-positive;
            float:right;
            text-align:left;
            min-width: 3em;
        }
     }

    &.negative{
        .name{
            margin-left: 3em;
        }

        cm-icons{
            color:@cm-color-negative;
            float:left;
            text-align:right;
            min-width: 3em;
        }
    }

    


}