.content {
  padding: 0 2rem;
}

.display-table {
  position: relative;
  .w100;
  height:100%;
  display: table;
}

.display-table-row {
  .w100;
  display:table-row;
}

.display-table-cell {
  .w100;
  display:table-cell;
}