cm-attachments{
  display:inline-block;
  position:relative;
  width: @cm-unit;
  height: @cm-unit;

  cm-file-input{
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    input{
      .with-cursor;
      bottom: 0;
      font-size: 1000px !important;
      height: 300px;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
    }
  }
}
cm-attachments-preview{
  display:block;
  position:absolute;
  bottom:@cm-unit;
  width:@cm-app-width;
  background-color:rgba(255,255,255,0.9);

  .ng-scope{
    padding:@cm-vertical-padding;
  }

  img{
    max-width:@cm-app-width - 1;
    max-height:@cm-unit * 2;
    margin:0 auto;
    display:block;
  }
}