cm-emoji-list{display:block;max-height:@cm-unit * 3;overflow-y:auto;font-size:@cm-large-font}
cm-emoji-list .emoji-wrapper{cursor:pointer;display:inline-block;padding:5px}
#cm-app {
  .emoji {
    font-size: 1.8em !important
  }
}