cm-emoji-list{display:block;max-height:@cm-unit * 4;overflow-y:auto;font-size:@cm-large-font}
cm-emoji-list .emoji-wrapper{cursor:pointer;display:inline-block}
#cm-app {
  .emoji {
    font-size: 2em !important
  }
}