cm-message{
  &.file-view{
    article{
      color:@cm-white;
      .author span{
        color:@cm-light-grey;
      }
      div.message{
        padding-bottom:1.5em;
        &.left, &.right{
          background-color:@cm-overlay-dark;
        }
        &.left{
          padding-top:1.5rem;
          .text{
            span {
              margin-top: 0;
            }
          }
        }
      }
      span.nose{
        &.left, &.right{
          i {
            color: @cm-overlay-dark;
          }
        }
      }
    }
  }
}

cm-message-file{
  display:block;
  position:relative;
  min-height:@cm-unit;
  margin:0 auto;
  margin-bottom: 0.5em;

  .file-image{
    min-height:@cm-unit;
    position:relative;
    div[cm-spinner]{
      z-index:1;
      position:absolute;
      left:50%;
      top:50%;
    }
    img{
      display:block;
      max-width:@cm-message-min-width;
      min-height:@cm-unit * 2;
      margin:0 auto;
    }
  }
  .file{
    margin:0 auto;
  }
  &:last-child{
    margin-bottom:0;
  }
}

cm-files{
  display:block;
  position:relative;
  width:@cm-unit;
  height:@cm-unit;

  cm-file-choose{
    height:100%;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
    width:100%;

    input{
      .with-cursor;
      bottom:0;
      font-size:1000px !important;
      height:300px;
      margin:0;
      opacity:0;
      padding:0;
      position:absolute;
      right:0;
    }
  }
}

cm-files-preview{
  display:block;
  position:absolute;
  bottom:@cm-footer-height;
  width:@cm-app-width;
  background-color:rgba(255,255,255,0.9);

  .file-list{
    padding:@cm-vertical-padding;
  }

  .file-image{
    position:relative;
    height:@cm-unit * 2;
    margin:0 auto;

    div[cm-spinner]{
      z-index:1;
      position:absolute;
      left:50%;
      top:50%;
    }
    img{
      display:block;
      max-width:@cm-app-width - 1;
      max-height:@cm-unit * 2;
      margin:0 auto;
    }
  }
  .file{
    margin:0 auto;
  }
}

@files: dir dir-download dir-safe dir-public;
@filespx: 60;
@filesnum: length(@files);
.spriteLoop(@index:0) when (@index < @filesnum){
  @name: extract(@files, @index+1);
  @selector: ~".@{name}";
  @posy: @{filespx} * @{index};

  @{selector} {
    .bg-pos(0, -@{posy})
  }
  // next item
  .spriteLoop(@index + 1);
}
.bg-pos(@x:0,@y:0){
  background-position:~`"@{x}px @{y}px"`;
}

.file {
  display: inline-block;
  background:url(../gfx/filetype_map_small.png) transparent 0 -2340px;
  height:60px !important;
  width:60px !important;
  border:0;
  cursor:pointer;
  padding:0;
  vertical-align:text-bottom;

  .spriteLoop();

  &.dir{background-position:0 0}
  &.dir-download{background-position:0 -60px}
  &.dir-safe{background-position:0 -120px}
  &.dir-public{background-position:0 -180px}
  &.pdf{background-position:0 -240px}
  &.txt{background-position:0 -300px}
  &.xlsx{background-position:0 -360px}
  &.doc{background-position:0 -420px}
  &.php{background-position:0 -480px}
  &.css{background-position:0 -540px}
  &.xls{background-position:0 -600px}
  &.zip{background-position:0 -660px}
  &.rar{background-position:0 -720px}
  &.sit{background-position:0 -780px}
  &.jpg{background-position:0 -840px}
  &.gif{background-position:0 -900px}
  &.bmp{background-position:0 -960px}
  &.tif{background-position:0 -1020px}
  &.eps{background-position:0 -1080px}
  &.png{background-position:0 -1140px}
  &.mov{background-position:0 -1200px}
  &.mpg{background-position:0 -1260px}
  &.mp4{background-position:0 -1320px}
  &.flv{background-position:0 -1380px}
  &.avi{background-position:0 -1440px}
  &.xml{background-position:0 -1500px}
  &.html{background-position:0 -1560px}
  &.chm{background-position:0 -1620px}
  &.ttf{background-position:0 -1680px}
  &.exe{background-position:0 -1740px}
  &.dmg{background-position:0 -1800px}
  &.mp3{background-position:0 -1860px}
  &.wav{background-position:0 -1920px}
  &.wma{background-position:0 -1980px}
  &.aif{background-position:0 -2040px}
  &.ogg{background-position:0 -2100px}
  &.\33ggp{background-position:0 -2160px}
  &.ppt{background-position:0 -2220px}
  &.pps{background-position:0 -2280px}
  &.unknown{background-position:0 -2340px}
}