@cm-menu-margin-right: 0.3em;
cm-menu {
  text-align:right;

  i.fa.cm-menu.cm-handler {
    color:@cm-ci-color;
    position:relative;
  }

  .cm-menu-layer {
    position:absolute!important;
    right:0;
    top:0;
    bottom:0;
    i {
      color:@cm-ci-color;
    }
    .cm-nose-wrapper {
      height:@cm-header-height;
      line-height:1em;
      position:relative;
    }
    .cm-nose-wrapper i {
      position:absolute;
      bottom:-0.01em;
      right:0;
      font-size:1.5em;
    }
    ul.list-group {
      background-color:transparent;
      text-align:left;
      margin-bottom:0px;
      i{
        width:1.2em;
        text-align:center;
      }
    }
    .cm-list-group-item{
      background-color: #FFF;
    }
    .cm-list-group-item:first-child {
      background-color:@cm-ci-color;
      color:#fff;
      -webkit-border-top-left-radius:@cm-border-radius;
      -moz-border-radius-topleft:@cm-border-radius;
      border-top-left-radius:@cm-border-radius;
      i {
        color:#fff !important;
      }
    }
    .cm-list-group-itema a{
      font-size:1.4em !important;
    }
    .cm-menu-notify{
      background-color:@cm-light-grey;
    }
  }
}