cm-menu {
  text-align:right;
  .cm-handler{
    .with-cursor;
    text-align: center;
    cm-notify-signal {
      display:block;
      position: relative;
      z-index: 27;
      i{
        font-size:@cm-mega-font + 0.5;
        vertical-align:middle;
      }
    }
    .cm-beta{
      position: absolute;
      color:@cm-ci-color;
      top: -0.2rem;
      right: 0;
      font-size:@cm-mega-font*2;
      z-index: 20;
    }
  }
  .cm-menu-layer {
    position:fixed!important;
    width:@cm-app-width;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    z-index: 2;
    .cm-menu-list{
      display:inline-block;
      overflow-y:auto;
      overflow-x:hidden;
      height:100%;
      width:60%;
      i {
        color:@cm-grey;
        line-height: inherit;
      }
      ul{
        border-top:0;
        background:transparent;
        z-index:1;
        position: relative;
        li{
          clear: both;
          cursor: pointer;
          min-height: 4rem;
          border-bottom: @cm-border-grey @cm-border-width solid;
          position: relative;
        }
      }
      .cm-nose-wrapper {
        height:@cm-header-height;
        line-height:@cm-mega-font;
        position:relative;
        border:0;
        i{
          position:absolute;
          bottom:0.5rem;
          right:0.5rem;
          font-size:@cm-large-font+1;
          color:@cm-light-grey;
        }
      }
      .cm-menu-header {
        cursor:default;
        background-color:@cm-light-grey;
        color:@cm-grey;
        -webkit-border-top-left-radius:@cm-border-radius;
        -moz-border-radius-topleft:@cm-border-radius;
        border-top-left-radius:0.5rem;
        border-top:0;
        white-space:nowrap;
        button {
          width:50%;
          display:inline-block;
          float:left;
          position:relative;
          overflow:visible;
        }
        .seperator{
          position:absolute;
          right:-0.05rem;
          top:20%;
          bottom:20%;
          width:0.1rem;
          background:@cm-grey;
          padding:0;
        }
      }
      i{
        width:@cm-unit - 0.5;
        text-align:center;
        font-size: @cm-mega-font + 0.1;
        &.icon-left {
          float:left;
        }
        &.icon-right{
          width:@cm-unit;
          text-align:right;
          padding-right:0.5rem;
          position:absolute;
          right:0;
        }
      }
      a,span{
        color:@cm-grey;
        text-align:left;
        float:left;
        font-size: 1.5rem;
      }
      button.is-active, button:hover {
        box-shadow: inset 0 -2rem 0rem -1.4rem @cm-grey-new;
      }
      li.is-active{
        a,i,span {
          .cm-ci-color;
        }
      }
      .bottom-filler{
        width:100%;
        background:@cm-white;
        position: absolute;
        z-index:0;
        top:(@cm-header-height)+1em;
        bottom:0;
        right:0;
      }
      .info, .info i, .info span{
        color: @cm-warning-color !important;
      }
    }
  }
}