cm-menu {
  text-align:right;
  .cm-handler{
    .with-cursor;
    text-align: center;
    cm-notify-signal {
      display:block;
      i{
        font-size:@cm-mega-font + 0.5;
        vertical-align:middle;
      }
    }
  }
  .cm-menu-layer {
    position:fixed!important;
    width:@cm-app-width;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    z-index: 2;
    .cm-menu-list{
      display:inline-block;
      overflow-y:auto;
      overflow-x:hidden;
      height:100%;
      width:60%;
      i {
        color:@cm-grey;
        line-height: inherit;
      }
      ul{
        background: transparent;
        &.list-group {
          font-size:@cm-large-font;
          position:relative;
          z-index:1;
          margin-bottom:0;
        }
      }
      .cm-nose-wrapper {
        height:@cm-header-height;
        line-height:@cm-mega-font;
        position:relative;
        i{
          position:absolute;
          bottom:0.25rem;
          right:0.5rem;
          font-size:@cm-large-font+1;
          color:@cm-light-grey;
        }
      }
      .cm-list-group-item{
        .with-cursor;
        text-align:left;
        background-color:@cm-white;
        &.cm-menu-header {
          cursor:default;
          background-color:@cm-light-grey;
          color:@cm-grey;
          -webkit-border-top-left-radius:@cm-border-radius;
          -moz-border-radius-topleft:@cm-border-radius;
          border-top-left-radius:@cm-border-radius;
          border-top:0;
          i {
            color:@cm-grey !important;
          }
        }
        .cm-list-parent-label{
          height: @cm-unit;
          float: left;
          width: 100%;
        }
        i{
          width:@cm-unit - 0.5;
          text-align:center;
          font-size: @cm-mega-font + 0.1;
          &.icon-left {
            float:left;
          }
          &.icon-right{
            width:@cm-unit;
            text-align:right;
            padding-right:0.5rem;
            position:absolute;
            right:0;
          }
        }
        a,span{
          text-align:left;
          float:left;
        }
        &.has-submenu{
          padding-right:0 !important;
          padding-left:0 !important;
          padding-bottom:0 !important;
        }
        .cm-submenu{
          border-top:@cm-border-width solid @cm-border-grey;
          color:@cm-lightdark-grey;
          i{
            color:@cm-lightdark-grey !important;
          }
          li{
            margin-left:@cm-unit - 1.7;
            border-bottom:@cm-border-width solid @cm-border-lightgrey;
            &.is-disabled{
              i{
                .cm-disabled
              }
              span{
                .cm-disabled
              }
            }
            &.is-last{
              border-bottom:0;
            }
          }
          .gradient {
            &-top {
              margin-left:0;
              height:1rem;
              min-height:0;
              border:0;
              background: -moz-linear-gradient(top, rgba(242, 242, 242,1) 0%, rgba(242, 242, 242, 0) 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(100%, rgba(242, 242, 242, 0)));
              background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%);
              background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%);
              background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%);
              background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0) 100%);
            }
            &-bottom {
              margin-left:0;
              height:1rem;
              min-height:0;
              border:0;
              background: -moz-linear-gradient(top, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 1) 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 242, 242, 0)), color-stop(100%, rgba(242, 242, 242, 1)));
              background: -webkit-linear-gradient(top, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 1) 100%);
              background: -o-linear-gradient(top, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 1) 100%);
              background: -ms-linear-gradient(top, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 1) 100%);
              background: linear-gradient(to bottom, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 1) 100%);
            }
          }
        }
      }
      .cm-menu-notify{
        //background-color:@cm-light-grey;
      }
      .bottom-filler{
        width:100%;
        background:@cm-white;
        position: absolute;
        z-index:0;
        top:(@cm-header-height)+1em;
        bottom:0;
        right:0;
      }
      .info, .info i {
        color: @cm-warning-color !important;
      }
    }
  }
}