cm-identity-modal{
  div.modal-row{
    position: relative;
    text-align: left;
    color: @cm-font-color;
    font-size: @cm-large-font;
    min-height:@cm-unit+2;
    line-height: @cm-unit;
    padding-top:1rem !important;
    button {
      display: inline-block;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    &.is-disabled{
      >* {
        .cm-disabled
      }
    }
  }
}