.modal-identity{
  div.modal-row{
    position: relative;
    text-align: left;
    color: @cm-font-color;
    font-size: @cm-large-font;
    span {
      display: inline-block;
    }
    button {
      display: inline-block;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    &.is-disabled{
      >* {
        .cm-disabled
      }
    }
  }
}