.modal{
  overflow:auto;
  overflow-y:auto;
}
.cm-modal-with-title{
  .modal-dialog{
    margin-top:5em;
    .modal-outer-title{text-align:center;width:100%;position:absolute;top:-1.5em;.cm-ci-color;font-size:2em}
  }
}
.modal-dialog{
  width:@cm-app-width;
  padding:2rem;
  margin:0 auto;
  .cm-alert{
    font-size:1.2em;margin-bottom:0;
    .fa.cm-info{color:@cm-warning-color;font-size:1.5em;vertical-align:middle}
  }
}
.modal-spinner{position:fixed;top:50%;left:50%;z-index:999}

.cm-with-nose-to-add-edge{
  .modal-dialog{
    padding-top:0;
    position: relative;
    top:@cm-header-height;
    i{
      position:absolute;
      right:-0.3em;
      top:0;
      font-size:2em;
      color:@cm-black;
    }
  }
}