cm-modal {
  background-color: @cm-overlay-dark;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:99999;

  &.nose-top-right article:before {
    /*.cm-nose-right*/
    color: #fff;
  }

  article{
    background:#fff;
    border-radius: @cm-border-radius;
    width:  28rem;
    min-height: 24rem;
    margin: 10rem auto;
  }


}



/*

ALT

.modal{
  overflow:auto;
  overflow-y:auto;
}
.cm-modal-with-title{
  .modal-dialog{
    margin-top:5em;
    .modal-outer-title{text-align:center;width:100%;position:absolute;top:-1.5em;.cm-ci-color;font-size:2em}
  }
}
.modal-dialog{
  width:@cm-app-width;
  padding:2rem;
  margin:0 auto;
  .cm-alert{
    font-size:1.2em;margin-bottom:0;
    .fa.cm-info{color:@cm-warning-color;font-size:1.5em;vertical-align:middle}
  }
}
.modal-spinner{position:fixed;top:50%;left:50%;z-index:999}

.cm-with-nose-to-add-edge{
  .modal-dialog{
    padding-top:0;
    position: relative;
    top:@cm-header-height;
    i{
      position:absolute;
      right:-0.3em;
      top:0;
      font-size:2em;
      color:@cm-black;
    }
  }
}

*/