
.fa.with-response{
  &:hover, &:focus {
    color: @cm-ci-color;
  }
}

.safetylevel {
  &-safer{
    &-btn{background-color:@cm-green}
    &-wrap{color:@cm-green !important}
  }
  &-safe{
    &-btn{background-color:@cm-yellow}
    &-wrap{color:@cm-yellow !important}
  }
  &-unsafe{
    &-btn{background-color:@cm-red}
    &-wrap{color:@cm-red !important}
  }
}

button.full {
  display:block !important;
  height:@cm-footer-height;
  font-size:@cm-large-font;
  width:100%;
  padding:0;
}

cm-overlay {
  position:absolute;
  display:none;
  top:0;
  left:0;
  width:100%;
  z-index:999;
  &.visible {
    display:block;
  }
  .container{
    display: block !important;
    width: auto !important;
    padding: 0 1em;
    background: @cm-white;
    margin:3em 2em;
  }
}

cm-edge{
  position:absolute;
  display:block;
  top:0;
  right:0;
  z-index: 1;
  cursor:pointer;
  font-size:1.5*@cm-unit;
  width:1em;
  height:1em;
  line-height:1em;
  .background{
    color: @cm-ci-color;
    position:absolute;
    right:0;
    top:-0.03em;
  }
  .foreground{
    color:@cm-white;
    position:absolute;
    right:0;
    top:0;
    i:hover{
      color:@cm-white!important;
    }
  }
}

cm-avatar{
  display:inline-block;
  width:@cm-unit;
  height:@cm-unit;
  vertical-align:middle;
  position:relative;
  background-size:cover;
  overflow:hidden;
  padding:0!important;
  &.with-name{
    margin-bottom:2em;
  }
  img{
    display:block;
    width:100%;
  }
  i {
    display:block;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
  }
  .name{
    position:absolute;
    top:@cm-unit;
    left:0;
    right:0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
}

cm-date-seperator {
  display:block;
  div.date-seperator {
    position: relative;
    font-size: @cm-small-font;
    .date{
      color: #fff;
      background-color: @cm-overlay-dark;
      text-align: center;
      -webkit-border-radius: @cm-border-radius;
      -moz-border-radius: @cm-border-radius;
      border-radius: @cm-border-radius;
      border: none;
      position: relative;
    }
    .line{
      background-color: @cm-overlay-dark;
      height:0.1em;
      vertical-align: middle;
    }
  }
}


textarea[cm-resize-textarea]{
  resize: none;
  word-wrap: break-word;
  transition: 0.05s;
  -moz-transition: 0.05s;
  -webkit-transition: 0.05s;
  -o-transition: 0.05s;
}

cm-loader.spinner { /*spinner is part of loader now*/
  display:block;
  position:relative;
  z-index:1;
  height:@cm-unit;
  &.inline{
    width:@cm-unit;
  }
  &.fullscreen{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .spinner-wrapper{
    position:absolute;
    top:50%;
    left:50%;
  }
}

cm-loader.balls{
  display:block;
  position:relative;
  width: 40%;
  margin:auto;
}

cm-progressbar{
  display:block;
  width:100%;
  min-height:@cm-unit;
  .percent{
    font-size:@cm-mega-font;
    text-align: center;
    color: @cm-ci-color;
    line-height: @cm-unit;
    span{
      display:inline-block;
      font-size:@cm-base-font;
    }
  }
  .progressbar{
    height:0.1em;
    background:@cm-ci-color;
  }
}

cm-multi-input{
  display:block;
  .cm-multi-input-wrap{
    position: relative;
    .cm-multiplier{
      display:none;
    }
    &:last-child{
      .cm-multiplier {
        .with-cursor;
        display: block;
        position: absolute;
        right:3em;
        top:-0.3em;
        background:#ff0000;
        i{
          position:absolute;
          font-size:3em;
        }
        i.cm-checkbox-bg {
          color:@cm-white;
        }
        i.cm-checkbox-add {
          color:@cm-grey;
        }
      }
    }
  }
}

cm-rubber-space,
[cm-rubber-space] {

  display: block;
  text-align: left;
  white-space: nowrap;

  > *{
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
  }
}

h2, header.inScreen{
  background:@cm-input-bg-color;
  padding:0 1rem;
  font-size:1em;
  line-height:@cm-unit;
  font-weight:bold;
  width: 100%;
  color: @cm-grey;
  padding-left: 0.8rem;
  margin:0;
  position:relative;
  text-align:center;
  i{
    margin-right:0.6rem;
    font-size:2em;
    vertical-align:middle;
  }
  &.with-lg-special{
    padding-left:@cm-unit;
    i {
      &.cm-lg-special{
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

cm-icons,
cm-lock-level {
  word-spacing:0;
  letter-spacing:-0.3em;
  padding-right:0.3em;
}

/* Loader Animation, thanks to http://cssload.net/ */


.followingBallsWrapper{
  position:relative;
  width:100%;
  display:block;
  &.halt .followingBallsG{
    left:50%;
    background-color: @cm-grey;
    width: 3em;
    height: 0.1em;
    margin: -0.05em -1.5em;

    -moz-animation:none;
    -webkit-animation:none;
    -ms-animation:none;
    -o-animation:none;
    animation:none;
  }
}

.followingBallsG{
  position:absolute;
  top:0;
  left:0;
  width:1em;
  height:1em;
  margin:-0.5em;
  transition: 200ms;
  background-color: @cm-ci-color;
  -moz-border-radius:0.5em;
  -moz-animation-name:bounce_followingBallsG;
  -moz-animation-duration:1.6s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -webkit-border-radius:0.5em;
  -webkit-animation-name:bounce_followingBallsG;
  -webkit-animation-duration:1.6s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -ms-border-radius:0.5em;
  -ms-animation-name:bounce_followingBallsG;
  -ms-animation-duration:1.6s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -o-border-radius:0.5em;
  -o-animation-name:bounce_followingBallsG;
  -o-animation-duration:1.6s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  border-radius:0.5em;
  animation-name:bounce_followingBallsG;
  animation-duration:1.6s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}

.G_1{
  -moz-animation-delay:0s;
}

.G_1{
  -webkit-animation-delay:0s;
}

.G_1{
  -ms-animation-delay:0s;
}

.G_1{
  -o-animation-delay:0s;
}

.G_1{
  animation-delay:0s;
}

.G_2{
  -moz-animation-delay:0.16s;
  -webkit-animation-delay:0.16s;
  -ms-animation-delay:0.16s;
  -o-animation-delay:0.16s;
  animation-delay:0.16s;
}

.G_3{
  -moz-animation-delay:0.32s;
  -webkit-animation-delay:0.32s;
  -ms-animation-delay:0.32s;
  -o-animation-delay:0.32s;
  animation-delay:0.32s;
}

.G_4{
 -moz-animation-delay:0.48s;
 -webkit-animation-delay:0.48s;
 -ms-animation-delay:0.48s;
  animation-delay:0.48s;
}

@-moz-keyframes bounce_followingBallsG{
  0%{
    left:0;
    opacity: 1;
  }

  50%{
    left:100%;
    opacity: 0;
  }

  100%{
    left:0;
    opacity: 1;
  }

}

@-webkit-keyframes bounce_followingBallsG{
  0%{
    left:0;
    opacity: 1;
  }

  50%{
    left:100%;
    opacity: 0;
  }

  100%{
    left:0;
    opacity: 1;
  }

}

@-ms-keyframes bounce_followingBallsG{
  0%{
    left:0;
    opacity: 1;
  }

  50%{
    left:100%;
    opacity: 0;
  }

  100%{
    left:0;
    opacity: 1;
  }

}

@-o-keyframes bounce_followingBallsG{
  0%{
    left:0;
    opacity: 1;
  }

  50%{
    left:100%;
    opacity: 0;
  }

  100%{
    left:0;
    opacity: 1;
  }

}

@keyframes bounce_followingBallsG{
  0%{
    left:0;
    opacity: 1;
  }

  50%{
    left:100%;
    opacity: 0;
  }

  100%{
    left:0;
    opacity: 1;
  }

}