.fa:hover, .fa:focus{color:@cm-ci-color}

.level-safer{background-color:@cm-green}
.level-safe{background-color:@cm-yellow}
.level-unsafe{background-color:@cm-red}

button.full {
    display:block !important;
    background: @cm-black;
    color:@cm-ci-color;
    height:@cm-footer-height;
    font-size:@cm-large-font;
    width:100%;
    padding:0;
}

cm-overlay {
  position:absolute;
  display:none;
  top:0;
  left:0;
  width:100%;
  z-index:999;
  &.visible {
    display:block;
  }
  .container{
    display: block !important;
    width: auto !important;
    padding: 0 1em;
    background: @cm-white;
    margin:3em 2em;
  }
}

cm-edge, [cm-edge] {
  position:absolute;
  display:block;
  top:0;
  right:0;
  z-index: 1;
  cursor:pointer;
  font-size:1.5*@cm-unit;
  width:1em;
  height:1em;
  line-height:1em;
  .background{
    color: @cm-ci-color;
    position:absolute;
    right:0;
    top:0;
  }
  .foreground{
    color:@cm-white;
    position:absolute;
    right:0;
    top:0;
    i:hover{
      color:@cm-white;
    }
  }
}

cm-avatar {
  display:inline-block;
  width:@cm-unit;
  height:@cm-unit;
  vertical-align:middle;
  position:relative;
  background-size:cover;
  &.with-name{
    margin-bottom:2em;
  }
  .name{
    position:absolute;
    top:3rem;
    left:0;
    right:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
  }
}

cm-date-seperator {
  display:block;
  div.date-seperator {
    position: relative;
    .date{
      color: #fff;
      background-color: @cm-overlay-dark;
      text-align: center;
      font-size: 0.7em;
      -webkit-border-radius: @cm-border-radius;
      -moz-border-radius: @cm-border-radius;
      border-radius: @cm-border-radius;
      border: none;
      position: relative;
    }
    .line{
      background-color: @cm-overlay-dark;
      height:0.1em;
      vertical-align: middle;
    }
  }
}

textarea[cm-resize-textarea]{
  resize: none;
  word-wrap: break-word;
  transition: 0.05s;
  -moz-transition: 0.05s;
  -webkit-transition: 0.05s;
  -o-transition: 0.05s;
}

cm-spinner {
  display:block;
  position:relative;
  top:50%;
  left:50%;
  width:1px;
  height:1px;
}

cm-multi-input{
  display:block;
  .cm-multi-input-wrap{
    position: relative;
    .cm-multiplier{
      display:none;
    }
    &:last-child{
      .cm-multiplier {
        .with-cursor;
        display: block;
        position: absolute;
        right:2em;
        top:-1em;
        background:#ff0000;
        i{
          position:absolute;
          font-size:3em;
        }
        i.cm-checkbox-bg {
          color:@cm-white;
        }
        i.cm-checkbox-add {
          color:@cm-black;
        }
      }
    }
  }
}

cm-rubber-space,
[cm-rubber-space] {

  display: block;
  text-align: left;
  white-space: nowrap;

  > *{
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
  }
}
