cm-edge, [cm-edge] {
    position:absolute;
    display:block;
    top:0;
    right:0;
    cursor:pointer;
    font-size:4em;
    width:1em;
    height:1em;
    line-height:1em;

    .background{
        color: @cm-ci-color;
    }

    .foreground{
        color:@cm-light-grey;
    }
}


cm-avatar {
    display:inline-block;
    width: 3rem;
    height: 3rem;
    vertical-align:middle;
}

