<cm-scrollable>
    <form name="cmForm" class="form-horizontal" autocomplete="off" novalidate>

        <h2 ng-click="showTitleText = showTitleText ? false : true" cm-reactive>
            <i class="fa cm-lock"></i>
            {{::'PASSWORD_LOST.HEADING'|cmTranslate}}
            <i class="fa cm-info"></i>
        </h2>

        <article class="content" ng-show="showTitleText">
            <cm-info-bubble nose-x="50%">
                <span ng-bind-html="::'PASSWORD_LOST.INFO.TITLE_TEXT'|cmParse"></span>
            </cm-info-bubble>
        </article>

        <hr class="margin-small">

        <article class="content">
            <label>{{::'PASSWORD_LOST.LABEL.MIXED'|cmTranslate}} *</label>
            <div class="cm-input-ctn with-inside-icon">
                <input
                    tabindex="1" data-qa="inp-passwordLost"
                    type="text" name="identifier" ng-model="formData.identifier" required
                    cm-enter="startResetPassword()"/>
                <i class="fa cm-write"></i>
            </div>
        </article>

        <article class="content">
            <cm-info-bubble ng-show="cmUtil.objLen(info) > 0">
                <div ng-show="info.empty" data-qa="info-identifierEmpty">
                    <i class="fa cm-info cm-orange"></i>
                    <span ng-bind-html="::'PASSWORD_LOST.INFO.EMPTY'|cmParse"></span>
                </div>
                <div ng-show="info.loginNotFound" data-qa="info-loginNotFound">
                    <i class="fa cm-info cm-orange"></i>
                    <span ng-bind-html="::'PASSWORD_LOST.INFO.LOGIN_NOT_FOUND'|cmParse"></span>
                </div>
                <div ng-show="info.phoneNumberNotFound" data-qa="info-phoneNumberNotFound">
                    <i class="fa cm-info cm-orange"></i>
                    <span ng-bind-html="::'PASSWORD_LOST.INFO.PHONENUMBER_NOT_FOUND'|cmParse"></span>
                </div>
                <div ng-show="info.emailNotFound" data-qa="info-emailNotFound">
                    <i class="fa cm-info cm-orange"></i>
                    <span ng-bind-html="::'PASSWORD_LOST.INFO.EMAIL_NOT_FOUND'|cmParse"></span>
                </div>
                <div ng-show="info.noEmailPhonenumber" data-qa="info-noEmailPhonenumber">
                    <i class="fa cm-info cm-orange"></i>
                    <span ng-bind-html="::'PASSWORD_LOST.INFO.NO_EMAIL_PHONENUMBER'|cmParse"></span>
                </div>
            </cm-info-bubble>
        </article>
    </form>
</cm-scrollable>
<cm-footer class="desktop-w-full">
    <button class="cm-btn-black" ng-click="startResetPassword()" data-qa="btn-startResetPassword" cm-reactive>
        <span ng-show="!showLoader">
            {{::'PASSWORD_LOST.LABEL.SUBMIT'|cmTranslate}}
        </span>
        <i class="fa cm-right" ng-show="!showLoader"></i>
        <cm-loader ng-show="showLoader" cm-color="ci-color"></cm-loader>
    </button>
</cm-footer>