<h2 ng-click="showTitleText = showTitleText ? false : true" cm-reactive>
    <i class="fa cm-lock"></i>
    {{::'PASSWORD_RESET.HEADING'|cmTranslate}}
    <i class="fa cm-info"></i>
</h2>

<article class="content">
    <cm-info-bubble ng-show="cmUtil.objLen(info) > 0">
        <div ng-show="info.expired" data-qa="info-requestExpired">
            <i class="fa cm-info cm-orange"></i>
            <span ng-bind-html="::'PASSWORD_RESET.INFO.EXPIRED'|cmTranslate:{ linkGotoPasswordLost:link }" cm-html-compile></span>
        </div>
    </cm-info-bubble>
</article>

<div ng-show="!info.expired">

    <form name="cmForm" class="form-horizontal" autocomplete="off" novalidate>
        <article class="content" ng-show="showTitleText">
            <cm-info-bubble nose-x="50%">
                <span ng-bind-html="::'PASSWORD_RESET.INFO.TITLE_TEXT'|cmParse"></span>
            </cm-info-bubble>
        </article>

        <hr class="margin-small">

        <cm-password ng-model="formData.password" cm-tabindex="2"></cm-password>
    </form>

    <cm-footer class="desktop-w-full">
        <button class="cm-btn-black" ng-click="resetPassword()" data-qa="btn-resetPassword" cm-reactive>
            <span ng-show="!showLoader">
                {{::'PASSWORD_RESET.LABEL.SUBMIT'|cmTranslate}}
            </span>
            <i class="fa cm-right" ng-show="!showLoader"></i>
            <cm-loader ng-show="showLoader" cm-color="ci-color"></cm-loader>
        </button>
    </cm-footer>

</div>