<form name="cmForm" class="form-horizontal" autocomplete="off" novalidate>

    <h2 ng-click="showTitleText = showTitleText ? false : true" cm-reactive>
        <i class="fa cm-lock"></i>
        {{::'PASSWORD_CODE.HEADING'|cmTranslate}}
        <i class="fa cm-info"></i>
    </h2>

    <article class="content" ng-show="showTitleText">
        <cm-info-bubble nose-x="50%" data-qa="info-confirmationSended">
            <span ng-bind-html="::'PASSWORD_CODE.INFO.CONFIRMATION_SENDED'|cmParse"></span>
        </cm-info-bubble>
    </article>

    <hr class="margin-small">

    <article class="content">
        <label>{{::'PASSWORD_CODE.LABEL.CODE'|cmTranslate}} *</label>
        <div class="cm-input-ctn with-inside-icon">
            <input
                tabindex="1" data-qa="inp-codeResetPassword"
                type="text" name="code" ng-model="formData.code" required
                cm-enter="checkCode()"/>
            <i class="fa cm-write"></i>
        </div>
    </article>

    <article class="content">
        <cm-info-bubble ng-show="cmUtil.objLen(info) > 0">
            <div ng-show="info.emptyCode" data-qa="info-codeEmpty">
                <i class="fa cm-info cm-orange"></i> {{::'PASSWORD_CODE.INFO.EMPTY'|cmTranslate}}
            </div>
            <div ng-show="info.expired" data-qa="info-expired">
                <i class="fa cm-info cm-orange"></i>
                <span ng-bind-html="::'PASSWORD_CODE.INFO.EXPIRED'|cmTranslate:{ linkGotoPasswordLost:link }" cm-html-compile></span>
            </div>
        </cm-info-bubble>
    </article>
</form>

<cm-footer class="desktop-w-full">
    <button class="cm-btn-black w50 dib"
            ng-click="cancel()"
            data-qa="btn-cancel" cm-reactive>
        <span>
            {{::'PASSWORD_CODE.LABEL.CANCEL'|cmTranslate}}
        </span>
        <i class="fa cm-checkbox-wrong"></i>
    </button>
    <button class="cm-btn-black w50 dib"
            ng-click="checkCode()"
            data-qa="btn-checkResetPassword" cm-reactive>
        <span ng-show="!showLoader">
            {{::'PASSWORD_CODE.LABEL.SUBMIT'|cmTranslate}}
        </span>
        <i class="fa cm-right" ng-show="!showLoader"></i>
        <cm-loader ng-show="showLoader" cm-color="ci-color"></cm-loader>
    </button>
</cm-footer>