<header class="inScreen">
    <i class="fa cm-fix cm-lg-icon"></i> {{'SETTINGS.APP' | cmTranslate}}
</header>

<ul>
    <li>
        <span class="item clearfix">
            <span class="title">
                <i class="fa cm-checkbox-bg"></i>
                <span>{{'SETTINGS.PAGES.APP.LANGUAGE' | cmTranslate}}</span>
            </span>

            <div class="content" cm-language-select></div>
        </span>
    </li>
    <li>
        <span class="item clearfix">
            <span class="title">
                <i class="fa cm-checkbox-bg"></i>
                <span>{{'SETTINGS.PAGES.APP.EMOJI_CONVERT' | cmTranslate}}</span>
            </span>

            <span class="content">
                 <button ng-click="setEmojiSettings()"><i class="fa cm-lg-icon cm-ci-color ml15" ng-class="{'cm-checkbox':!settings.convertEmoji,'cm-checkbox-right':settings.convertEmoji}"></i></button>
            </span>
        </span>
    </li>
    <li>
        <span class="item clearfix">
            <span class="title">
                <i class="fa cm-checkbox-bg"></i>
                <span>{{'SETTINGS.PAGES.APP.SEND_ON_RETURN' | cmTranslate}}</span>
            </span>

            <span class="content">
                <button ng-click="setEnterSettings()"><i class="fa cm-lg-icon cm-ci-color ml15" ng-class="{'cm-checkbox':!settings.submitOnEnter, 'cm-checkbox-right':settings.submitOnEnter}"></i></button>
            </span>
        </span>
    </li>
</ul>