<header class="inScreen">
    trust
</header>

<div ng-if="isSignatureValid" class="alert-success">Signatur correct</div>
<div ng-if="!isSignatureValid" class="alert-warning">Signatur wrong</div>
<div ng-if="handshakeSucceed" class="alert-success">Handshake succeed</div>
<div ng-if="!handshakeSucceed" class="alert-warning">Handshake failed</div>

<h1>transactionSecret: {{transactionSecret}}</h1>
<input type="text"
       class="form-control"
       ng-model="transactionSecretUserInput"
       ng-keyup="checkHandshake()" />