<header class="inScreen">
    <i class="fa cm-settings cm-lg-icon"></i> {{'SETTINGS.LABEL' | cmTranslate}}
</header>

<ul>
    <li ng-repeat="page in Object.keys(overview)" ng-click="goToSettingsPage(page)">
        <span class="item clearfix">
            <i class="fa" ng-class="overview[page].icon"></i>
            <span>{{overview[page].i18n|cmTranslate}}</span>
        </span>
    </li>
    <li ng-click="logout()">
        <span class="item clearfix">
            <i class="fa cm-logout icon-left"></i>
            <span>{{'MENU.LOGOUT'|cmTranslate}}</span>
        </span>
    </li>
</ul>