<cm-header cm-rubber-space>
    <cm-back cm-weight="1" back-to="/settings"></cm-back>
    <cm-identity cm-weight="6"></cm-identity>
    <cm-menu cm-weight="1"></cm-menu>
</cm-header>

<header class="inScreen with-lg-special">
    <i class="fa cm-import-key cm-lg-special"></i>
    {{'SETTINGS.PAGES.IDENTITY.KEYS.IMPORT.HEADER'|cmTranslate}}
</header>

<ul>
    <li>
        <div class="page">
            <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PRIVATE_KEY'|cmTranslate}}</h3>
            <textarea class="form-control" ng-model="privKey" ng-readonly="isValid" data-qa="display-private-key"></textarea>
            <h4 ng-if="keySize">{{'SETTINGS.PAGES.IDENTITY.KEYS.KEY_SIZE'|cmTranslate}}: {{keySize}}</h4>
            <div ng-show="isValid">
                <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PUBLIC_KEY'|cmTranslate}}</h3>
                <textarea class="form-control" ng-model="pubKey" readonly="readonly" data-qa="display-public-key"></textarea>
                <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.KEY_NAME'|cmTranslate}}</h3>
                <input class="form-control" ng-model="keyName" type="text" data-qa="input-key-name" />
            </div>
        </div>

        <cm-footer cm-always-on-top>
            <button ng-click="import()" class="cm-btn-block cm-btn-grey" data-qa="btn-import-key" ng-if="!isValid">
                {{'SETTINGS.PAGES.IDENTITY.KEYS.IMPORT'|cmTranslate}}
                <i class="fa cm-checker cm-lg-icon"></i>
            </button>
            <button ng-click="store()" class="cm-btn-block cm-btn-grey" data-qa="btn-save-key" ng-if="isValid">
                {{'SETTINGS.PAGES.IDENTITY.KEYS.STORE_KEYPAIR'|cmTranslate}}
                <i class="fa cm-checker cm-lg-icon"></i>
            </button>
        </cm-footer>
    </li>
</ul>