<cm-header cm-rubber-space>
    <cm-back cm-weight="1" back-to="/settings"></cm-back>
    <cm-identity cm-weight="6"></cm-identity>
    <cm-menu cm-weight="1"></cm-menu>
</cm-header>

<header class="inScreen with-lg-special">
    <i class="fa cm-create-key cm-lg-special"></i>
    {{'SETTINGS.PAGES.IDENTITY.KEYS.CREATE.HEADER'|cmTranslate}}
</header>

<ul>
    <li ng-show="active == 'choose'" data-qa="page-chose-keysize">
        <div class="page">
            <h2>{{'SETTINGS.PAGES.IDENTITY.KEYS.CHOOSE_SIZE'|cmTranslate}}</h2>
            <select ng-model="keySize" >
                <option ng-repeat="size in keySizes" data-qa="key-size-option">{{size}}</option>
            </select>
        </div>

        <cm-footer cm-always-on-top>
            <button ng-click="generate()" class="cm-btn-block cm-btn-grey" data-qa="btn-generate-key">
                {{'SETTINGS.PAGES.IDENTITY.KEYS.GENERATE'|cmTranslate}}
                <i class="fa cm-checker cm-lg-icon"></i>
            </button>
        </cm-footer>
    </li>

    <li ng-show="active == 'generate'" data-qa="page-generating-key">
        <div class="page">
            <h2>{{'SETTINGS.PAGES.IDENTITY.KEYS.GENERATION_IN_PROGRESS'|cmTranslate}}</h2>
            {{'SETTINGS.PAGES.IDENTITY.KEYS.GENERATION_TIME_PROGRESS'|cmTranslate:i18n}}
        </div>

        <cm-footer cm-always-on-top>
            <button ng-click="cancel()" class="cm-btn-block cm-btn-grey" data-qa="btn-cancel-key-generation">
                {{'SETTINGS.PAGES.IDENTITY.KEYS.CANCEL'|cmTranslate}}
                <i class="fa cm-cancel-key cm-lg-special"></i>
            </button>
        </cm-footer>
    </li>

    <li ng-show="active == 'store'" data-qa="page-save-key">
        <div class="page">
            <h2>{{'SETTINGS.PAGES.IDENTITY.KEYS.STORE_KEYPAIR'|cmTranslate}}</h2>

            {{'SETTINGS.PAGES.IDENTITY.KEYS.GENERATION_TIME'|cmTranslate:i18n}}<br />
            <br />
            {{'SETTINGS.PAGES.IDENTITY.KEYS.STOREKEY_DESCRIPTION'|cmTranslate}}<br />

            <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PRIVATE_KEY'|cmTranslate}}</h3>
            <textarea class="form-control" ng-model="privKey" readonly="readonly" data-qa="display-private-key"></textarea>
            <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PUBLIC_KEY'|cmTranslate}}</h3>
            <textarea class="form-control" ng-model="pubKey" readonly="readonly" data-qa="display-public-key"></textarea>
            <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.KEY_NAME'|cmTranslate}}</h3>
            <input class="form-control" ng-model="keyName" type="text" data-qa="input-key-name" />
        </div>

        <cm-footer cm-always-on-top>
            <button ng-click="store()" class="cm-btn-block cm-btn-grey" data-qa="btn-save-key">
                {{'SETTINGS.PAGES.IDENTITY.KEYS.STORE'|cmTranslate}}
                <i class="fa cm-checker cm-lg-icon"></i>
            </button>
        </cm-footer>
    </li>
</ul>