<header class="inScreen">
    <i class="fa cm-checkbox-add cm-lg-icon"></i> {{'SETTINGS.PAGES.IDENTITY.KEYS.IMPORT' | cmTranslate}}
</header>

<ul style="z-index:10;position:relative;">
    <li>
        <div class="page">
            <h2>{{'SETTINGS.PAGES.IDENTITY.KEYS.IMPORT'|cmTranslate}}</h2>
            <textarea class="form-control" ng-model="importPrivKey" placholder="{{'SETTINGS.PAGES.IDENTITY.KEYS.PRIVATE_KEY'|cmTranslate}}"></textarea>
        </div>

        <cm-footer>
            <button ng-click="import()" class="cm-btn-block cm-btn-grey" data-qa="btn-import-key">
                {{'SETTINGS.PAGES.IDENTITY.KEYS.IMPORT'|cmTranslate}}
                <i class="fa cm-checkbox-right cm-lg-icon"></i>
            </button>
        </cm-footer>
    </li>
</ul>