<cm-header cm-rubber-space>
    <cm-back cm-weight="1" back-to="/settings"></cm-back>
    <cm-identity cm-weight="6"></cm-identity>
    <cm-menu cm-weight="1"></cm-menu>
</cm-header>

<header class="inScreen">
    <i class="fa cm-key cm-lg-icon"></i> {{'SETTINGS.PAGES.IDENTITY.KEYS.HEADER' | cmTranslate}}
</header>

<ul>
    <li>
        <a href="#/settings/identity/keys/create" class="item w50 no-pad" data-qa="btn-create-key">
            <i class="fa cm-create-key icon-left cm-lg-special"></i>
            <span>{{'SETTINGS.PAGES.IDENTITY.KEYS.CREATE'|cmTranslate}}</span>
        </a>
        <a href="#/settings/identity/keys/import" class="item w50 no-pad" data-qa="btn-import-key">
            <i class="fa cm-import-key icon-left cm-lg-special"></i>
            <span>{{'SETTINGS.PAGES.IDENTITY.KEYS.IMPORT'|cmTranslate}}</span>
        </a>
    </li>
    <li ng-repeat="key in publicKeys | orderBy:'getPrivateKey()':false" data-qa="key-list-item">
        <span class="item clearfix">
            <strong>{{key.name}}</strong><br />
            <strong ng-if="privateKeys.find(key)" data-qa="key-is-local">
                <span class="isInLocalstorage">{{'SETTINGS.PAGES.IDENTITY.KEYS.KEY_ON_THIS_DEVICE'|cmTranslate}}</span> |
            </strong>
            {{key.getSize()}} |
            <span ng-if="isTrustedKey(key)"> -- trusted -- </span>
            <span ng-if="!isTrustedKey(key)"> !! untrusted !! </span>
            {{key.created | date:'dd.MM.yy - HH:mm'}}            
        </span>
        <div class="short-links">
            <i class="fa cm-export-key cm-lg-special" ng-click="openModal('modalExportKeyPair',key)"></i>
            <i class="fa cm-cancel-key cm-lg-special" ng-click="openModal('modalRemoveKeypair',key)" data-qa="btn-remove-modal"></i>
        </div>
    </li>
</ul>

<button ng-click="openModal('handshake')">handshake dude</button>

<cm-modal id="modalExportKeyPair" class="no-padding" cm-data-as="key" cm-title="SETTINGS.PAGES.IDENTITY.KEYS.EXPORT_KEY">
    <div class="modal-row">
        <h3>{{key.name}} - {{key.getSize()}}</h3>
        <div ng-if="key.getPrivateKey()">
            <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PRIVATE_KEY'|cmTranslate}}</h3>
            <textarea class="form-control" cm-clipboard>{{key.getPrivateKey()}}</textarea>
        </div>
        <h3>{{'SETTINGS.PAGES.IDENTITY.KEYS.PUBLIC_KEY'|cmTranslate}}</h3>
        <textarea class="form-control" cm-clipboard>{{key.getPublicKey()}}</textarea>
    </div>
</cm-modal>

<cm-modal id="modalRemoveKeypair" class="no-padding" cm-data-as="key" cm-title="SETTINGS.PAGES.IDENTITY.KEYS.REMOVE_KEY">
    <div class="modal-row">
        <h3>{{key.name}} - {{key.getSize()}} - {{key.created | date:'dd.MM.yy - HH:mm'}}</h3>
    </div>
    <button class="cm-btn-block cm-btn-grey" ng-click="remove(key)" data-qa="btn-remove-key">
        {{'SETTINGS.PAGES.IDENTITY.KEYS.REMOVE_KEY_REALLY'|cmTranslate}}
        <i class="fa cm-checker cm-lg-icon"></i>
    </button>
</cm-modal>

<cm-modal-handshake></cm-modal-handshake>