<cm-header cm-rubber-space>
    <cm-back cm-weight="1" back-to="/settings"></cm-back>
    <cm-identity cm-weight="6"></cm-identity>
    <cm-menu cm-weight="1"></cm-menu>
</cm-header>

<header class="inScreen">
    <i class="fa cm-fix cm-lg-icon"></i> {{'SETTINGS.APP' | cmTranslate}}
</header>

<ul>
    <li>
        <span class="item clearfix">
            <span class="title">
                <span>{{'SETTINGS.PAGES.APP.LANGUAGE' | cmTranslate}}</span>
            </span>

            <div class="content" cm-language-select></div>
        </span>
    </li>
    <li>
        <span class="item clearfix">
            <span class="title">
                <span>{{'SETTINGS.PAGES.APP.EMOJI_CONVERT' | cmTranslate}}</span>
            </span>

            <span class="content">
                 <button ng-click="handleBooleans('convertEmoji')"><i class="fa cm-lg-icon cm-ci-color ml15" ng-class="{'cm-checkbox':!settings.convertEmoji,'cm-checkbox-right':settings.convertEmoji}"></i></button>
            </span>
        </span>
    </li>
    <li>
        <span class="item clearfix">
            <span class="title">
                <span>{{'SETTINGS.PAGES.APP.SEND_ON_RETURN' | cmTranslate}}</span>
            </span>

            <span class="content">
                <button ng-click="handleBooleans('sendOnReturn')"><i class="fa cm-lg-icon cm-ci-color ml15" ng-class="{'cm-checkbox':!settings.sendOnReturn, 'cm-checkbox-right':settings.sendOnReturn}"></i></button>
            </span>
        </span>
    </li>
</ul>

<cm-footer cm-rubber-space>
    <cm-default-buttons></cm-default-buttons>
</cm-footer>