<cm-header cm-rubber-space>
    <cm-identity cm-weight="5"></cm-identity>
    <cm-add-button cm-weight="1" ng-click="createNewConversation()" cm-icon="new-talk"></cm-add-button>
    <cm-add-button cm-weight="1" ng-click="openModal('add-contact')" data-qa="add-contact-btn" cm-icon="new-contact"></cm-add-button>
    <cm-menu cm-weight="1"></cm-menu>
</cm-header>

<header class="inScreen">
    <i class="fa cm-settings cm-lg-icon"></i> {{'SETTINGS.LABEL' | cmTranslate}}
</header>

<cm-modal-add-contact id="add-contact" nose-position="2rem"></cm-modal-add-contact>

<ul>
    <li ng-repeat="page in Object.keys(overview)" ng-click="goToSettingsPage($event, page, overview[page].disabled)" ng-class="{'is-disabled':overview[page].disabled}">
        <span class="item clearfix">
            <i class="fa" ng-class="overview[page].icon"></i>
            <span>{{overview[page].i18n|cmTranslate}}</span>
        </span>
        <div class="short-links">
            <span ng-if="overview[page].shortLinks">
                <i ng-repeat="shortLink in Object.keys(overview[page].shortLinks)" class="fa" ng-class="overview[page].shortLinks[shortLink].icon" ng-click="goToSettingsPage($event, page+'/'+shortLink, overview[page].disabled)"></i>
            </span>
            <i class="fa cm-right"></i>
        </div>
    </li>
    <li ng-click="logout()">
        <span class="item clearfix">
            <i class="fa cm-logout icon-left"></i>
            <span>{{'MENU.LOGOUT'|cmTranslate}}</span>
        </span>
    </li>
</ul>

<cm-footer></cm-footer>