<div class="section" ng-show="active == 'choose'" data-qa="page-chose-keysize">

    <article class="mb15 content">
        <cm-info-bubble nose-x="50%">
            <span ng-bind-html="'IDENTITY.KEYS.GENERATE.START.EXPLANATION' | cmParse"></span>
        </cm-info-bubble>
    </article>

    <ul class="border-top border-bottom">
        <li class="no-border">
            <span class="item" ng-click="toggleKeySize()" data-qa="select-key-size" >
            {{'IDENTITY.KEYS.GENERATE.START.KEY_LENGTH.BUTTON_LABEL'|cmTranslate}} <strong>2048 (default)</strong>
            </span>
            <div class="short-links" ng-click="toggleKeySize()">
                <i class="fa" ng-class="{'cm-down':!showKeySize,'cm-up':showKeySize}"></i>
            </div>
            <ul class="cm-submenu" ng-show="showKeySize">
                <li ng-click="chooseKeySize('2048')">
                    <span class="item" data-qa="keysize-2048">2048</span>
                    <div class="short-links">
                        <i class="fa" ng-class="{'cm-checkbox':keySize != 2048,'cm-checkbox-right':keySize == 2048}"></i>
                    </div>
                </li>
                <li ng-click="chooseKeySize('4096')">
                    <span class="item" data-qa="keysize-4096">4096</span>
                    <div class="short-links">
                        <i class="fa" ng-class="{'cm-checkbox':keySize != 4096,'cm-checkbox-right':keySize == 4096}"></i>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <cm-footer>
        <button ng-click="generate()" class="cm-btn-grey" data-qa="btn-generate-key" cm-reactive>
            {{'IDENTITY.KEYS.GENERATE.START.GENERATE_BUTTON'|cmTranslate}}
            <i class="fa cm-checker"></i>
        </button>
    </cm-footer>
</div>

<div class="section" ng-show="active == 'generate'" data-qa="page-generating-key">
    <h3 class="content" ng-bind-html="'IDENTITY.KEYS.GENERATE.GENERATING.HEADLINE' | cmParse"></h3>

    <article class="key-generates content">
        <cm-info-bubble nose-x="55%">
            <span ng-bind-html="'IDENTITY.KEYS.GENERATE.GENERATING.EXPLANATION' | cmParse"></span>
        </cm-info-bubble>
    </article>

    <hr class="margin-small" />

    <article class="content" ng-if = "active == 'generate'">
        <span ng-bind-html="'IDENTITY.KEYS.GENERATE.GENERATING.TIME_PASSED'|cmParse"></span>
        <cm-timeout cm-data="getElapsedTime()">
            <section class="cm-special-text">
                {{'IDENTITY.KEYS.GENERATE.GENERATING.GENERATION_TIMER'|cmTranslate:{ 'time':cmTimeout} }}
            </section>
        </cm-timeout>
    </article>

    <hr class="margin-small" />

    <div class="space-for-loader">
        <cm-loader cm-halt="waiting" type="balls"></cm-loader>
    </div>

    <cm-footer>
        <button ng-click="cancel()" class="cm-btn-grey" data-qa="btn-cancel-key-generation" cm-reactive>
            {{'IDENTITY.KEYS.GENERATE.GENERATING.STOP_BUTTON'|cmTranslate}}
            <i class="fa cm-checkbox-wrong"></i>
        </button>
    </cm-footer>
</div>

<div class="section" ng-show="active == 'store'" data-qa="page-save-key">
    <h3 class="content" ng-bind-html="'IDENTITY.KEYS.GENERATE.SAVE.HEADLINE' | cmParse"></h3>

    <article class="key-generates content">
        <cm-info-bubble nose-x="55%">
            <span ng-bind-html="'IDENTITY.KEYS.GENERATE.SAVE.EXPLANATION' | cmParse"></span>
            <br />
            <strong>
                <span ng-bind-html="'IDENTITY.KEYS.GENERATE.SAVE.NOTE' | cmParse"></span>
            </strong>
        </cm-info-bubble>
    </article>

    <hr class="margin-small" />

    <article class="content" ng-if="active == 'store'">
        <span ng-bind-html="'IDENTITY.KEYS.GENERATE.SAVE.TIME_PASSED'|cmParse"></span>
        <cm-timeout cm-data="getElapsedTime()">
            <section class="cm-special-text">{{'IDENTITY.KEYS.GENERATE.SAVE.GENERATION_TIMER'|cmTranslate:{ 'time':cmTimeout} }}</section>
        </cm-timeout>
    </article>

    <hr class="margin-small" />
    <form>
        <article class="content">
            <label>{{'IDENTITY.KEYS.GENERATE.SAVE.KEY_NAME'|cmTranslate}}</label>
            <div class="cm-input-ctn with-inside-icon">
                <input
                        tabindex="1"
                        type="text"
                        ng-model="keyName"
                        data-qa='input-key-name'
                        />
                <i class="fa cm-write"></i>
            </div>
        </article>
    </form>
    <cm-footer>
        <button ng-click="store()" class="cm-btn-grey" data-qa="btn-save-key" cm-reactive>
            <span ng-show="!showLoader">
                {{'IDENTITY.KEYS.GENERATE.SAVE.SAVE_BUTTON'|cmTranslate}}
                <i class="fa cm-checker"></i>
            </span>
            <cm-loader ng-show="showLoader"></cm-loader>
        </button>
    </cm-footer>
</div>