<article ng-if="showNoLocalKeysOnThisDevice" data-qa="message-no-keys" class="content mb15">
    <cm-info-bubble nose-x="50%">
    <div
            class="page in-screen-message"
            data-qa="message-no-keys"
            ng-bind-html="'SETTINGS.PAGES.IDENTITY.KEYS.NO_LOCALKEYS_ON_THIS_DEVICE'|cmTranslate"></div>
    </cm-info-bubble>
</article>
<article ng-if="showUntrustedPublickeysExists" class="content mb15">
    <cm-info-bubble nose-x="50%">
    <div
            class="page in-screen-message"
            data-qa="message-untrusted-keys"
            ng-bind-html="'SETTINGS.PAGES.IDENTITY.KEYS.UNTRUSTED_PUBLICKEYS_EXISTS'|cmTranslate"></div>
    </cm-info-bubble>
</article>

<hr ng-if="(showNoLocalKeysOnThisDevice || showUntrustedPublickeysExists)  && (publicKeys.length > 0)" class="margin-small" />

<ul class="no-border" ng-if="(publicKeys.length > 0)">
    <li ng-repeat="key in publicKeys | orderBy:sortByPrivKeys" data-qa="key-list-item">
        <div ng-click="goTo('settings/identity/key/edit/'+key.id)" class="item tal clearfix">
            <strong>{{key.name}}</strong>
            <span class="second-row">
                {{privateKeys.find(key).getSize() || key.getSize() || key.size}}
                <span class="seperator">|</span>
                <strong ng-if="privateKeys.find(key)" data-qa="key-is-local" class="is-local">{{'SETTINGS.PAGES.IDENTITY.KEYS.IS_LOCAL'|cmTranslate}}
                    <span class="seperator">|</span>
                </strong>

                <span ng-if="checking[key.id]" class = "is-checking">
                    ???
                    <span class="seperator">|</span>
                </span>

                <span ng-if="!checking[key.id] && isTrustedKey(key)" class="is-trusted">{{'SETTINGS.PAGES.IDENTITY.KEYS.IS_TRUSTED'|cmTranslate}}
                    <span class="seperator">|</span>
                </span>

                <span ng-if="!checking[key.id] && !isTrustedKey(key)" class="is-untrusted">{{'SETTINGS.PAGES.IDENTITY.KEYS.IS_UNTRUSTED'|cmTranslate}}
                    <span class="seperator">|</span>
                </span>
                {{key.created | date:'dd.MM.yy - HH:mm'}}
            </span>
        </div>
        <div class="short-links">
            <i class="fa cm-handshake" ng-if="!isTrustedKey(key) && isHandshakePossible" ng-click="goTo('/authentication/'+key.id, id)" data-qa="btn-start-handshake"></i>
            <i class="fa cm-export-key" ng-if="privateKeys.find(key)" ng-click="goTo('settings/identity/key/edit/'+key.id)"></i>
            <!--
                <i class="fa cm-export-key cm-lg-icon" ng-if="privateKeys.find(key)" ng-click="openModal('modalExportKeyPair',key)"></i>
            -->
            <i class="fa cm-cancel-key" ng-click="remove(key)" data-qa="btn-remove-modal"></i>
        </div>
    </li>
    <li ng-show="signing">
        <cm-loader></cm-loader>
    </li>
</ul>

<cm-footer ng-if="canCreate" data-qa="canCreate">
    <button class="cm-btn-grey dib w50" data-qa="btn-create-key" ng-click="goto('settings/identity/key/create')">
        {{'SETTINGS.PAGES.IDENTITY.KEYS.CREATE.BUTTON'|cmTranslate}}
        <i class="fa cm-create-key"></i>
    </button>
    <button class="cm-btn-grey dib w50" data-qa="btn-import-key" ng-click="goto('settings/identity/key/import')">
        {{'SETTINGS.PAGES.IDENTITY.KEYS.IMPORT.BUTTON'|cmTranslate}}
        <i class="fa cm-import-key n"></i>
    </button>
</cm-footer>