<article ng-if="showNoLocalKeysOnThisDevice" data-qa="message-no-keys" class="content mb15">
    <cm-info-bubble nose-x="50%">
    <div
            class="page in-screen-message"
            data-qa="message-no-keys"
            ng-bind-html="'SETTINGS.PAGES.IDENTITY.KEYS.NO_LOCALKEYS_ON_THIS_DEVICE'|cmTranslate"></div>
    </cm-info-bubble>
</article>
<article ng-if="showUntrustedPublickeysExists" class="content mb15">
    <cm-info-bubble nose-x="50%">
    <div
            class="page in-screen-message"
            data-qa="message-untrusted-keys"
            ng-bind-html="'SETTINGS.PAGES.IDENTITY.KEYS.UNTRUSTED_PUBLICKEYS_EXISTS'|cmTranslate"></div>
    </cm-info-bubble>
</article>

<ul ng-if="(publicKeys.length > 0)">
    <li 
        ng-if       = "!canCreate && someKeyNeedsAuthentication()" 
        ng-click    = "goTo('/authentication')"
        data-qa     = "li-some-key-needs-authentication"
        cm-reactive
    >
        <span class="item clearfix">
            <span class="title">
                <i class="fa cm-handshake" ng-class="overview[page].icon"></i>
                <span>{{'IDENTITY.KEYS.AUTHENTICATION.HEADLINE'|cmTranslate }}</span>
            </span>

            <section class="icon-list">
                <i class="fa cm-right"></i>
            </section>
        </span>
    </li>
    <li class="key-list-item clearfix" ng-repeat="key in publicKeys | orderBy:sortByPrivKeys" data-qa="key-list-item">
        <section 
            ng-click="goTo('settings/identity/key/edit/'+key.id)" 
            class="item tal" 
            cm-reactive
        >
            <strong>{{key.name}}</strong>
            <span class="second-row">
                {{privateKeys.find(key).getSize() || key.getSize() || key.size}}
                <span class="seperator">|</span>
                <strong ng-if="privateKeys.find(key)" data-qa="key-is-local" class="is-local">{{'SETTINGS.PAGES.IDENTITY.KEYS.IS_LOCAL'|cmTranslate}}
                    <span class="seperator">|</span>
                </strong>

                <span ng-if="stillChecking(key)" class = "is-checking">
                    ???
                    <span class="seperator">|</span>
                </span>

                <span ng-if="!stillChecking(key) && isTrustedKey(key)" class="is-trusted">{{'SETTINGS.PAGES.IDENTITY.KEYS.IS_TRUSTED'|cmTranslate}}
                    <span class="seperator">|</span>
                </span>

                <span ng-if="!stillChecking(key) && !isTrustedKey(key)" class="is-untrusted">{{'SETTINGS.PAGES.IDENTITY.KEYS.IS_UNTRUSTED'|cmTranslate}}
                    <span class="seperator">|</span>
                </span>
                {{key.created | date:'dd.MM.yy - HH:mm'}}
            </span>
        </section>
        <section class="icon-list">
            <i class="fa cm-handshake" ng-if="!isTrustedKey(key) && isHandshakePossible" ng-click="goTo('/authentication/'+key.id, true)" data-qa="btn-start-handshake" cm-reactive></i>
            <i class="fa cm-cancel-key" ng-click="remove(key)" data-qa="btn-remove-modal" cm-reactive></i>
        </section>
    </li>
    <li ng-if="signing">
        <cm-loader></cm-loader>
    </li>
</ul>

<!-- Some Key needs authentications -->

    <article class="content" ng-if = "!canCreate && someKeyNeedsAuthentication()" data-qa = "bubble-some-key-needs-authentication">
        <cm-info-bubble nose-x="18%">
            <span ng-bind-html="'IDENTITY.KEYS.KEYLIST.EXPLANATION.UNTRUSTED_KEYS' | cmParse"></span>
        </cm-info-bubble>
    </article>

<!-- End: Some Key needs authentications -->


<cm-footer ng-if="canCreate" data-qa="canCreate">
    <button class="cm-btn-grey dib w50" data-qa="btn-create-key" ng-click="goTo('/settings/identity/key/create')" cm-reactive>
        {{'SETTINGS.PAGES.IDENTITY.KEYS.CREATE.BUTTON'|cmTranslate}}
        <i class="fa cm-create-key"></i>
    </button>
    <button class="cm-btn-grey dib w50" data-qa="btn-import-key" ng-click="goTo('/settings/identity/key/import')" cm-reactive>
        {{'SETTINGS.PAGES.IDENTITY.KEYS.IMPORT.BUTTON'|cmTranslate}}
        <i class="fa cm-import-key n"></i>
    </button>
</cm-footer>