<article class="cm-modal-plain">
    <header>
        <button ng-click="close()" class="close" ng-show="closeBtn" data-qa="cm-modal-close-btn"><i class="fa cm-close"></i></button>
        <h2 class="{{severity}}">{{title}}</h2>
    </header>

    <div class = "content">
        <div class="modal-row tac">
            <span ng-bind-html="text | cmParse"></span>
        </div>

        <div cm-rubber-space>
            <button class="cm-btn cm-btn-block cm-btn-grey cm-inline-block cm-white-border-right" cm-weight="1" ng-click="cancel()">
                {{ (labelCancel || 'MODAL.LABEL.CANCEL') | cmTranslate }}
                <i class="fa cm-checkbox-wrong cm-lg-icon"></i>
            </button>
            <button class="cm-btn cm-btn-block cm-btn-grey cm-inline-block" cm-weight="1" ng-click="confirm()">
                {{ (labelOkay || 'MODAL.LABEL.OK') | cmTranslate }}
                <i class="fa cm-checker cm-lg-icon"></i>
            </button>
        </div>
    </div>
    
</article>
<div class="backdrop" ng-hide="options.withoutBackdrop"></div>
