<form class="form-signin" role="form" ng-submit="doLogin()" autocomplete="off">
    <h2 class="form-signin-heading">{{'LOGIN.HEADING' | cmTranslate}}</h2>

    <input ng-model="formData.user" class="form-control" id="user" name="user" placeholder="{{'LOGIN.PLACEHOLDER.USERNAME' | cmTranslate}}" type="text" value="" required />
    <input ng-model="formData.pass" class="form-control" id="pw" name="pw" placeholder="{{'LOGIN.PLACEHOLDER.PASSWORD' | cmTranslate}}" type="password" value="" required />

    <label class="checkbox">
        <input type="checkbox" value="remember-me"> {{'LOGIN.LABEL.REMEMBER_ME' | cmTranslate}}
    </label>

    <select ng-model="formData.autologin" class="form-control btn-block" ng-change="changeAutologin()">
        <option value="none">{{'LOGIN.LABEL.AUTO' | cmTranslate}}</option>
        <option ng-repeat="(user,prop) in loginData">{{user}}</option>
    </select>

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        {{'LOGIN.LABEL.SUBMIT' | cmTranslate}}<span cm-point-spinner></span>
    </button>
    <a href="#registration">{{'REGISTER.LINK' | cmTranslate}}</a>
</form>