#cm-app.reduced-screen cm-footer{
  .pos-rel;
  margin-bottom: -@cm-footer-height;
}

cm-footer {
  .dbl;
  .pos-fxd;
  .no-pad;
  bottom:0;
  font-size: @cm-moep-font;
  width: @cm-app-width;
  height: @cm-footer-height;

  button, a {
    position: relative;
    &.deactivated{
      .no-box-shadow;
      color:@cm-dark-grey;
    }
    i {
      position: absolute !important;
      top: 1rem;
      right: 2rem;
    }
  }
}