<article class="content" ng-form="cmInnerForm">
    <label data-qa="ctn-toggle-email-info" ng-click="toggleEmailInfo()" cm-reactive>{{::label|cmTranslate}}<i class="fa cm-ci-color cm-info" ng-show="toggleInfo"></i></label>

    <cm-info-bubble ng-click="toggleEmailInfo()" ng-show="showEmailInfo" data-qa="ctn-email-info" nose-x="25%">
        {{::toggleInfo|cmTranslate}}
    </cm-info-bubble>

    <div class="cm-input-ctn" ng-class="{
        'cm-input-disabled': disabled,
        'with-inside-icon': !disabled && !verification.isVisible,
        'with-inside-icons': !disabled && verification.isVisible
    }">
        <input
            type="text"
            tabindex="{{::tabIndex}}" data-qa="input-email"
            name="email" ng-model="ngModel"
            ng-disabled="disabled" cm-validate-email />
        <i class="fa"
           data-qa="btn-emailManuallyVerification"
            ng-show="!disabled && verification.isVisible"
            ng-click="sendVerification()"
            cm-reactive="{{verification.isVerified}}"
            ng-class="{
                'cm-checkbox-right': verification.isVerified,
                'cm-checkbox-wrong': !verification.isVerified
            }"></i>
        <i class="fa cm-write" ng-show="!disabled"></i>
    </div>

    <cm-info-bubble class="cm-alert" ng-show="cmInnerForm.email.$dirty && cmInnerForm.email.$invalid">
        <div ng-show="cmInnerForm.email.$invalid" data-qa="form-error-email-invalid">
            <i class="fa cm-info"></i> {{::info|cmTranslate}}
        </div>
    </cm-info-bubble>
</article>

<article class="content emailVerification" ng-show="verification.isVisible && !verification.isVerified">
    <cm-info-bubble nose-x="85%" data-qa="info-emailNotVerified">
        <i class="fa cm-attention cm-orange"></i>
        <span ng-bind-html="::'DRTV.VALIDATE_EMAIL.INFO.ISNT_VERIFIED'|cmTranslate:{ 'icon':verificationManuallyIcon}"></span>
    </cm-info-bubble>

    <label class="dbl mt15">{{::'DRTV.VALIDATE_EMAIL.LABEL_VERIFICATION_CODE'|cmTranslate}}</label>
    <div class="cm-input-ctn with-inside-icon">
        <input
            type="text"
            data-qa="inp-emailCodeVerify"
            name="emailCodeVerify"
            cm-enter="checkVerificationCode()"
            ng-model="code"
            cm-pristine-ignore
            />
        <i class="fa cm-right"
           data-qa="btn-emailCodeVerify"
           ng-click="checkVerificationCode()"
           ng-show="!showLoader"
           cm-reactive></i>
        <cm-loader cm-color="inp-grey" cm-size="small" ng-show="showLoader"></cm-loader>
    </div>

    <cm-info-bubble ng-show="cmUtil.objLen(infoBubble) > 0">
        <div data-qa="info-emailVerificationCodeEmpty" ng-show="infoBubble.empty">
            <i class="fa cm-attention cm-orange"></i>
            <span ng-bind-html="::'DRTV.VALIDATE_EMAIL.INFO.EMPTY_CODE'|cmTranslate"></span>
        </div>
        <div data-qa="info-emailVerificationCodeInvalid" ng-show="infoBubble.invalid">
            <i class="fa cm-attention cm-orange"></i>
            <span ng-bind-html="::'DRTV.VALIDATE_EMAIL.INFO.INVALID_CODE'|cmTranslate"></span>
        </div>
    </cm-info-bubble>
</article>