<cm-header cm-rubber-space>
    <cm-back cm-weight="1" back-to="/login"></cm-back>
    <cm-logo cm-weight="6"></cm-logo>
    <div cm-weight="1"></div>
</cm-header>

<div cm-transparent-bg></div>

<div ng-controller="RegistrationCtrl">
    <div class="cm-registration-ctn">
        <form name="registrationForm" class="form-horizontal" role="form" autocomplete="off" novalidate>
            <h4>{{'REGISTER.TITLE.HEAD_LOGIN' | cmTranslate}}</h4>

            <div
                data-qa="form-input"
                class="cm-input-ctn with-inside-icon"
                ng-class="{'cm-input-error':getLoginNameError()}">
                <input
                    tabindex="1" data-qa="input-loginName"
                    type="text" id="loginName" name="loginName" ng-class="{'cm-input-error':getLoginNameError()}"
                    ng-model="formData.loginName" cm-adaptive-change ng-minlength="6" ng-maxlength="20"
                    maxlength="20" required
                    placeholder="{{'REGISTER.PLACEHOLDER.USERNAME'|cmTranslate}} *" />
                <i
                    class="fa cm-input-addon"
                    ng-class="{
                        'cm-checkbox-wrong':showError.LoginNameExists || showError.LoginNameEmpty || showError.LoginNameInvalid,
                        'cm-checkbox-right':!getLoginNameError()
                    }"
                    ng-show="formData.loginName"
                    data-qa="icon-loginName-reserved"></i>
            </div>
            <div
                class="cm-alert"
                ng-show="registrationForm.loginName.$dirty && registrationForm.loginName.$invalid"
                data-qa="register-info-user-min-letter-count">
                <div ng-show="invalidLoginName()">
                    <i class="fa cm-info"></i>{{'REGISTER.INFO.MIN_LETTER_COUNT' | cmTranslate : {count: 6} }}
                </div>
            </div>
            <div class="cm-alert" ng-show="showError.LoginNameExists" data-qa="register-info-username-exists">
                <i class="fa cm-info"></i>{{'REGISTER.INFO.USERNAME.EXISTS'|cmTranslate}}
            </div>
            <div class="cm-alert" ng-show="showError.LoginNameEmpty" data-qa="register-info-username-empty">
                <i class="fa cm-info"></i>{{'REGISTER.INFO.USERNAME.EMPTY'|cmTranslate}}
            </div>
            <div class="cm-alert" ng-show="showError.LoginNameInvalid" data-qa="register-info-username-invalid">
                <i class="fa cm-info"></i>{{'REGISTER.INFO.USERNAME.INVALID'|cmTranslate}}
            </div>

            <div cm-password data-parent-item="formData.password"></div>

            <div class="horizontal-line"></div>

            <h4>{{'REGISTER.TITLE.HEAD_IDENTITY'|cmTranslate}}</h4>

            <div class="cm-input-ctn" data-qa="form-input">
                <input
                    tabindex="2" data-qa="input-displayName"
                    type="text" id="displayName" name="displayName" ng-model="formData.displayName"
                    placeholder="{{'REGISTER.PLACEHOLDER.DISPLAYNAME'|cmTranslate}}" />
            </div>

            <div class="cm-input-ctn" ng-class="{'cm-input-error':registrationForm.email.$invalid}" data-qa="form-input">
                <input
                    tabindex="3" data-qa="input-email"
                    type="text" id="email" name="email"
                    ng-model="formData.email" ng-class="{'cm-input-error':registrationForm.email.$invalid}"
                    cm-validate-email
                    placeholder="{{'REGISTER.PLACEHOLDER.EMAIL'|cmTranslate}}" />
            </div>
            <div class="cm-alert" ng-show="registrationForm.email.$dirty && registrationForm.email.$invalid" data-qa="register-info-invalid-mail">
                <div ng-show="registrationForm.email.$invalid">
                    <i class="fa cm-info"></i>{{'REGISTER.INFO.INVALID_EMAIL'|cmTranslate}}
                </div>
            </div>

            <div class="cm-input-ctn with-inside-icon" ng-class="{'cm-input-error':registrationForm.phone.$invalid}" data-qa="form-input">
                <input
                    tabindex="4" data-qa="input-phone"
                    type="text" id="phone" name="phone"
                    ng-model="formData.phone" cm-validate-phone cm-adaptive-change ng-minlength="6"
                    ng-class="{'cm-input-error':registrationForm.phone.$invalid}"
                    placeholder="{{'REGISTER.PLACEHOLDER.PHONENUMBER'|cmTranslate}}" />
                <i
                    class="fa cm-input-addon"
                    ng-class="{
                        'cm-checkbox-wrong':registrationForm.phone.$dirty && registrationForm.phone.$invalid,
                        'cm-checkbox-right':!(registrationForm.phone.$dirty && registrationForm.phone.$invalid)
                    }"
                    ng-show="formData.phone"
                    data-qa="icon-phone-correct"></i>
            </div>
            <div class="cm-alert" ng-show="registrationForm.phone.$dirty && registrationForm.phone.$invalid" data-qa="register-info-invalid-phonenumber">
                <div ng-show="registrationForm.phone.$invalid">
                    <i class="fa cm-info"></i>{{'REGISTER.INFO.INVALID_PHONENUMBER'|cmTranslate}}
                </div>
            </div>

            <div class="cm-input-ctn cm-clear-bg" data-qa="form-input">
                {{'REGISTER.LABEL.TERMS_ACCEPT'|cmTranslate}}
                <a href="#/terms" data-qa="link-terms" class="classic-link">{{'REGISTER.LABEL.TERMS'|cmTranslate}}</a>
                <input
                    data-qa="checkbox-agb"
                    type="checkbox" id="agbCheckboxInput" name="agb" ng-model="formData.agb"
                    class="ng-hide" required />
                <i
                    id="agbCheckbox"
                    data-qa="icon-checkbox-agb"
                    class="fa cm-lg-icon cm-ci-color ml15"
                    ng-class="{
                        'cm-checkbox':registrationForm.agb.$invalid,
                        'cm-checkbox-right':!registrationForm.agb.$invalid
                    }"
                    ng-click="acceptTerms()"></i>
            </div>

            <div class="cm-alert" ng-show="registrationForm.phone.dirty && registrationForm.agb.$invalid" data-qa="register-info-terms">
                <div ng-show="registrationForm.agb.$invalid">
                    <i class="fa cm-info"></i>{{'REGISTER.INFO.TERMS'|cmTranslate}}
                </div>
            </div>
        </form>
    </div>

    <cm-footer>
        <button id="registerUserButton" class="cm-btn-block" ng-click="createUser()" data-qa="btn-createUser">
            <span ng-show="!showSpinner">
                {{'REGISTER.LABEL.SUBMIT'|cmTranslate}} <i class="fa cm-checkbox-right cm-lg-icon"></i>
            </span>
            <cm-spinner ng-show="showSpinner" cm-color="#02BED2"></cm-spinner>
        </button>
    </cm-footer>
</div>