<cm-header cm-rubber-space>
    <cm-back cm-weight="4" page-title="'REGISTER.HEADING'|cmTranslate" back-to="/login" plain-back="true"></cm-back>
    <cm-logo cm-weight="3"></cm-logo>
    <div cm-weight="4"></div>
</cm-header>

<div cm-transparent-bg></div>

<div ng-controller="RegistrationCtrl">
    <div class="cm-registration-ctn">
        <form name="registrationForm" class="form-horizontal" role="form" autocomplete="off" novalidate>

            <h4>{{'REGISTER.TITLE.HEAD_LOGIN' | cmTranslate}}</h4>

            <div class="cm-input-ctn" ng-class="{'cm-input-error':showLoginNameCheckError, 'cm-input-error':showLoginNameEmptyError}" data-qa="form-input">
                <input id="loginName" name="loginName" ng-class="{'cm-input-error':showLoginNameCheckError, 'cm-input-error':showLoginNameEmptyError}" type="text"  ng-model="formData.loginName" ng-keyup="verifyLoginName();" ng-minlength="6" ng-maxlength="20" maxlength="20" placeholder="{{'REGISTER.PLACEHOLDER.USERNAME' | cmTranslate}} *" required />
            </div>
            <div class="cm-alert" ng-show="registrationForm.loginName.$dirty && registrationForm.loginName.$invalid">
                <div ng-show="invalidLoginName()">
                    <i class="fa cm-info"></i>{{'REGISTER.INFO.MIN_LETTER_COUNT' | cmTranslate : {count: 6} }}
                </div>
            </div>
            <div class="cm-alert" ng-show="showError.LoginNameExists">
                <i class="fa cm-info"></i>{{'REGISTER.INFO.USERNAME.EXISTS'|cmTranslate}}
            </div>
            <div class="cm-alert" ng-show="showError.LoginNameEmpty">
                <i class="fa cm-info"></i>{{'REGISTER.INFO.USERNAME.EMPTY'|cmTranslate}}
            </div>
            <div class="cm-alert" ng-show="showError.LoginNameInvalid">
                <i class="fa cm-info"></i>{{'REGISTER.INFO.USERNAME.INVALID'|cmTranslate}}
            </div>

            <div cm-password data-parent-item="formData.password"></div>

            <div style="width:100%;height:1px;background-color:#fff"></div>

            <h4>{{'REGISTER.TITLE.HEAD_IDENTITY' | cmTranslate}}</h4>

            <div class="cm-input-ctn" data-qa="form-input">
                <input id="displayName" name="displayName" type="text" placeholder="{{'REGISTER.PLACEHOLDER.DISPLAYNAME'|cmTranslate}}" ng-model="formData.displayName" />
            </div>

            <div class="cm-input-ctn" ng-class="{'cm-input-error':registrationForm.email.$invalid}" data-qa="form-input">
                <input id="email" name="email" type="text" placeholder="{{'REGISTER.PLACEHOLDER.EMAIL'|cmTranslate}}" ng-model="formData.email" ng-class="{'cm-input-error':registrationForm.email.$invalid}" cm-validate-email />
            </div>
            <div class="cm-alert" ng-show="registrationForm.email.$dirty && registrationForm.email.$invalid">
                <div ng-show="registrationForm.email.$invalid">
                    <i class="fa cm-info"></i>{{'REGISTER.INFO.INVALID_EMAIL'|cmTranslate}}
                </div>
            </div>

            <div class="cm-input-ctn" ng-class="{'cm-input-error':registrationForm.phone.$invalid}" data-qa="form-input">
                <input id="phone" name="phone" type="text" placeholder="{{'REGISTER.PLACEHOLDER.PHONENUMBER'|cmTranslate}}" ng-model="formData.phone" ng-minlength="6" ng-class="{'cm-input-error':registrationForm.phone.$invalid}" cm-validate-phone />
            </div>
            <div class="cm-alert" ng-show="registrationForm.phone.$dirty && registrationForm.phone.$invalid">
                <div ng-show="registrationForm.phone.$invalid">
                    <i class="fa cm-info"></i>{{'REGISTER.INFO.INVALID_PHONENUMBER'|cmTranslate}}
                </div>
            </div>

            <div class="cm-input-ctn cm-clear-bg" data-qa="form-input">
                {{'REGISTER.LABEL.TERMS_ACCEPT' |cmTranslate}} <a href="#/terms"><strong><em>{{'REGISTER.LABEL.TERMS' |cmTranslate}}</em></strong></a>
                <input id="agbCheckboxInput" name="agb" type="checkbox" ng-model="formData.agb" required style="display:none" />
                <i id="agbCheckbox" class="fa cm-lg-icon cm-ci-color ml15" ng-class="{'cm-checkbox':registrationForm.agb.$invalid, 'cm-checkbox-right':!registrationForm.agb.$invalid}" ng-click="acceptTerms()"></i>
            </div>
            <div class="cm-alert" ng-show="registrationForm.phone.dirty && registrationForm.agb.$invalid">
                <div ng-show="registrationForm.agb.$invalid">
                    <i class="fa cm-info"></i>{{'REGISTER.INFO.TERMS'|cmTranslate}}
                </div>
            </div>

        </form>
    </div>

    <cm-footer cm-rubber-space>
    <button id="registerUserButton" ng-click="createUser()">{{'REGISTER.LABEL.SUBMIT'|cmTranslate}} <i class="fa cm-checkbox-right cm-lg-icon"></i></button>
    </cm-footer>
</div>