.without-border-radius{
  -webkit-border-radius:0!important;
  -moz-border-radius:0!important;
  border-radius:0!important
}

.without-box-shadow{
  -webkit-box-shadow:none!important;
  -moz-box-shadow:none!important;
  box-shadow:none!important
}

.white-text-shadow{
  text-shadow:0 0.07em 0.07em rgba(255, 255, 255, 1);
}

.grey-box-shadow{
  -webkit-box-shadow:0 0.2em 0.5em 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow:0 0.2em 0.5em 0 rgba(50, 50, 50, 0.5);
  box-shadow:0 0.2em 0.5em 0 rgba(50, 50, 50, 0.5);
}

.clear-form-border{
  border:none !important;
  .without-border-radius;
  .without-box-shadow
}

.no-border-radius{
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
}
.border-radius{
  -moz-border-radius:@cm-border-radius;
  -webkit-border-radius:@cm-border-radius;
  border-radius:@cm-border-radius;
}

.border-radius-bottom{
  -moz-border-radius-bottomright:@cm-border-radius;
  -webkit-border-bottom-right-radius:@cm-border-radius;
  border-bottom-right-radius:@cm-border-radius;
  -moz-border-radius-bottomleft:@cm-border-radius;
  -webkit-border-bottom-left-radius:@cm-border-radius;
  border-bottom-left-radius:@cm-border-radius;
}
.border-radius-top{
  -moz-border-radius-topright:@cm-border-radius;
  -webkit-border-top-right-radius:@cm-border-radius;
  border-top-right-radius:@cm-border-radius;
  -moz-border-radius-topleft:@cm-border-radius;
  -webkit-border-top-left-radius:@cm-border-radius;
  border-top-left-radius:@cm-border-radius;
}
.border-radius-tl{
  -webkit-border-top-left-radius:@cm-border-radius;
  -moz-border-radius-topleft:@cm-border-radius;
  border-top-left-radius:@cm-border-radius;
}

.no-box-shadow{
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.box-shadow-bottom{
  -webkit-box-shadow: inset 0 -1rem 1rem -1.4rem rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0 -1rem 1rem -1.4rem rgba(50, 50, 50, 0.75);
  box-shadow: inset 0 -1rem 1rem -1.4rem rgba(50, 50, 50, 0.75);
}
.box-shadow-top{
  -webkit-box-shadow: 0 -1rem 1rem -1.4rem rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 -1rem 1rem -1.4rem rgba(50, 50, 50, 0.75);
  box-shadow: 0 -1rem 1rem -1.4rem rgba(50, 50, 50, 0.75);
}
.box-shadow-top-inset-ci{
  -webkit-box-shadow: 0 0.3rem 0 @cm-ci-color inset;
  -moz-box-shadow: 0 0.3rem 0 @cm-ci-color inset;
  box-shadow: 0 0.3rem 0 @cm-ci-color inset;
}

.opacity-25{
  -moz-opacity:0.25;
  -khtml-opacity:0.25;
  opacity:0.25;
}

.flip-x{
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}
.flip-y {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv; /*IE*/
  filter: flipv; /*IE*/
}