cm-account-edit, cm-identity-key-list, cm-contact-create, cm-recipients, cm-contact-edit, cm-identity-key-create, cm-desktop-widget-identity-list{
    .dbl;
    //.pos-rel;
}

.widget {
    display:block;
    position:relative;
    height: 100%;
    width: 100%;
}