/* http://apps.eky.hk/css-triangle-generator/ */
/* http://codepen.io/anon/pen/sebIi out of overflow for arrow right*/
.is-active{
  position:static!important;
  background-color:@cm-light-grey!important;
  .cm-light-grey{
    color:@cm-white;
  }
}