/* http://apps.eky.hk/css-triangle-generator/ */
/* http://codepen.io/anon/pen/sebIi out of overflow for arrow right*/
.is-active{
  position:static!important;
  background-color:@cm-light-grey!important;
  /*
  &:after{
    .dbl;
    .pos-abs;
    z-index:1000;
    content:' ';
    top: 0;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 10px;
    border-color: transparent transparent transparent #007bff;
  }
  */
}