cm-date-seperator {
  display:block;
  div.date-seperator {
    position: relative;
    font-size: @cm-small-font;
    .date{
      color: #fff;
      background-color: @cm-overlay-dark;
      text-align: center;
      -webkit-border-radius: @cm-border-radius;
      -moz-border-radius: @cm-border-radius;
      border-radius: @cm-border-radius;
      border: none;
      position: relative;
    }
    .line{
      background-color: @cm-overlay-dark;
      height:0.1em;
      vertical-align: middle;
    }
  }
}