<section class="theme-a" ng-show="!showSignIn">
    <cm-header cm-rubber-space ng-if="!headerGuest">
        <cm-back cm-weight="1" back-to="/talks" plain-back="true" cm-reactive></cm-back>
        <cm-identity cm-weight="4" cm-reactive></cm-identity>
        <cm-security-indicator
            cm-weight="2"
            ng-if           = "conversation"
            cm-data         = "conversation"
            cm-leading-icon = "cm-lock"
            ng-click        = "gotoPurl(purlId, 'security')"
            cm-reactive
        ></cm-security-indicator>
        <cm-menu cm-weight="1" cm-reactive></cm-menu>
    </cm-header>

<!--
    Todo: solve headers differently
-->

    <cm-header cm-rubber-space ng-if="headerGuest">
        <div class="fast-sign-in" ng-click="gotoRegistration()" data-qa="btn-fast-sign-in" cm-weight="2" cm-reactive>
            <i class="fa cm-register"></i>
            <span>{{'PURL.SIGN_IN'|cmTranslate}}</span>
        </div>
        <cm-logo cm-weight="4" cm-reactive></cm-logo>
        <cm-security-indicator
            cm-weight="2"
            ng-if           = "conversation"
            cm-data         = "conversation"
            cm-leading-icon = "cm-lock"
            ng-click        = "gotoPurl(purlId, 'security')"
            cm-reactive
        ></cm-security-indicator>
    </cm-header>

    <cm-widget-conversation cm-data="conversation"></cm-widget-conversation>
</section>