#cm-app.reduced-screen cm-footer{
  .pos-rel;
  top: @cm-footer-height + 4;
}

cm-footer {
  .dbl;
  .pos-fxd;
  .no-pad;
  z-index:2;
  bottom:0;
  font-size: @cm-moep-font;
  width: @cm-app-width;
  height: @cm-footer-height;

  button, a {
    .vat;
    .pos-rel;
    &.deactivated{
      .no-box-shadow;
      color:@cm-dark-grey;
    }
    i {
      .button_with_icon_right;
    }
  }
}