#cm-app.reduced-screen cm-header{
  .pos-rel;
  margin-top:-@cm-header-height
}

.cm-header-block {
  z-index:12 !important;
  background:none !important;
}

cm-header, .cm-header-block{
  .dbl;
  .pos-fxd;
  //padding:0.3rem 0;
  top:0;
  z-index:11;
  width:@cm-app-width;
  color:@cm-white;
  background:@cm-bg-color;
  line-height:@cm-unit;
  height:@cm-header-height;
  font-size:@cm-mega-font;
  white-space:nowrap;

  > *{
    height:@cm-unit;
    vertical-align: middle;
    background:@cm-black;
  }

  cm-back{
    .dib;
    .with-cursor;
    .tac;
    .pos-rel;
    width:@cm-unit;
    z-index:1;
    .back-wrap{
      height:@cm-unit;
      text-overflow:ellipsis;
      overflow:hidden;
      .tac;
    }
    i {
      font-size:@cm-mega-font;
    }
    span {
      .pos-rel;
      font-size:@cm-small-font;
    }
  }

  cm-identity{
    .dib;
    .with-cursor;
    .pos-rel;
    a{
      .tal;
      .dbl;
      .single-line;
      height:@cm-unit;
      color:@cm-white;
      font-size:@cm-large-font;
    }
    span{
      padding:@cm-horizontal-padding;
    }
  }

  cm-add-button{
    .dib;
    border:0.1rem #000 solid;
  }

  cm-header-list-search,
  cm-add-button{
    .dib;
    .tac;
    .with-cursor;
  }

  .purl-identity-wrap{
    .dib;
  }

  cm-header-list-search{
    .dib;
    .pos-rel;
    cm-search-input{
      .pos-abs;
      color:@cm-black;
      z-index:-1;
      height:@cm-unit;
      width:23.9rem;
      right:@cm-unit;
      top:0;
      padding:1rem 0.4rem;
      font-size:@cm-large-font;
      line-height:@cm-mega-font;
      .opacity-0;
      .tal;
      &.visible{
        z-index:1;
        .opacity-100;
      }
      input{

      }
      textarea{
        .no-border;
        resize:none;
        white-space:nowrap;
        overflow:hidden;
      }
      i{
        .pos-tr;
        .tac;
        width:@cm-unit;
        height:@cm-unit;
        line-height:@cm-unit!important;
      }
    }
  }

  cm-menu{
    .dib;
  }
}


cm-header-list-search{
  i{
    height: @cm-unit;
    width: @cm-unit;
  }
}


cm-second-header{

  .dbl;
  height:@cm-unit;
  line-height:@cm-unit;
  background:@cm-black;
  border-top:@cm-light-dark solid @cm-border-width;

  > * {
    .tac;
    color:@cm-ci-color;
    font-size:@cm-large-font;
  }

}
