cm-avatar{
  .dib;
  .wrap{
    .dib;
    .pos-rel;
    .mr15;
    .vam;
    height:@cm-unit;
    width:@cm-unit;
    padding: 0.3rem;
    font-size:@cm-unit - 1;
    background-size:cover;
    overflow:hidden;

    img{
      .dbl;
      .w100;
    }
    i {
      .dbl;
      width:100%;
      height:100%;
      background-size:cover;
      background-position:center;
      &.cm-person{
        .tac;
        background:@cm-light-grey;
        color: @cm-grey-new;
      }
    }
  }
  &.big{
    .wrap {
      .border-complete;
      margin-right: 0;
      width: @cm-unit*2;
      height: @cm-unit*2;
      font-size: (@cm-unit*2)-1;
    }
  }
  &.mega {
    .wrap {
      .border-complete;
      margin-right: 0;
      width: @cm-unit*4;
      height: @cm-unit*4;
      font-size: (@cm-unit*4)-1;
    }
  }
}

cm-contact-tag {
  cm-avatar .wrap {
    .vam;
  }
}