.cm-request-bar{
  .tac;
  margin-top:0.2rem;
  padding-top:0.2rem;
  border-top:1px solid @cm-light-grey;
  button {
    .no-border;
    .dib;
    .w50;
    height:@cm-unit;
  }
  button, i {
    color:@cm-grey;
    font-size:1.2em;
  }
}