<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cameoAwesome</title>

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <script src="vendor/angular/angular.js"></script>
    <style>
        body{font-size:5em;font-family:verdana;width:auto;padding:10px}
        h1{font-size:24px;color:#02BED2}
        h3{font-size:20px;margin:2px 0;border-bottom:solid 1px #02BED2;color:#02BED2}
        figure{margin:5px;position:relative;display:inline-block;text-align:center}
        figure i{border:solid 1px #02BED2}
        figure figcaption{font-size:15px;padding:2px 0}
    </style>
</head>
<body ng-app ng-controller="iconsCtrl">

    <h1>cameoawesome</h1>

    <div ng-repeat="bundle in icons">
        <h3 ng-if="bundle.title">{{bundle.title}}</h3>
        <figure ng-repeat="css in bundle.css.split(' ')">
            <i class="fa {{css}}"></i>
            <figcaption>{{css}}</figcaption>
        </figure>
    </div>

    <h1>filetypes</h1>

    <div ng-repeat="bundle in types">
        <h3 ng-if="bundle.title">{{bundle.title}}</h3>
        <figure ng-repeat="css in bundle.css.split(' ')">
            <div class="file {{css}}"></div>
            <figcaption>{{css}}</figcaption>
        </figure>
    </div>

    <script>
        function iconsCtrl($scope){
            $scope.icons = [
                {title:'ci icons',css:'cm-logo cm-logo-c cm-logo-a cm-logo-m cm-logo-e cm-logo-o cm-logo-net cm-rhino-bubble-glyph cm-rhino-positive'},
                {title:'specials',css:'cm-edge cm-edge-add cm-search cm-scroll-pane cm-grip'},
                {title:'contact handler',css:'cm-client-add cm-address-book-positive cm-address-book cm-load-to-rhino cm-load-to'},
                {title:'checkbox',css:'cm-checkbox-bg cm-checkbox cm-checker cm-checkbox-right cm-checkbox-wrong cm-checkbox-add cm-checkbox-minus'},
				{title:'menu',css:'cm-menu cm-menu-right-close cm-menu-right-open'},
                {title:'directions',css:'cm-nose-left cm-nose-right cm-nose-up cm-nose-down cm-left cm-right cm-down cm-up'},
                {title:'notifications',css:'cm-info cm-attention cm-reject cm-ignore cm-bell cm-bell-ring'},
                {title:'message states',css:'cm-envelope-closed cm-envelope-open cm-send cm-lock cm-unlock'},
                {title:'handler',css:'cm-write cm-contacts cm-key cm-visible cm-hidden cm-group cm-person cm-arrange cm-filter cm-anchor cm-clipboard cm-search-cl cm-change cm-grid cm-close cm-fix cm-settings cm-in cm-out cm-logout cm-register'},
                {title:'answer',css:'cm-plus cm-smile-negative cm-smile-positive cm-post cm-post-attention'},
                {title:'media',css:'cm-video cm-file cm-sound cm-location cm-pictures cm-camera cm-mobile'}
            ];

            $scope.types = [
                {title:'default',css:'unknown test-if-none-exists-selector-get-question-mark moep'},
                {title:'dirs',css:'dir dir-download dir-safe dir-public zip rar sit'},
                {title:'docs',css:'pdf txt xlsx doc php css ppt pps'},
                {title:'images',css:'jpg gif bmp tif eps png'},
                {title:'videos',css:'mov mpg mp4 flv avi'},
                {title:'audio',css:'mp3 wav wma aif ogg 3gpp aac'},
                {title:'misc',css:'xml html chm ttf exe dmg'}
            ];
        }

    </script>
</body>
</html>