cm-modal{
  .cm-request-brief{
    .dib;
    height: @cm-unit;
    line-height: @cm-unit;
    &.with-message{
      line-height: @cm-unit/2;
    }
    &.message-close{
      overflow:hidden;
      text-overflow:ellipsis;
    }
  }
}