<section class="theme-a fixed-layout" role="main">
    <cm-header>
        <cm-back back-to="/contact/list"></cm-back>
        <cm-logo></cm-logo>
        <section class="icons-list">
            <cm-header-list-search ng-model="search"></cm-header-list-search>
            <cm-add-button cm-weight="1" ng-click="createNewConversation()" data-qa="new-conversation-btn" cm-icon="new-talk" cm-reactive></cm-add-button>
            <cm-add-button cm-weight="1" ng-click="createNewIdentity()" data-qa="create-identity-btn" cm-icon="avatar-add" cm-reactive></cm-add-button>
        </section>
    </cm-header>

    <cm-column class="fill-bg">
        <cm-desktop-widget-menu></cm-desktop-widget-menu>
    </cm-column>
    <cm-column class="fill-bg">
        <cm-widget-contact-list></cm-widget-contact-list>
    </cm-column>
    <cm-column class="fill-bg">
        <cm-widget-contact-create></cm-widget-contact-create>
    </cm-column>
</section>
