.content {
  padding: 0 2rem;

  &.with-radiobutton{
    position:relative;
    padding-right:@cm-unit + 2;
    i.cm-radio-0{
      position:absolute;
      right:@cm-unit / 2;
      bottom:0;
      font-size:@cm-mega-font;
      .cm-unit-btn;
      line-height:@cm-unit + 0.5;
    }
  }
}

.seperator {
  color: @cm-grey;
  font-weight: 400;
  padding: 0 0.3rem;
}

.is-local {
  color: @cm-ci-color;
}

.is-trusted {
  color: @cm-green;
}

.is-untrusted {
  color: @cm-red;
}

.small-text {
  color: @cm-base-font-color-black-bg;
  font-size: @cm-small-font;
}

.classic-link {
  color: #02bed2 !important;
  text-decoration: underline !important;
}

.terms {
  .content;
  .taj;
  .small-text;
}

cm-info-bubble {
  pre {
    word-wrap: break-word;
  }
}