.content {
  padding: 0 2rem;
}

.seperator {
  color: @cm-grey;
  font-weight: 400;
  padding: 0 0.3rem;
}

.is-local {
  color: @cm-ci-color;
}

.is-trusted {
  color: @cm-green;
}

.is-untrusted {
  color: @cm-red;
}

.small-text {
  color: @cm-base-font-color-black-bg;
  font-size: @cm-small-font;
}

.classic-link {
  color: #02bed2 !important;
  text-decoration: underline !important;
}

.terms {
  .content;
  .taj;
  .small-text;
}

cm-info-bubble {
  pre {
    word-wrap: break-word;
  }
}