<form name="cmForm" novalidate autocomplete="off">

    <article class="content tac">
        <div class="avatar">
            <cm-upload-avatar class="border-complete"></cm-upload-avatar>
            <cm-avatar cm-data="identity" cm-view="{{chooseAvatar?'unknown':''}}" class="mega"></cm-avatar>
        </div>
    </article>

    <hr class="margin-small" />

    <article class="content">
        <label>{{'CONTACT.PLACEHOLDER.CAMEOID'|cmTranslate}}</label>
        <div class="cm-input-ctn cm-input-readonly">
            <i class="fa cm-rhino-positive"></i>
            <input
                tabindex="1" data-qa="input-cameoId" disabled
                type="text" name="cameoId" ng-model="identity.cameoId" />
        </div>
    </article>

    <article class="content">
        <cm-info-bubble>
            <i class="fa cm-info cm-ci-color"></i> {{'IDENTITY.INFO.CREATE.CAMEOID'|cmTranslate}}
        </cm-info-bubble>
    </article>

    <hr class="margin-small" />

    <article class="content">
        <label>{{'SETTINGS.PAGES.IDENTITY.CREATE.PLACEHOLDER.DISPLAYNAME'|cmTranslate}}</label>
        <div class="cm-input-ctn with-inside-icon">
            <input
                tabindex="2" data-qa="input-displayname"
                type="text" name="displayName" ng-model="formData.displayName" ng-keyup="validateDisplayName()" />
            <i class="fa cm-write"></i>
        </div>
        <cm-info-bubble
            class="cm-alert"
            ng-show="
            cmForm.displayName.$dirty &&
            cmForm.displayName.$invalid &&
            cmForm.displayName.length > 0
        ">
            <div ng-show="cmForm.displayName.$error.required">
                <i class="fa cm-info"></i>
                {{'SETTINGS.PAGES.IDENTITY.CREATE.INFO.EMPTY.DISPLAYNAME'|cmTranslate}}
            </div>
        </cm-info-bubble>
    </article>

    <article class="content">
        <cm-info-bubble>
            <i class="fa cm-info cm-ci-color"></i> {{'IDENTITY.INFO.CREATE.DISPLAYNAME'|cmTranslate}}
        </cm-info-bubble>
    </article>

    <hr class="margin-small" />

    <cm-form-phonenumber
        ng-model="formData.phoneNumber"
        cm-tabindex="3"
        cm-label="SETTINGS.PAGES.IDENTITY.CREATE.PLACEHOLDER.PHONENUMBER"
        cm-info="SETTINGS.PAGES.IDENTITY.CREATE.INFO.INVALID.PHONENUMBER"
    ></cm-form-phonenumber>

    <article class="content">
        <cm-info-bubble>
            <i class="fa cm-info cm-ci-color"></i> {{'IDENTITY.INFO.CREATE.PHONE'|cmTranslate}}
        </cm-info-bubble>
    </article>

    <hr class="margin-small" />

    <cm-form-email
        ng-model="formData.email"
        cm-tabindex="4"
        cm-label="SETTINGS.PAGES.IDENTITY.CREATE.PLACEHOLDER.EMAIL"
        cm-info="SETTINGS.PAGES.IDENTITY.CREATE.INFO.INVALID.EMAIL"
    ></cm-form-email>

    <article class="content">
        <cm-info-bubble>
            <i class="fa cm-info cm-ci-color"></i> {{'IDENTITY.INFO.CREATE.EMAIL'|cmTranslate}}
        </cm-info-bubble>
    </article>
</form>

<cm-footer>
    <button class="cm-btn-grey" ng-click="updateIdentity()" data-qa="btn-next-step" cm-reactive>
        <span ng-show="!showLoader && !isPristine">
            {{'SETTINGS.PAGES.IDENTITY.CREATE.FOOTER'|cmTranslate}} <i class="fa cm-checker"></i>
        </span>
        <span ng-show="isPristine" data-qa="btn-pristineSkip">
            {{'ACCOUNT.FOOTER.SKIP'|cmTranslate}}
            <i class="fa cm-right"></i>
        </span>
        <cm-loader ng-show="showLoader" cm-color="ci-color"></cm-loader>
    </button>
</cm-footer>