<div class="show-input-width">

    <cm-form-phonenumber
        ng-model="phoneNumberUndefiend"
        ng-model-out="phoneNumberUndefinedOut"
        cm-tabindex="1"
        cm-label="phoneNumber model undefined"
    ></cm-form-phonenumber>
    {{'phoneNumberUndefined: '+phoneNumberUndefinedOut}}

    <cm-form-phonenumber
        ng-model="phoneNumberEmpty"
        ng-model-out="phoneNumberEmptyOut"
        cm-tabindex="2"
        cm-label="phoneNumber model empty"
    ></cm-form-phonenumber>
    {{'phoneNumberEmpty: '+phoneNumberEmptyOut}}

    <cm-form-phonenumber
        ng-model="phoneNumberFull"
        ng-model-out="phoneNumberFullOut"
        cm-tabindex="3"
        cm-label="phoneNumber model data"
    ></cm-form-phonenumber>
    {{'phoneNumberFull: '+phoneNumberFullOut}}

    <h2>test cm-input-ctn</h2>

    <article class="content">
        <div class="cm-input-ctn">
            <input type="text" value="whoop whoop" />
        </div>
    </article>

    <article class="content">
        <div class="cm-input-ctn with-inside-icon">
            <input type="text" value="whoop whoop" />
            <i class="fa cm-write"></i>
        </div>
    </article>

    <article class="content">
        <div class="cm-input-ctn with-inside-icons">
            <input type="text" value="whoop whoop" />
            <i class="fa cm-rhino-bubble-glyph"></i>
            <i class="fa cm-write"></i>
        </div>
    </article>

    <article class="content">
        <div class="cm-input-ctn with-inside-left-icon">
            <i class="fa cm-checker"></i>
            <input type="text" value="whoop whoop" />
        </div>
    </article>

    <article class="content">
        <div class="cm-input-ctn with-inside-left-icons">
            <i class="fa cm-checker"></i>
            <i class="fa cm-checkbox-wrong"></i>
            <input type="text" value="whoop whoop" />
        </div>
    </article>

    <article class="content">
        <div class="cm-input-ctn with-inside-left-icon with-inside-icon">
            <i class="fa cm-checker"></i>
            <input type="text" value="whoop whoop" />
            <i class="fa cm-checkbox-wrong"></i>
        </div>
    </article>

    <article class="content">
        <div class="cm-input-ctn with-inside-left-icons with-inside-icons">
            <i class="fa cm-checker"></i>
            <i class="fa cm-checker"></i>
            <input type="text" value="whoop whoop" />
            <i class="fa cm-checkbox-wrong"></i>
            <i class="fa cm-checkbox-wrong"></i>
        </div>
    </article>

</div>