<section class="theme-b fill-bg">
    <article class="content">
        <!--<cm-login></cm-login>-->
    </article>

    <!--<hr class="margin-small">-->

    <article class="item tac" ng-click="goTo('/registration')">
        <span class="body">
            {{'REGISTER.LINK'|cmTranslate}}
        </span>
        <span class="icon-list">
            <i class="fa cm-right position-exception"></i>
        </span>
    </article>

    <hr class="margin-small">

    <article class="cm-login-text">
        {{'CAMEO.DESCRIBE'|cmTranslate}}
    </article>
    <article class="version">
        {{'CAMEO.VERSION'|cmTranslate}}: {{cmVersion.version}}
    </article>
</section>

<!--
<div class="cm-center full-height login-page login-screen-start">
    <div class="cm-table">
        <div class="cm-row">
            <div class="cm-cell cm-middle">
                <i class="fa cm-rhino-bubble cm-login-rhino" ng-hide="isModalVisible"></i>
            </div>
        </div>
        <div class="cm-row">
            <div class="cm-login-container" ng-hide="isModalVisible">
                <cm-logo class="fa-3x cm-ci-color mt30 mb30"></cm-logo><br />

                <button class="btn cm-btn-black mr30" ng-click="openModal('login')" data-qa="login-btn">{{'LOGIN.LINK'|cmTranslate}}</button>
                <button class="btn cm-btn-white" ng-click="goToReg()" data-qa="register-btn">{{'REGISTER.LINK'|cmTranslate}} <i class="fa cm-right cm-lg-icon"></i></button>

                <br/>
                <br/>
                <br/>

                <p class="cm-login-text">
                    {{'CAMEO.DESCRIBE'|cmTranslate}}
                </p>

                <p class="cm-ci-color">
                    {{'CAMEO.VERSION'|cmTranslate}}: {{cmVersion.version}}<br />
                </p>
            </div>
        </div>
    </div>
</div>
-->