<ul>
    <li ng-repeat="contact in contacts | filter:name_filter">        
        <a ng-click="selectContact(contact.identity)">
            <cm-contact-tag cm-data="contact">
                <i class="fa cm-write fa-3x" ng-click="editContact(contact.identity.id)"></i>
            </cm-contact-tag>
        </a>
    </li>
    <li ng-hide="contacts.length == null || contacts.length > 0">
        <a class="alert alert-warning">
            {{'CONTACTS.INFO.NO_CONTACTS'|cmTranslate}}
        </a>
    </li>
</ul>


<!--

<h3>{{'CONTACTS.HEADER.CONTACTS_LIST'|cmTranslate}}</h3>
{{'CONTACTS.TAG.FILTER'|cmTranslate}}: <input type = "text" ng-model="name_filter"/>
<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-pills nav-stacked col-sm-6">
            <li ng-repeat="contact in contacts | filter:name_filter">
                <pre>{{contact}}</pre>
                <a ng-click="selectContact(contact.identity)">
                    {{contact.identity.getDisplayName()}}
                    <i class="fa fa-trash-o pull-right" ng-click="deleteContact(contact.identity.id)"></i>
                    <i class="fa fa-pencil pull-right" ng-click="editContact(contact.identity.id)"></i>
                </a>
            </li>
            <li ng-hide="contacts.length == null || contacts.length > 0">
                <a class="alert alert-warning">
                    {{'CONTACTS.INFO.NO_CONTACTS'|cmTranslate}}
                </a>
            </li>
        </ul>
    </div>
</div>

-->