<div class="container-fluid" ng-init="loadFriendRequests();">
    <div class="row">
        <ul class="nav nav-pills nav-stacked col-sm-6">
            <li ng-repeat="result in results">
                <a ng-click="acceptRequest(result)">
                    {{result.displayName}} ({{result.cameoId}})
                    <i class="fa cm-checker pull-right"></i>
                </a>
            </li>
            <li ng-show="!results.length" class="empty-list">
                <i class="fa cm-info"></i> {{'CONTACTS.INFO.NO_REQUESTS'|cmTranslate}}
            </li>
        </ul>
    </div>
</div>