<ul>
    <li ng-show="isLoading">
        <cm-spinner></cm-spinner>
    </li>
    <li ng-show="!requests.length && !isLoading" class="empty-list">
        <i class="fa cm-info"></i> {{'CONTACTS.INFO.NO_REQUESTS'|cmTranslate}}
    </li>
    <li ng-repeat="request in requests" class="contact-request-item" data-qa="contact-list-element">
        <div>
            <cm-avatar cm-data="request.identity"></cm-avatar>
            <section cm-weight="4" class="requestIdentity w75">
                <div class="displayName" data-qa="contact-display-name">{{request.identity.getDisplayName()}}</div>
            </section>
        </div>

        <article class="content mt15 mb15" ng-if="(request.message && request.message != '')">
            <cm-info-bubble nose-x="30%">
                {{request.message}}
            </cm-info-bubble>
        </article>
        
        <div class="cm-request-bar">
            <button ng-click="acceptRequest(request)" data-qa="btn-acceptRequest">
                <i class="fa cm-checkbox-right"></i>{{'CONTACTS.REQUESTS.ACCEPT'|cmTranslate}}
            </button>
            <button ng-click="rejectRequest(request)" data-qa="btn-rejectRequest">
                <i class="fa cm-reject"></i>
                {{'CONTACTS.REQUESTS.REJECT'|cmTranslate}}
            </button>
            <!--<button ng-click="ignoreRequest(request)" ng-if="false">
                <i class="fa cm-ignore"></i>
                {{'CONTACTS.REQUESTS.IGNORE'|cmTranslate}}
            </button>-->
        </div>
    </li>
</ul>