<ul>
    <li ng-show="isLoading">
        <cm-spinner></cm-spinner>
    </li>
    <li ng-show="!requests.length && !isLoading" class="empty-list">
        <i class="fa cm-info"></i> {{'CONTACTS.INFO.NO_REQUESTS'|cmTranslate}}
    </li>
    <li ng-repeat="request in requests" class="contact-request-item">
        <!--<cm-contact-tag  ng-class="{'is-new':request.state == undefined,'message-open':request.isOpen, 'show-bar':request.showBar}">-->
        <div>
            <cm-avatar cm-data="request.identity"></cm-avatar>
            <section cm-weight="4" class="requestIdentity w75" ng-class="{'with-message':request.message != '','message-close':!request.isOpen}">
                <div class="displayName" data-qa="contact-display-name" data-qa="contact-display-name">{{request.identity.getDisplayName()}}</div>
                <div class="message">{{request.message}}</div>
            </section>
        </div>
        <!--</cm-contact-tag>-->
        
        <div class="cm-request-bar">
            <button ng-click="acceptRequest(request)" data-qa="btn-acceptRequest">
                <i class="fa cm-checkbox-right"></i>{{'CONTACTS.REQUESTS.ACCEPT'|cmTranslate}}
            </button>
            <button ng-click="rejectRequest(request)" data-qa="btn-rejectRequest">
                <i class="fa cm-reject"></i>
                {{'CONTACTS.REQUESTS.REJECT'|cmTranslate}}
            </button>
            <!--<button ng-click="ignoreRequest(request)" ng-if="false">
                <i class="fa cm-ignore"></i>
                {{'CONTACTS.REQUESTS.IGNORE'|cmTranslate}}
            </button>-->
        </div>
    </li>
</ul>

<cm-modal-add-contact id="add-contact" nose-position="2rem"></cm-modal-add-contact>