<h2>
    <i class="fa cm-search"></i>
    {{'CONTACTS.HEADING.SEARCH'|cmTranslate}}
</h2>

<cm-modal id="modalSendRequest" class="no-padding" cm-data-as="contact" cm-title="CONTACTS.HEADING.SEND_REQUEST">
    <div class="modal-row" cm-rubber-space>
        <cm-avatar cm-data="contact"></cm-avatar>
        <div class="cm-request-brief" cm-weight="1">
            <strong>{{contact.getDisplayName()}}</strong>
        </div>
    </div>
    <div class="modal-row">
        <textarea placeholder="{{'CONTACTS.PLACEHOLDER.REQUEST_MESSAGE'|cmTranslate}}" ng-model="contact.message" data-qa="input-friendrequestMessage"></textarea>
    </div>
    <button class="cm-btn-grey" ng-click="sendRequest(contact)" data-qa="btn-sendRequest">
        {{'CONTACTS.LABEL.SEND_REQUEST'|cmTranslate}}
        <i class="fa cm-send"></i>
    </button>
</cm-modal>

<article class="content">
    <form name="searchCameoId" autocomplete="off">
        <div class="cm-input-ctn with-inside-icon">
            <input data-qa="inp-search-cameo-ids" type="text" value="" ng-model="string" ng-keyup="sendSearch()" ng-minlength="4" placeholder="{{'CONTACTS.PLACEHOLDER.ADD_NEW_CONTACT'|cmTranslate}}" name="string" />
            <i class="fa cm-search"></i>
        </div>
        <cm-info-bubble nose-x="45%" class="cm-alert"
            ng-show="(moreChars = searchCameoId.string.$error.minlength) || (noResult = (searchCameoId.string.$valid && !pristine && results.length < 1))">
            <div ng-show="moreChars">
                <i class="fa cm-info"></i> {{'CONTACTS.INFO.MORE_CHARS_NEEDED'|cmTranslate}}
            </div>
            <div ng-show="noResult">
                <i class="fa cm-info"></i> {{'CONTACTS.INFO.NO_RESULTS'|cmTranslate}}
            </div>
        </cm-info-bubble>
    </form>
</article>

<section class="mt15" ng-if="(results.length > 0)">
    <ul>
        <li ng-repeat="contact in results" ng-click="openModal('modalSendRequest',contact)" data-qa="btn-openModal" class="contact-search-item">
            <cm-avatar cm-data="contact"></cm-avatar>
            <section class="identityName" cm-weight="1">
                <strong>{{contact.getDisplayName()}}</strong>
            </section>
            <section class="icon-list">
                <i class="fa cm-contacts"></i>
            </section>
        </li>
    </ul>
</section>