<h3 ng-click="toggleForm()">
    {{'DRTV.EXTERN_CONTACT.HEADER'|cmTranslate}} <i class="fa" ng-class="{'fa-angle-up':formVisible,'fa-angle-down':!formVisible}"></i>
</h3>

<form class="form-horizontal" name="addExternContact" ng-show="formVisible" ng-submit="checkForm()">
    <div class="form-group">
        <label class="{{labelSize}} control-label">{{'CONTACTS.LABEL.DISPLAYNAME'|cmTranslate}}*</label>
        <div class="{{colSize}}">
            <div class="input-group">
                <input
                    tabindex="1"
                    type="text" class="form-control" name="displayName"
                    ng-model="data.displayName" required ng-keyup="handlePristine()" />
                <span class="input-group-addon self-size"><i class="fa" ng-class="{'fa-check':!displayNameExists,'fa-times':displayNameExists}"></i></span>
            </div>
            <div class="alert alert-danger alert-mini-padding" ng-show="addExternContact.displayName.$valid && displayNameExists">
                {{'DRTV.EXTERN_CONTACT.INFO.DISPLAYNAME_EXISTS'|cmTranslate}}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="{{labelSize}} control-label">{{'CONTACTS.LABEL.NAME'|cmTranslate}}*</label>
        <div class="{{colSize}}">
            <input
                tabindex="2"
                type="text" class="form-control" name="name" ng-model="data.name"
                ng-keyup="createDisplayName()" required />
        </div>
    </div>

    <div class="form-group">
        <label class="{{labelSize}} control-label">{{'CONTACTS.LABEL.SURNAME'|cmTranslate}}*</label>
        <div class="{{colSize}}">
            <input
                tabindex="3"
                type="text" class="form-control" name="surName" ng-model="data.surName"
                ng-keyup="createDisplayName()" required />
        </div>
    </div>

    <div class="form-group">
        <label class="{{labelSize}} control-label">{{'DRTV.VALIDATE_PHONE.LABEL'|cmTranslate}}</label>
        <div class="{{colSize}}">
            <input
                tabindex="4"
                type="text" class="form-control" name="phone" ng-model="data.phone"
                cm-validate-phone cm-adaptive-change
                placeholder="{{'DRTV.VALIDATE_PHONE.PLACEHOLDER'|cmTranslate}}" />
            <div cm-type-chooser choose-to-data="phoneProvider" choose-type="provider"></div>
            <div cm-type-chooser choose-to-data="phoneType"></div>
            <div class="alert alert-danger alert-mini-padding" ng-show="addExternContact.phone.$dirty && addExternContact.phone.$invalid">
                {{'DRTV.VALIDATE_PHONE.INFO.INVALID_PHONE_NUMBER'|cmTranslate}}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="{{labelSize}} control-label">{{'DRTV.VALIDATE_EMAIL.LABEL'|cmTranslate}}</label>
        <div class="{{colSize}}">
            <input
                tabindex="5"
                type="text" class="form-control" name="email" ng-model="data.email"
                placeholder="{{'DRTV.VALIDATE_EMAIL.PLACEHOLDER'|cmTranslate}}" cm-validate-email />
            <div cm-type-chooser choose-to-data="email_type"></div>
            <div class="alert alert-danger alert-mini-padding" ng-show="addExternContact.email.$dirty && addExternContact.email.$invalid">
                {{'DRTV.VALIDATE_EMAIL.INFO.INVALID'|cmTranslate}}
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="{{offsetSize}} {{colSize}}">
            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="stateBusy">{{'CONTACTS.BUTTON.SUBMIT' |cmTranslate}}</button>
            <button type="reset" class="btn btn-sm btn-link">{{'CONTACTS.BUTTON.RESET'|cmTranslate}}</button>
        </div>
    </div>
</form>