<header class="cm-list-header">
    <h1>{{'CONTACTS.HEADING.SEARCH'|cmTranslate}}</h1>

    <form name="searchCameoId">
        <input cm-large-input type="text" ng-model="string" name="string" cm-icon="cm-search" placeholder="{{'CONTACTS.PLACEHOLDER.ADD_NEW_CONTACT'|cmTranslate}}" ng-minlength="4" ng-keyup="search()" />

        <div class="cm-alert" ng-show="searchCameoId.string.$error.minlength">
            <i class="fa cm-info"></i> {{'CONTACTS.INFO.MORE_CHARS_NEEDED'|cmTranslate}}
        </div>
    </form>
</header>

<div>
    <div ng-show="searchCameoId.string.$valid && !pristine &&  results.length < 1" class="empty-list">
        <i class="fa cm-info"></i> {{'CONTACTS.INFO.NO_RESULTS'|cmTranslate}}
    </div>

    <cm-contact-tag cm-rubber-space ng-repeat="contact in results">
        <!--<cm-avatar cm-data="contact.identity"></cm-avatar>-->
        <div class="cm-request-brief" cm-weight="1">
            <strong>{{contact.displayName}}</strong>
        </div>
        <button ng-click="openModal('modalSendRequest',contact)">
            <i class="fa cm-checkbox"></i>
        </button>
    </cm-contact-tag>
</div>

<cm-modal id="modalSendRequest" cm-data-as="contact">

    {{severity}}
    {{contact.displayName}}
    {{contact.cameoId}}
    <button ng-click="sendRequest(contact)">
        send request
    </button>
</cm-modal>