cm-header, .cm-header-block{
  .w100;
  line-height: 3.8rem;
  > *{
    .dib;
  }
  cm-logo{
    margin-left:1rem;
  }

  cm-header-list-search {
    .pos-rel;
    cm-search-input {
      left: auto;
      right: 4rem !important;
      width: 24rem;
    }
  }

  .icons-list {
    > * {
      .dib!important;
      .vat;
      height:@cm-unit;
      width:@cm-unit;
    }
    .pos-tr;
    .tal;
    height: @cm-unit;
    line-height: @cm-unit;
    i {
      color: @cm-white !important;
    }

    cm-search-input {
      input {
        padding-left: 0 !important;
      }
      i {
        color: @cm-black !important;
      }
      i:first-child {
        display: none !important;
      }
    }
  }
}