cm-header, .cm-header-block{
  .w100;
  > *{
    .dib;
  }
  cm-logo{
    margin-left:1rem;
  }
  .icons-list {
    > * {
      .dib!important;
      .vap;
      width:@cm-unit;
    }
    .pos-tr;
    .tar;
    height: @cm-unit;
    line-height: @cm-unit;
    i {
      color: @cm-white !important;
    }
  }
}