cm-answer{
  .dbl;
  .box-shadow-top;
  .pos-fxd;
  bottom:0;
  left:@cm-column-third-size;
  width:@cm-column-third-size;
  z-index:2;
  background-color:@cm-light-grey;
  font-size:@cm-unit - 1;
  height:@cm-unit*4;

  .message{
    background:@cm-white;
    margin-left:0.5rem;
    margin-top:0.5rem;
    margin-right:0.5 + @cm-unit;
    textarea, .textarea-shadow{
      font-size:@cm-large-font;
    }
    textarea{
      resize:none;
    }
  }

  .btns-right {
    .pos-tr;
    width:@cm-unit;

    .btn-post, .btn-attachments, .btn-fullscreen{
      .pos-rel;
      .cm-unit-btn;
    }

    cm-emoji-handler{
      .cm-unit-btn;
      i{
        .cm-unit-btn;
      }
    }

    &:last-child{
      [cm-reactive]{
        .no-border;
      }
    }
  }
}