cm-answer{
  .dbl;
  .box-shadow-top;
  .pos-fxd;
  .vam;
  .margin-hr-auto;
  width:@cm-app-width;
  min-height:@cm-footer-height;
  bottom:0;
  z-index:2;
  background-color:@cm-white;
  left:0;
  right:0;
  font-size:@cm-unit - 1;

  .message{
    textarea, .textarea-shadow{
      font-size:@cm-large-font;
    }
    textarea{
      resize:none;
    }
  }

  .no-mar;
  left:@cm-column-third-size;
  width:@cm-column-third-size;
  .message{
    width:75%;
  }

  cm-files-preview {
    width:auto;
    .file-wrap{
      padding-right:@cm-unit * 2;
    }
  }
}