.cm-input-ctn {
  background-color: @cm-dark-white;
  display: block;
  padding: 0.8rem 1.5rem;
  margin: 0.5em 0;
  i{
    margin-right: 0.5rem;
  }
  input{
    color: @cm-black;
    background-color: @cm-dark-white;
    width: 21rem;
    padding:0;
    margin:0;
    border:none;
  }
  &~.pw-progress {
    .pos-rel;
    height: 0.3em !important;
    margin-top: -0.8em;
    margin-bottom: 0.5em;
    background:transparent;
  }

  .default-one-icon{
    .pos-rel;
    white-space:nowrap;
    input{
      width:90%;
    }
    i{
      .with-cursor;
      .pos-abs;
      color: @cm-grey;
      top:0;
      bottom:0;
      right:0;
      font-size:@cm-mega-font;
      width:10%;
      text-align:center;
      line-height:@cm-unit - 1;
      &.cm-write{
        .without-cursor;
      }
    }
  }

  &.with-inside-icon{
    .default-one-icon;
  }
  &.with-inside-icons{
    .default-one-icon;
    input{
      width:80%;
    }
    i{
      right:10%;
    }
    i + i{
      right:0;
    }
  }
}

textarea {
  .w100;
  .dib;
  .vam;
  color: @cm-grey-new;
  background-color: @cm-white;
  background-image: none;
  .border-radius;
  border: 0.1rem solid #ccc !important;
  resize:vertical;
  /* bootstrap */
  padding: 6px 12px;
}

.theme-b, .theme-a {
  form, .cm-form-style {
    input {
      width: 21rem;
      padding:0;
      margin:0;
      border:none;
    }
  }
}

/* clear ie10 automatic input icons  */
input::-ms-clear, input::-ms-reveal {
  display: none;
}

form, .cm-form-style {
  label {
    font-weight: 400;
    margin-bottom: 0;
  }

  .cm-input-error,
  .ng-invalid .cm-input-ctn,
  .ng-invalid .cm-input-ctn input{
    background-color:#F4DFDF !important
  }

  select {
    color: @cm-black;
  }

  .cm-alert .cm-info {
    color: @cm-warning-color;
    margin-right: 0.5rem;
  }
  .terms-link {
    .mt15;
    padding-left: 2rem;
    line-height: 1em;
  }
}

.theme-b {
  form, .cm-form-style{
    .cm-input-ctn.isActive, .cm-input-ctn.isActive input {
      background-color: @cm-white;
    }
  }
}