.cm-reactive-default(){
  background-color: transparent;
  &.is-hover,&.is-touched{
    background-color:@cm-light-grey;
  }
  &.is-clicked{
    background-color:#DCDCDC;
  }
}

[cm-reactive]{
  cursor:pointer;
  -webkit-transition: background-color 0.15s ease-in-out; /* Firefox */
  -moz-transition: background-color 0.15s ease-in-out; /* WebKit */
  -o-transition: background-color 0.15s ease-in-out; /* Opera */
  transition: background-color 0.15s ease-in-out; /* Standard */

  .cm-reactive-default;
}

cm-header {
  [cm-reactive]
  {background-color:@cm-black}
  [cm-reactive].is-hover,[cm-reactive].is-touched
  {background-color:@cm-grey-new}
  [cm-reactive].is-clicked
  {background-color:#8D8D8D}
}

.cm-menu-list [cm-reactive]{
  .cm-reactive-default;
}

section.default-pages{
  [cm-reactive]
  {background-color:#ECECEC}
  [cm-reactive].is-hover,[cm-reactive].is-touched
  {background-color:#DBDBDB}
  [cm-reactive].is-clicked
  {background-color:#BFBFBF}
}

.cm-menu-list li.cm-menu-header {
  [cm-reactive] {
    .border-radius-tl;
    background-color:#ECECEC;
  }
  [cm-reactive].is-hover,[cm-reactive].is-touched {
    .border-radius-tl;
    background-color:#DBDBDB;
  }
  [cm-reactive].is-clicked {
    .border-radius-tl;
    background-color:#BFBFBF;
  }
}

button[cm-reactive] {
  &.cm-btn-grey{
    background-color:@cm-grey-new;
    &.is-hover, &.is-touched
    {background-color:#8D8D8D}
    .is-clicked
    {background-color:#A0A0A0}
  }

  &.cm-btn-black {
    background-color:@cm-black;
    &.is-hover, &.is-touched
    {background-color:@cm-grey-new}
    .is-clicked
    {background-color:#A0A0A0}
  }
}

.theme-b {
  article[cm-reactive]{
    background-color: transparent;
    &.is-hover, &.is-touched
    {background-color:@cm-grey-new}
    .is-clicked
    {background-color:#A0A0A0}
  }
}