.cm-reactive-default(){
  background: @cm-white;
  &.is-hover,&.is-touched{
    background:#EDEDED;
  }
  &.is-clicked{
    background:#DCDCDC;
  }
}

[cm-reactive]{
  cursor:pointer;
  -webkit-transition: background 0.15s ease-in-out; /* Firefox */
  -moz-transition: background 0.15s ease-in-out; /* WebKit */
  -o-transition: background 0.15s ease-in-out; /* Opera */
  transition: background 0.15s ease-in-out; /* Standard */

  .cm-reactive-default;
}

cm-header {
  [cm-reactive]
  {background:#000}
  [cm-reactive].is-hover,[cm-reactive].is-touched
  {background:#555555}
  [cm-reactive].is-clicked
  {background:#8D8D8D}
}

.cm-menu-list [cm-reactive]{
  .cm-reactive-default;
}

section.default-pages, .cm-menu-list li.cm-menu-header{
  [cm-reactive]
  {background:#ECECEC}
  [cm-reactive].is-hover,[cm-reactive].is-touched
  {background:#DBDBDB}
  [cm-reactive].is-clicked
  {background:#BFBFBF}
}

button[cm-reactive] {
  &.cm-btn-grey{
    background:#555555;
    &.is-hover, &.is-touched
    {background:#8D8D8D}
    .is-clicked
    {background:#A0A0A0}
  }

  &.cm-btn-black {
    background:#000;
    &.is-hover, &.is-touched
    {background:#555555}
    .is-clicked
    {background:#A0A0A0}
  }
}