@cm-unit: 4rem;
@cm-vertical-padding: 0.3rem;
@cm-horizontal-padding: 0.3rem;

@cm-header-height: @cm-unit;
@cm-footer-height: @cm-unit;

@cm-app-width: 32rem;

@cm-small-font: 1.0rem;
@cm-base-font: 1.2rem;
@cm-moep-font: 1.3rem;
@cm-large-font: 1.5rem;
@cm-mega-font: 2rem;
@cm-ultra-font: 2.5rem;

@cm-border-radius: 0.3rem;
@cm-border-width: 0.1rem;

// Message
@cm-message-left-max-width: 24rem;
@cm-message-right-max-width: 24rem;
@cm-message-min-width: 20rem;
