section.notification {
  ul {
    background-color: @cm-white;
    li {
      .with-cursor;
      min-height: 3rem;
      border-bottom: @cm-border-grey @cm-border-width solid;
      .item {
        color: @cm-grey;
        display: inline-block;
        padding: 0.5rem 0 0 1rem;
        width: 100%;
        position: relative;
        .title, .content {
          display: inline-block;
          width: 70%;
        }
        .content {
          position: relative;
          text-align: right;
          right: 0.5rem;
          width: 30% !important;
        }
      }
      i {
        margin-right: 1rem;
      }
      &.is-disabled{
        .cm-disabled;
      }
    }
  }
}