<h2>
    <i class = "fa cm-key"></i>
    {{
    [
    BASE+"PAGE_HEADLINE",
    BASE+"PAGE_HEADLINE",
    BASE+"PAGE_HEADLINE",
    BASE+"PAGE_HEADLINE"
    ][step]

    | cmTranslate}}
</h2>


<article class="content">
    <div class= "authentication-status" ng-click = "step = ((step||0)+1)%4">
        <i class= "fa cm-key-request"   ng-class="{'active': step > 0}"></i>
        <i class= "fa cm-key-response"  ng-class="{'active': step > 1}"></i>
        <i class= "fa cm-handshake"     ng-class="{'active': step > 2}"></i>
    </div>
    <div class= "space-for-loader">
        <cm-loader cm-halt = "waiting" type="balls"></cm-loader>
    </div>

    {{step}}
</article>

<hr/>

<article class="content">
    <h3>
        {{
        [
        BASE+"HEADLINE",
        BASE+"HEADLINE",
        BASE+"HEADLINE"
        ][step]

        | cmTranslate}}
    </h3>
    <cm-info-bubble nose-x = "60%">
        {{
        [
        BASE+"EXPLANATION",
        BASE+"EXPLANATION",
        BASE+"EXPLANATION"
        ][step]

        | cmTranslate:{'identity': toIdentity.getDisplayName()} }}

        <br/>
        <br/>

        <strong>
            {{
            [
            BASE+"START.INSTRUCTIONS",
            BASE+"SHOW_TRANSACTION_SECRET.INSTRUCTIONS",
            BASE+"SHOW_TRANSACTION_SECRET.INSTRUCTIONS"
            ] [step]

            | cmTranslate }}
        </strong>
    </cm-info-bubble>
</article>

<hr/>

<article class="content">
    <strong>
        {{
        [
        BASE+"START.NOTE",
        BASE+"SHOW_TRANSACTION_SECRET.NOTE",
        BASE+"SHOW_TRANSACTION_SECRET.NOTE"
        ][step]

        | cmTranslate:{'identity': toIdentity.getDisplayName()} }}
    </strong>
</article>

<article ng-if="step > 0" class="content">
    <div class="transaction-secret" ng-if="transactionSecret">
        {{transactionSecret || '...'}}
    </div>
    <ng-loader ng-if = "!transactionSecret"></ng-loader>
</article>

<br/>

<article ng-if="timeout" class="content">
    {{BASE+"TIMEOUT" | cmTranslate: {'timeout' : timeout/1000 +'s'} }}
</article>



<cm-footer ng-if = "step == 0" cm-rubber-space>
    <button
            ng-click    = "cancel()"
            class       = "cm-btn-block cm-btn-grey"
            data-qa     = "btn-start-authentication"
            cm-weight   = "1"
            >
        {{BASE+"START.CANCEL_BUTTON"|cmTranslate}}
        <i class="fa cm-checkbox-wrong cm-lg-icon"></i>
    </button>

    <button
            ng-click    = "startAuthenticationRequest()"
            class       = "cm-btn-block cm-btn-grey"
            data-qa     = "btn-start-authentication"
            cm-weight   = "1"
            >
        {{BASE+"START.START_BUTTON"|cmTranslate}}
        <i class="fa cm-handshake cm-lg-icon"></i>
    </button>

</cm-footer>

<cm-footer ng-if = "step == 1" cm-rubber-space>
    <button
            ng-click    = "cancel()"
            class       = "cm-btn-block cm-btn-grey"
            data-qa     = "btn-start-authentication"
            >
        {{BASE+"SHOW_TRANSACTION_SECRET.CLOSE_BUTTON"|cmTranslate}}
        <i class="fa cm-checkbox-wrong cm-lg-icon"></i>
    </button>
</cm-footer>
