<div class="cm-input-ctn" data-qa="form-input">
        <input type="{{passwordType}}" id="password" placeholder="{{'DIRV.PASSWORD.PASSWORD'|cmTranslate}}" ng-model="pw" ng-keyup="checkPWStrength()" required />
</div>
<div class="mb5 progress" ng-model="progress" ng-show="showStrengthMeter">
    <div class="progress-bar" style="width: {{percent}}%; background-color: {{color}}"><span class="sr-only">{{percent}}% {{strengthMessage}}</span></div>
</div>


<div class="cm-input-ctn" data-qa="form-input">
    <input type="password" id="password_confirm" placeholder="{{'DIRV.PASSWORD.PASSWORD_CONFIRM'|cmTranslate}}" ng-model="pwConfirm" ng-keyup="confirmPW()" required />
</div>

<!--
<div class="cm-form-group">
    <div class="col-sm-6">
        <div class="input-ctn">
            <div class="input-group">
                <input type="{{passwordType}}" id="password" class="cm-form-control" placeholder="{{'DIRV.PASSWORD.PASSWORD'|cmTranslate}}" ng-model="pw" ng-keyup="checkPWStrength()" required />
                <span class="cm-input-group-addon"><i class="fa cm-checkbox-right"></i></span>
            </div>
        </div>
        <div class="mb5 progress" ng-model="progress" ng-show="showStrengthMeter">
            <div class="progress-bar" style="width: {{percent}}%; background-color: {{color}}"><span class="sr-only">{{percent}}% {{strengthMessage}}</span></div>
        </div>
    </div>
</div>

<div class="cm-form-group">
    <div class="col-sm-6">
        <div class="input-ctn">
            <div class="input-group">
                <input type="password" id="password_confirm" class="cm-form-control" placeholder="{{'DIRV.PASSWORD.PASSWORD_CONFIRM'|cmTranslate}}" ng-model="pwConfirm" ng-keyup="confirmPW()" required />
                <span class="cm-input-group-addon"><i class="fa" ng-class="{'cm-checkbox-wrong':!showConfirmPWStatus,'cm-checkbox-right':showConfirmPWStatus}"></i></span>
            </div>
        </div>
    </div>
</div>
-->
