<div class="cm-input-ctn" ng-class="{'cm-input-error':showPasswordEmptyError}" data-qa="form-input">
    <input type="{{passwordType}}" id="password" ng-class="{'cm-input-error':showPasswordEmptyError}" name="password" placeholder="{{'DRTV.PASSWORD.PASSWORD'|cmTranslate}} *" ng-model="pw" ng-keyup="checkPWStrength()" required />
</div>
<div class="mb5 progress" ng-model="progress">
    <div class="progress-bar" style="width: {{percent}}%; background-color: {{color}}"><span class="sr-only">{{percent}}% {{strengthMessage}}</span></div>
</div>
<div class="cm-alert" ng-show="showPasswordLengthError">
    <i class="fa cm-info"></i>{{'REGISTER.INFO.MIN_LETTER_COUNT' | cmTranslate : {count: 6} }}
</div>
<div class="cm-alert" ng-show="showPasswordEmptyError">
    <i class="fa cm-info"></i>{{'DRTV.PASSWORD.ERROR.EMPTY'|cmTranslate}}
</div>

<div class="cm-input-ctn clearfix with-inside-icon" ng-class="{'cm-input-error':showPasswordEmptyError}" data-qa="form-input">
    <input id="password_confirm" ng-class="{'cm-input-error':showPasswordEmptyError}" type="password"  placeholder="{{'DRTV.PASSWORD.PASSWORD_CONFIRM'|cmTranslate}} *" ng-model="pwConfirm" ng-keyup="confirmPW()" required  />
    <i class="fa cm-input-addon" ng-class="{'cm-checkbox-wrong':!showConfirmPWStatus,'cm-checkbox-right':showConfirmPWStatus}" ng-show="pw"></i>
</div>