<h2 class="border-bottom">
    <i class="fa cm-rhino-positive"></i>
    {{'START.QUICKSTART.HEADLINE'|cmTranslate}}
</h2>

<article ng-bind-html="'START.QUICKSTART.SUB_TEXT' | cmParse" class="cm-bold content"></article>

<hr />

<h4 class="content">
    <i class='fa cm-key'></i>&nbsp;
    {{'START.QUICKSTART.HEADLINE_1'|cmTranslate}}
</h4>

<article ng-bind-html="'START.QUICKSTART.TEXT_1' | cmParse" class="content"></article>

<hr />

<h4 class="content">
    <i class='fa cm-new-contact'></i>&nbsp;
    {{'START.QUICKSTART.HEADLINE_2'|cmTranslate}}
</h4>

<article ng-bind-html="'START.QUICKSTART.TEXT_2' | cmParse" class="content"></article>

<hr />

<h4 class="content">
    <i class='fa cm-new-talk'></i>&nbsp;
    {{'START.QUICKSTART.HEADLINE_3'|cmTranslate}}
</h4>

<article ng-bind-html="'START.QUICKSTART.TEXT_3' | cmParse" class="content"></article>

<hr />

<article ng-bind-html="'START.QUICKSTART.TEXT_4' | cmParse" class="content"></article>

<cm-footer ng-if="startRoute">
    <button ng-click="generateKey()" class="cm-btn-grey" data-qa="btn-next-step">
        {{'START.BTNS.NEXT' | cmTranslate}}
        <i class="fa cm-right"></i>
    </button>
</cm-footer>