.theme-b {
  .head {
    height: 20rem;
    .rhino{
      height: 16rem;
      line-height: @cm-unit;
      i {
        line-height: @cm-unit;
        vertical-align: middle;
      }
    }
    .logo {
      height: 4rem;
    }
  }

  form.form-signin {
    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #8D8D8D;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #8D8D8D;
      opacity: 0.8;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #8D8D8D;
      opacity: 0.8;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #8D8D8D;
    }

    .with-inside-icon {
      i{
        top: 0.2rem;
      }
    }
  }
  .cm-login-text {
    .content;
    .taj;
    //  color: @cm-dark-white;
    color: #888888;
    font-size: @cm-small-font;
  }
  .version {
    .content;
    .tac;
    color: @cm-ci-color;
    font-size: @cm-small-font
  }
}
