.theme-b {
  .display-table-row:first-child{
    height:20%;
  }

  .head {
    height: 20rem;
    .rhino{
      position: relative;
      height: 16rem;
      img {
        width: 12rem;
        height: 12rem;
        position: absolute;
        top: 2rem;
        left: 32%;
      }
    }
    .logo {
      height: 4rem;
    }
  }

  form.form-signin {
    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #8D8D8D;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #8D8D8D;
      opacity: 0.8;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #8D8D8D;
      opacity: 0.8;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #8D8D8D;
    }
  }
  .cm-login-text {
    .content;
    .taj;
    //  color: @cm-dark-white;
    color: #888888;
    font-size: @cm-small-font;
  }
  .version {
    .content;
    .tac;
    color: @cm-ci-color;
    font-size: @cm-small-font
  }
}
