cm-widget-login{
  .dtb{
    height: 100%;
    position: relative;
  }

  .dtbr{
    .w100;
    &:first-child{
      height:20%;
      background-color: @theme-b-bg-color-light;
    }
    &:last-child{
      background-color: @theme-b-bg-color;
    }
  }
}

.theme-b {
  .head {
    height: 20rem;
    .rhino{
      position: relative;
      height: 16rem;
      img {
        width: 12rem;
        height: 12rem;
        position: absolute;
        top: 2rem;
        left: 32%;
      }
    }
    .logo {
      height: 4rem;
    }
  }

  form.form-signin {
    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #8D8D8D;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #8D8D8D;
      opacity: 0.8;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #8D8D8D;
      opacity: 0.8;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #8D8D8D;
    }

    select {
      width:100%;
      margin: 0.5em 0;
      padding: 0.8rem 1.5rem;
    }

    .btn-submit {
      display: none;
    }
  }
  .cm-login-text {
    .content;
    .taj;
    color: @cm-base-font-color-black-bg;
    font-size: @cm-small-font;
  }
  .version {
    .content;
    .tac;
    color: @cm-ci-color;
    font-size: @cm-small-font
  }
}
