<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "<%= currentAppId %>"
        version   = "<%= currentVersion %>">
    <name><%= currentName %></name>
    <description>safer communication</description>
    <author href="www.cameonet.de" email="support@cameonet.de">cameoNet</author>

    <access origin="*" subdomains="true"  />
    <!-- <access origin="http://puship.cloudapp.net" /> -->
    <content src="index.html" />

    <log level="ERROR"/>

    <preference name="phonegap-version" value="3.5.0" />

    <gap:platform name="android" />
    <gap:platform name="winphone" />
    <gap:platform name="ios" />

    <!-- <preference name="permissions" value="all-permissions"/> -->
    <preference name="permissions" value="none"/>

    <!-- multiplatform -->
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="orientation" value="portrait" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />

    <!-- android -->
    <preference name="KeepRunning" value="true"/>
    <preference name="LoadUrlTimeoutValue" value="5000" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="ErrorUrl" value=""/>
    <!-- build -->
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-maxSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="15" />
    <preference name="android-installLocation" value="internalOnly" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />

    <!-- ios -->
    <preference name="EnableViewportScale" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="SuppressesIncrementalRendering" value="true" />

    <!-- statusbar -->
    <!-- <preference name="StatusBarOverlaysWebView" value="false" /> -->
    <!-- <preference name="StatusBarBackgroundColor" value="#555555" /> -->
    <!-- <preference name="StatusBarStyle" value="lightcontent" /> -->

    <!-- build -->
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />

    <!-- other -->
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="stay-in-webview" value="true" />
    <preference name="ios-statusbarstyle" value="default" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="true" />

    <!-- plugins -->

    <!-- <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4"/> -->
    <!-- <gap:plugin name="org.apache.cordova.camera" version="0.2.9" /> -->
    <!-- <gap:plugin name="org.apache.cordova.media-capture" version="0.2.8" /> -->

    <!--<gap:plugin name="org.apache.cordova.console" />-->
    <!--<gap:plugin name="org.apache.cordova.contacts" />-->
    <gap:plugin name="org.apache.cordova.console" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />

    <!-- puship plugins -->
    <gap:plugin name="org.apache.cordova.console" /> <!-- required -->
    <gap:plugin name="org.apache.cordova.device" /> <!-- required -->
    <!-- <gap:plugin name="org.apache.cordova.geolocation" /> --> <!-- needed only if you use geolocalization -->
    <gap:plugin name="com.phonegap.plugins.pushplugin" /> <!-- required -->

    <!-- Icons paths relative to /www -->
    <icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />

	<icon src="res/icon/default.png" gap:platform="winphone" />
	<icon src="res/icon/default.png" gap:platform="winphone" gap:role="background" />

    <icon src="res/icon/default.png" />

	<!-- Splash -->
    <gap:splash src="res/screen/android/drawable-port-ldpi/screen.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/drawable-port-mdpi/screen.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/drawable-port-hdpi/screen.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/drawable-port-xhdpi/screen.png" gap:platform="android" gap:density="xhdpi" />

    <gap:splash src="res/screen/ios/Default~iphone.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="res/screen/ios/Default@2x~iphone.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="res/screen/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="res/screen/ios/Default-Portrait~ipad.png" gap:platform="ios" width="768" height="1024 " />
    <gap:splash src="res/screen/ios/Default-Portrait@2x~ipad.png" gap:platform="ios" width="1536" height="2048" />

    <gap:splash src="res/screen/windows-phone/screen-portrait.png" gap:platform="winphone" />

    <gap:splash src="res/screen/splash.png" />
</widget>