<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cmBrowserPlugin settings</title>

    <script type="text/javascript" src="kango-ui/kango_api.js"></script>
    <script type="text/javascript" src="lib/vendor.0.2.6.js"></script>
    <script type="text/javascript" src="lib/cameo.0.2.6.js"></script>
    <script type="text/javascript" src="options.js"></script>

    <style>
        body{
            font-size:16px;
        }
    </style>
</head>
<body ng-app="cmOptionsPage" ng-controller="cmKeyList">
    <!--<button ng-click="generateKey()">generate key</button>-->
    <!--<pre>{{generatedKey}}</pre>-->

    <label>key</label><br/>
    <input type="text" ng-model="key" name="key" /><br/>
    <br/>
    <label>value</label><br/>
    <input type="text" ng-model="value" name="value" /><br/>
    <br/>
    <button ng-click="setItem()">setItem</button>
    <button ng-click="removeItem()">removeItem</button>
    <button ng-click="clear()">clear</button>
    <hr>
    <button ng-click="getStorage()">refresh</button>
    <pre style="word-wrap:break-word;">{{storage}}</pre>
</body>
</html>