<section class="theme-a fixed-layout" role="main">
    <cm-header>
        <cm-back back-to="/talks"></cm-back>
        <cm-logo></cm-logo>
    </cm-header>

    <cm-column class="fill-bg">
        <cm-desktop-widget-menu></cm-desktop-widget-menu>
    </cm-column>
    <cm-column class="fill-bg">
        <section class="notification">
            <header class="inScreen">
                <i class="fa cm-fix"></i> {{'NOTIFICATIONS.HEADER' | cmTranslate}}

                <button ng-click="ring();">ring!</button>
                <button ng-click="warn();">warn!</button>
                <button ng-click="info();">info!</button>
                <button ng-click="success();">success!</button>
                <button ng-click="error();">error!</button>
            </header>

            <ul>
                <li ng-repeat="notify in notifications">
            <span class="item clearfix">
                <span class="title">
                    <span>{{notify.label | cmTranslate}}</span>
                </span>
            </span>
                </li>
            </ul>
        </section>
    </cm-column>
    <cm-column class="fill-bg">

    </cm-column>
</section>