<cm-header cm-rubber-space>
    <cm-back cm-weight="1" back-to="/talks"></cm-back>
    <div cm-weight="6"></div>
    <cm-menu cm-weight="1"></cm-menu>
</cm-header>

<section class="notification">
    <header class="inScreen">
        <i class="fa cm-fix"></i> {{'NOTIFICATIONS.HEADER' | cmTranslate}}

        <button ng-click="ring();">ring!</button>
        <button ng-click="warn();">warn!</button>
        <button ng-click="info();">info!</button>
        <button ng-click="success();">success!</button>
        <button ng-click="error();">error!</button>
    </header>

    <ul>
        <li ng-repeat="notify in notifications">
            <span class="item clearfix">
                <span class="title">
                    <span>{{notify.label | cmTranslate}}</span>
                </span>
            </span>
        </li>
    </ul>
</section>