<header class="cm-header">
    <div cm-header-back page-title="'SETTINGS.WELCOME'|cmTranslate" back-to="/talks"></div>
    <div cm-header-logo></div>
    <div cm-header-menu></div>
</header>

<div ng-controller="SettingsCtrl" class="with-header">
    <div cm-nav-tabs></div>

    <div ng-if="activeTab == 'SPINNER'">
        <h3>Spinner</h3>
        <button ng-click="showSpinner()" class="btn btn-default">show</button>
        <button ng-click="hideSpinner()" class="btn btn-default">hide</button>
    </div>

    <div ng-if="activeTab == 'KEY'">
        <div cm-key-pair></div>
    </div>
</div>