<div ng-controller="SettingsCtrl">
    <cm-header cm-rubber-space ng-if="route == '/'">
        <div cm-weight="7"></div>
        <cm-menu cm-weight="1"></cm-menu>
    </cm-header>

    <cm-header cm-rubber-space ng-if="route != '/'">
        <cm-back cm-weight="1" back-to="/settings"></cm-back>
        <div cm-weight="6"></div>
        <cm-menu cm-weight="1"></cm-menu>
    </cm-header>

    <section ng-switch="route" class="settings">
        <cm-overview-settings ng-switch-default></cm-overview-settings>
        <cm-app-settings ng-switch-when="app/"></cm-app-settings>
        <cm-identity-settings ng-switch-when="identity/"></cm-identity-settings>
        <cm-identity-keys ng-switch-when="identity/keys"></cm-identity-keys>
        <cm-identity-trust ng-switch-when="identity/trust"></cm-identity-trust>
    </section>


    <cm-footer cm-rubber-space></cm-footer>
</div>