<article class="content">
    <label>{{'DRTV.PASSWORD.PASSWORD'|cmTranslate}} <span ng-show="withStars">*</span></label>
    <div class="cm-input-ctn with-inside-icons" ng-class="{'cm-input-error':showPasswordLengthError || showPasswordEmptyError}" data-qa="form-input" cm-input-watcher>
        <input
            tabindex="{{tabindex}}" data-qa="input-password"
            type="{{passwordType}}" id="password" ng-class="{'cm-input-error':showPasswordLengthError || showPasswordEmptyError}"
            name="password" ng-model="pw" ng-change="checkPWStrength();copyPW();confirmPW()" cm-adaptive-change = "800" required/>
        <i class="fa" ng-class="{'cm-hidden':passwordType=='password','cm-visible':passwordType=='text'}" ng-click="togglePassword()"></i>
        <i class="fa cm-write"></i>
    </div>
    <div class="pw-progress" ng-model="progress">
        <div class="progress-bar pw-strength-{{bgColor}}"
             ng-style="{width:percent}">
            <span class="sr-only">{{percent}} {{strengthMessage}}</span>
        </div>
    </div>
    <cm-info-bubble class="cm-alert" ng-show="showPasswordLengthError || showPasswordEmptyError" >
        <div ng-show="showPasswordLengthError" data-qa="register-info-pass-min-letter-count">
            <i class="fa cm-info"></i>{{'DRTV.PASSWORD.INFO.MIN_LETTER_COUNT' | cmTranslate : {count: 6} }}
        </div>
        <div ng-show="showPasswordEmptyError" data-qa="drtv-password-error-empty">
            <i class="fa cm-info"></i>{{'DRTV.PASSWORD.INFO.EMPTY'|cmTranslate}}
        </div>
    </cm-info-bubble>
</article>

<hr class="margin-small no-padding" ng-show="!showPassword">

<article class="content" ng-show="!showPassword">
    <label>{{'DRTV.PASSWORD.PASSWORD_CONFIRM'|cmTranslate}} <span ng-show="withStars">*</span></label>
    <div class="cm-input-ctn with-inside-icon" ng-class="{'cm-input-error':!showConfirmPWStatus}" data-qa="form-input" cm-input-watcher>
        <input
            tabindex="{{nextTabIndex}}" data-qa="input-passwordConfirm"
            type="password" id="password_confirm" ng-class="{'cm-input-error':!showConfirmPWStatus}"
            ng-model="pwConfirm" ng-change = "confirmPW()" cm-adaptive-change = "1000" />
        <i class="fa" ng-class="{'cm-write':!pw,'cm-checkbox-wrong':!showConfirmPWStatus,'cm-checkbox-right':showConfirmPWStatus}" data-qa="icon-passwordConfirm"></i>
    </div>
</article>