<h2 class="no-margin-bottom">
    <i class="fa cm-bell"></i>
    {{'SETTINGS.NOTIFY' | cmTranslate}}
</h2>

<ul>
    <li ng-click="handlePushNotifications()"
        ng-class="{'is-disabled':!isApp()}" cm-reactive>
        <span class="item clearfix">
            <span class="title">
                <span>{{'SETTINGS.PAGES.NOTIFY.PUSH_NOTIFICATIONS' | cmTranslate}}</span>
            </span>

            <section class="icon-list">
                 <i ng-show="!changePushNotifications" class="fa" ng-class="{
                    'cm-radio-0':!settings.pushNotifications,
                    'cm-radio-1':settings.pushNotifications
                }"></i>
                <cm-loader ng-show="changePushNotifications" class="in-icon-list"></cm-loader>
            </section>
        </span>
    </li>
    <li ng-click="handleBrowserNotifications()"
        ng-class="{'is-disabled':isApp()}">
        <span class="item clearfix">
            <span class="title">
                <span>{{'SETTINGS.PAGES.NOTIFY.BROWSER_NOTIFICATIONS' | cmTranslate}}</span>
            </span>

            <section class="icon-list">
                <i class="fa" ng-class="{
                    'cm-radio-0':!settings.browserNotifications,
                    'cm-radio-1':settings.browserNotifications
                }"></i>
            </section>
        </span>
    </li>
</ul>

<hr>

<div class="cm-input-ctn">
    <input type="text" ng-model="notificationTitle">
</div>
<button ng-click="sendNotification()">
    SEND
</button>