<ul>
    <li ng-click="goTo({},'talks')" ng-class="{'is-active':checkActive('talks,conversation','conversation/new')}" cm-reactive>
        <span class="item clearfix">
            <span class="title">
                <i class="fa cm-talk"></i>
                <span>{{'MENU.TALKS'|cmTranslate}}</span>
            </span>
        </span>
    </li>

    <li ng-click="goTo({},'contacts')" ng-class="{'is-active':checkActive('contact','contact/request/list,contact/create')}" cm-reactive>
        <span class="item clearfix">
            <span class="title">
                <i class="fa cm-person"></i>
                <span>{{'MENU.CONTACTS'|cmTranslate}}</span>
            </span>
        </span>
    </li>

    <li class="{{menu[btn].css}}"
        ng-repeat="btn in menuKeys"
        ng-click="goTo(menu[btn], btn)"
        data-qa="{{menu[btn]['data-qa']}}"
        ng-class="{'is-active':checkActive(btn),'info':(menu[btn == 'quickstart' && markQuickstart)}"
        cm-reactive>
        <span class="item clearfix">
            <span class="title">
                <i class="fa" ng-class="menu[btn].icon"></i>
                <span>{{menu[btn].i18n|cmTranslate}}</span>
            </span>

            <section class="icon-list">
                <cm-friend-request-counter ng-if="menu[btn].drtv != undefined && menu[btn].drtv == 'cm-friend-request-counter'"></cm-friend-request-counter>
            </section>
        </span>
    </li>

    <li ng-click="logout()" data-qa="logout-btn" cm-reactive>
        <span class="item clearfix">
            <span class="title">
                <i class="fa cm-logout"></i>
                <span>{{'MENU.LOGOUT'|cmTranslate}}</span>
            </span>
        </span>
    </li>

    <li>
        <span class="item clearfix">
            <span class="title">
                <i class="fa cm-rhino-positive"></i>
                <span>{{version}}</span>
            </span>
        </span>
    </li>
</ul>