<article class="content edit-identity-head clearfix">
    <div class="cm-fl mr5">
        <cm-upload-avatar class="border-complete"></cm-upload-avatar>
        <cm-avatar cm-data="identity" cm-view="{{chooseAvatar?'unknown':''}}" ng-show="identity" class="big"></cm-avatar>
    </div>
    <div class="cm-fl w72">
        <ul class="no-border">
            <li class="cm-disabled" data-qa="btn-identity-trust">
                <span class="item clearfix">
                    <i class="fa cm-qr-code fa-2x"></i>
                    {{'IDENTITY.LABEL.TRUST'|cmTranslate}}
                </span>
                <section class="icon-list">
                    <i class="fa cm-right position-exception"></i>
                </section>
            </li>
            <li ng-click="goTo('/settings/identity/key/list')" data-qa="btn-identity-keys" cm-reactive>
                 <span class="item clearfix">
                     <i class="fa cm-key fa-2x"></i>
                    {{'IDENTITY.LABEL.KEYMANAGEMENT'|cmTranslate}}
                 </span>
                <section class="icon-list">
                    <i class="fa cm-right position-exception"></i>
                </section>
            </li>
        </ul>
    </div>
</article>

<hr class="margin-small" />

<form name="cmForm" novalidate autocomplete="off">
    <article class="content">
        <label>{{'CONTACT.PLACEHOLDER.CAMEOID'|cmTranslate}}</label>
        <div class="cm-input-ctn cm-input-readonly">
            <i class="fa cm-rhino-positive"></i>
            <input
                tabindex="1" data-qa="input-cameoId" required disabled
                type="text" name="cameoId" ng-model="identity.cameoId" />
        </div>
    </article>

    <hr class="margin-small" />

    <article class="content">
        <label>{{'CONTACT.PLACEHOLDER.DISPLAYNAME'|cmTranslate}}</label>
        <div class="cm-input-ctn with-inside-icon">
            <input
                tabindex="2" data-qa="input-displayname" required
                type="text" name="displayName" ng-model="identity.displayName" ng-keyup="validateDisplayName();" />
            <i class="fa cm-write"></i>
        </div>
        <cm-info-bubble class="cm-alert" ng-show="cmForm.displayName.$dirty && cmForm.displayName.$invalid && cmForm.displayName.length > 0">
            <div ng-show="cmForm.displayName.$error.required">
                <i class="fa cm-info"></i> {{'CONTACT.INFO.EMPTY.DISPLAYNAME'|cmTranslate}}
            </div>
        </cm-info-bubble>
    </article>

    <hr class="margin-small" />

    <label class="content">{{'CONTACT.PLACEHOLDER.PHONENUMBER'|cmTranslate}}</label>
    <cm-multi-input cm-collection="identity.phoneNumbers" class="content">
        <ng-form name="formPhone">
            <div class="cm-input-ctn with-chooser with-inside-icon">
                <input
                    tabindex="3" data-qa="input-phonenumber"
                    type="text" name="phoneNumber" ng-model="item.value" cm-validate-phone cm-adaptive-change />
                <i class="fa cm-write"></i>
            </div>
            <!--<div cm-type-chooser cm-choose-value-to="item"></div>-->
            <cm-info-bubble class="cm-alert" data-qa="form-error-phoneNumber-invalid" ng-show="formPhone.phoneNumber.$dirty && formPhone.phoneNumber.$invalid">
                <div ng-show="formPhone.phoneNumber.$invalid">
                    <i class="fa cm-info"></i> {{'CONTACT.INFO.INVALID.PHONENUMBER'|cmTranslate}}
                </div>
            </cm-info-bubble>
        </ng-form>
    </cm-multi-input>

    <hr class="margin-small" />

    <label class="content">{{'CONTACT.PLACEHOLDER.EMAIL'|cmTranslate}}</label>
    <cm-multi-input cm-collection="identity.emails" class="content">
        <ng-form name="formEmail">
            <div class="cm-input-ctn with-chooser with-inside-icon">
                <input
                    tabindex="4" data-qa="input-email"
                    name="email" ng-model="item.value" cm-validate-email cm-adaptive-change />
                <i class="fa cm-write"></i>
            </div>
            <!--<div cm-type-chooser cm-choose-value-to="item"></div>-->
            <cm-info-bubble class="cm-alert" ng-show="formEmail.email.$dirty && formEmail.email.$invalid">
                <div ng-show="formEmail.email.$invalid" data-qa="form-error-email-invalid">
                    <i class="fa cm-info"></i> {{'CONTACT.INFO.INVALID.EMAIL'|cmTranslate}}
                </div>
            </cm-info-bubble>
        </ng-form>
    </cm-multi-input>

    <!--address class="cm-address">
        <div class="cm-input-ctn">
            <input type="text" class="street" name="street" ng-model="identity.address.street" placeholder="{{'CONTACT.PLACEHOLDER.STREET'|cmTranslate}}" required tabindex="5" data-qa="input-address-street" />
            <input type="text" class="streetnr" name="streetnr" ng-model="identity.address.streetnr" placeholder="{{'CONTACT.PLACEHOLDER.STREETNR'|cmTranslate}}" required tabindex="6" data-qa="input-address-streetnr" />
        </div>

        <div class="cm-input-ctn">
            <input type="text" class="zip" name="zip" ng-model="identity.address.zip" placeholder="{{'CONTACT.PLACEHOLDER.ZIP'|cmTranslate}}" required tabindex="7" data-qa="input-address-zip" maxlength="5"/>
            <input type="text" class="city" name="city" ng-model="identity.address.city" placeholder="{{'CONTACT.PLACEHOLDER.CITY'|cmTranslate}}" required tabindex="8" data-qa="input-address-city" />
        </div>
    </address-->

</form>

<cm-footer cm-always-on-top>
    <button class="cm-btn-grey" ng-click="saveIdentity()" data-qa="btn-saveIdentity" cm-reactive>
        <span ng-show="!showLoader">
            {{'CONTACT.FOOTER.SAVE'|cmTranslate}} <i class="fa cm-checker"></i>
        </span>
        <cm-loader ng-show="showLoader" cm-color="ci-color"></cm-loader>
    </button>
</cm-footer>