<cm-loader ng-show="isLoading" class="fullscreen"></cm-loader>

<article class="content" ng-if="!contacts.length && !isLoading">
    <cm-info-bubble class="cm-alert">
        <i class="fa cm-info"></i> {{"CONTACTS.LIST_EMPTY"|cmTranslate}}
    </cm-info-bubble>
</article>

<ul>
    <li ng-repeat="contact in contacts | cmSearch:'contacts':search | cmPendingFirst">
        <cm-contact-tag cm-contact="contact" ng-class="{'cm-disabled':contact.contactType == 'pending'}" ng-click="editContact(contact)" cm-reactive></cm-contact-tag>
        <section class="icon-list" ng-click="startConversationWithContact($event,contact)" data-qa="start-new-conversation-btn" cm-reactive>
            <i class="fa cm-new-talk" ng-hide="contact.contactType == 'pending'"></i>
        </section>
    </li>
</ul>