<cm-loader ng-show="isLoading" class="fullscreen"></cm-loader>

<ul>
    <li ng-repeat="contact in contacts | cmSearch:'contacts':search | cmPendingFirst as localResults">
        <cm-contact-tag cm-contact="contact" ng-class="{'cm-disabled':contact.contactType == 'pending'}" ng-click="gotoContact(contact)" cm-reactive></cm-contact-tag>
        <section class="icon-list" ng-click="startConversationWithContact($event,contact)" data-qa="start-new-conversation-btn" cm-reactive>
            <i class="fa cm-new-talk" ng-hide="contact.contactType == 'pending'"></i>
        </section>
    </li>
    <li class="with-inside-left-icon" ng-show="(localResults.length == 0)">
        <i class="fa cm-attention"></i>
        <div class="item">
            <!--{{"CONTACTS.LIST_EMPTY"|cmTranslate}}-->
            @todo keine Kontakte gefunden
        </div>
    </li>
    <li class="with-inside-left-icon with-inside-icon" cm-show-on-filter="search" cm-show-on-min-length="3" ng-click="toogleSearch(search)" data-qa="btn-search" cm-reactive>
        <i class="fa cm-search"></i>
        <div class="item">
            {{'CONTACTS.SEARCH'|cmTranslate}} <strong ng-if="search">({{search}})</strong>
        </div>
        <i class="fa" ng-class="{'cm-down':!activateSearch,'cm-up':activateSearch}"></i>
    </li>
    <li ng-show="showLoader">
        <cm-loader cm-color="ci-color"></cm-loader>
    </li>
    <li class="with-inside-left-icon" ng-show="(activateSearch && !showLoader && results.length == 0)">
        <i class="fa cm-attention"></i>
        <div class="item">
            todo keine server results
        </div>
    </li>
    <li class="contact-search-item" ng-repeat="item in results">
        <cm-avatar cm-data="item"></cm-avatar>
        <section class="identityName" cm-weight="1">
            <strong>{{item.getDisplayName()}}</strong>
        </section>
        <section class="icon-list">
            <i class="fa cm-contacts"></i>
        </section>
    </li>
</ul>