<cm-modal
    id="{{modalId}}"
    cm-title="CONTACTS.HEADING.NEW_CONTACTS"
    type="plain"
    nose="top-right"
    severity="info"
    nose-position="{{nosePosition||0}}"
    class="no-padding">
    <div class="modal-row modal-link" ng-click="goTo('/contact/search')" cm-reactive>
        <i class="fa cm-search"></i>
        {{"CONTACTS.LABEL.SEARCH_IDENTITY"|cmTranslate}}
    </div>
    <div class="modal-row modal-link" ng-click="goTo('/contact/create')" cm-reactive>
        <i class="fa cm-new-contact"></i>
        {{"CONTACTS.LABEL.ADD_EXTERN"|cmTranslate}}
    </div>
    <div class="modal-row modal-link" ng-if="canReadLocalContacts()" ng-click="goTo('/contact/create')" cm-reactive>
        <i class="fa cm-mobile"></i>
        {{"CONTACTS.LABEL.IMPORT_LOCAL"|cmTranslate}}
    </div>
</cm-modal>