<article class="content" ng-show="isLoading">
    <cm-loader></cm-loader>
</article>
<article class="content"ng-show="!requests.length && !isLoading">
    <cm-info-bubble nose-x="45%" class="cm-alert">
        <i class="fa cm-info"></i> {{'CONTACTS.INFO.NO_REQUESTS'|cmTranslate}}
    </cm-info-bubble>
</article>

<section class="mt15" ng-if="(requests.length > 0)">
    <ul class="no-border">
        <li ng-repeat="request in requests" class="contact-request-item" data-qa="contact-list-element">
            <div>
                <cm-avatar cm-data="request.identity"></cm-avatar>
                <section cm-weight="4" class="requestIdentity w75">
                    <div class="displayName" data-qa="contact-display-name">{{request.identity.getDisplayName()}}</div>
                </section>
            </div>

            <article class="content mt15 mb15" ng-if="(request.message && request.message != '')">
                <cm-info-bubble nose-x="30%">
                    {{request.message}}
                </cm-info-bubble>
            </article>

            <div class="cm-request-bar">
                <button ng-click="acceptRequest(request)" data-qa="btn-acceptRequest" cm-reactive>
                    <i class="fa cm-checkbox-right"></i>{{'CONTACTS.REQUESTS.ACCEPT'|cmTranslate}}
                </button>
                <button ng-click="rejectRequest(request)" data-qa="btn-rejectRequest" cm-reactive>
                    <i class="fa cm-reject"></i>
                    {{'CONTACTS.REQUESTS.REJECT'|cmTranslate}}
                </button>
                <!--<button ng-click="ignoreRequest(request)" ng-if="false" cm-reactive>
                    <i class="fa cm-ignore"></i>
                    {{'CONTACTS.REQUESTS.IGNORE'|cmTranslate}}
                </button>-->
            </div>
        </li>
    </ul>
</section>
