.theme-a {
  cm-identity-tag, cm-contact-tag, cm-recipient-tag, .contact-search-item, .contact-request-item{
    width:100%;
    min-height: 4rem;
    line-height: 1rem;
    display: block;
    position: relative;
    padding: 0.3rem;
    cm-avatar {
      margin-right: 1.5rem;
    }
    cm-key-level {
      margin-right: 0.5rem;
    }
    .identityName, .requestIdentity{
      display: inline-block;
      vertical-align: middle;
      .displayName{
        font-weight:bold;
        .mb10;
      }
      .cameoId{
        font-style: italic;
      }
      .message {
        .w60;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  cm-identity-edit, cm-contact-edit, cm-contact-create {
    display: block;
    .edit-identity-head {
      padding-left: 2rem;
      padding-right: 0;
      cm-avatar {
        width: 8rem;
        height: 8rem;
      }
      ul li .icon-list{
        right: -0.2rem;
      }
    }
  }
  cm-recipient-tag {
    cm-avatar {
      margin-right: 0.5rem !important;
    }
  }
}