<div>
    <div class="modal-row cm-form-group">

        <strong ng-if="is3rdParty"    ng-bind-html="'IDENTITY.KEYS.TRUST.ENTER_TRANSACTION_SECRET.NOTE'|cmTranslate:modalMessageVars"></strong>
        <strong ng-if="!is3rdParty"    ng-bind-html="'IDENTITY.KEYS.AUTHENTICATION.ENTER_TRANSACTION_SECRET.NOTE'|cmTranslate:modalMessageVars"></strong>


        <div class="cm-form-control white-control with-inputter">
            <input id="inp-transactSecret" type="text" ng-model="transactSecret" cm-adaptive-change data-qa="inp-transactSecret">
        </div>


        <span ng-if="is3rdParty"    ng-bind-html="'IDENTITY.KEYS.TRUST.ENTER_TRANSACTION_SECRET.INSTRUCTIONS'|cmTranslate:modalMessageVars"></span>
        <span ng-if="!is3rdParty"   ng-bind-html="'IDENTITY.KEYS.AUTHENTICATION.ENTER_TRANSACTION_SECRET.INSTRUCTIONS'|cmTranslate:modalMessageVars"></span>


        <div class="cm-warning" ng-show="error.emptyInput">
            <i class="fa cm-info"></i>{{'SYSTEM.ERROR.EMPTY_INPUT'|cmTranslate}}
        </div>

        <div class="cm-warning" ng-show="error.wrongSecret" data-qa="warn-wrong-input">
            <i class="fa cm-info"></i>{{'SYSTEM.ERROR.WRONG_INPUT'|cmTranslate}}
        </div>
    </div>
    <button class="cm-btn cm-btn-block cm-btn-grey" data-qa="btn-acceptRequest" ng-click="verify">
        <span ng-show="!spinner">
            {{  
                is3rdParty
                ?   'IDENTITY.KEYS.TRUST.ENTER_TRANSACTION_SECRET.SUBMIT_BUTTON'
                :   'IDENTITY.KEYS.AUTHENTICATION.ENTER_TRANSACTION_SECRET.SUBMIT_BUTTON'
                |cmTranslate
            }}

            <i class="fa cm-checker cm-lg-icon"></i>
        </span>
        <cm-spinner ng-show="spinner" cm-color="#02BED2"></cm-spinner>
    </button>
</div>
