<div>
    <div class="modal-row">
        <span ng-if="authenticationRequest.is3rdParty()"    ng-bind-html="'IDENTITY.KEYS.AUTHENTICATION.ACCEPT_REQUEST.INSTRUCTIONS'|cmTranslate:modalMessageVars"></span>
        <br/>
        <strong ng-if="authenticationRequest.is3rdParty()"    ng-bind-html="'IDENTITY.KEYS.AUTHENTICATION.ACCEPT_REQUEST.NOTE'|cmTranslate:modalMessageVars"></strong>

        <span ng-if="!authenticationRequest.is3rdParty()"   ng-bind-html="'IDENTITY.KEYS.AUTHENTICATION.ACCEPT_REQUEST.INSTRUCTIONS'|cmTranslate:modalMessageVars"></span>
        <br/>
        <strong ng-if="!authenticationRequest.is3rdParty()"    ng-bind-html="'IDENTITY.KEYS.AUTHENTICATION.ACCEPT_REQUEST.NOTE'|cmTranslate:modalMessageVars"></strong>
    </div>
    <div cm-rubber-space ng-show="!spinner">
        <button class="cm-btn cm-btn-block cm-btn-grey cm-inline-block cm-white-border-right" cm-weight="1" ng-click="cancel()" data-qa="btn-cancel">
            {{'IDENTITY.KEYS.AUTHENTICATION.ACCEPT_REQUEST.CANCEL_BUTTON'|cmTranslate}}
            <i class="fa cm-checkbox-wrong cm-lg-icon"></i>
        </button>
        <button
                class="cm-btn cm-btn-block cm-btn-grey cm-inline-block"
                ng-click="accept()"
                data-qa="btn-accept"
                cm-weight="1">
            {{'IDENTITY.KEYS.AUTHENTICATION.ACCEPT_REQUEST.ACCEPT_BUTTON'|cmTranslate}}
            <i class="fa cm-checker cm-lg-icon"></i>
        </button>
    </div>
    <button class="cm-btn cm-btn-block cm-btn-grey" ng-show="spinner">
        <cm-spinner ng-show="spinner" cm-color="#02BED2"></cm-spinner>
    </button>
</div>