<div>
    <div class="modal-row">
        <span ng-bind-html="'DRTV.KEY_RESPONSE.CONTENT'|cmTranslate:modalMessageVars"></span>
    </div>
    <div cm-rubber-space ng-show="!spinner">
        <button class="cm-btn cm-btn-block cm-btn-grey cm-inline-block cm-white-border-right" cm-weight="1" ng-click="cancel()" data-qa="btn-cancel">
            {{'MODAL.LABEL.CANCEL'|cmTranslate}}
            <i class="fa cm-checkbox-wrong cm-lg-icon"></i>
        </button>
        <button
                class="cm-btn cm-btn-block cm-btn-grey cm-inline-block"
                ng-click="accept()"
                data-qa="btn-accept"
                cm-weight="1">
            {{'MODAL.LABEL.ACCEPT'|cmTranslate}}
            <i class="fa cm-checker cm-lg-icon"></i>
        </button>
    </div>
    <button class="cm-btn cm-btn-block cm-btn-grey" ng-show="spinner">
        <cm-spinner ng-show="spinner" cm-color="#02BED2"></cm-spinner>
    </button>
</div>