<div>
    <div class="modal-row cm-form-group">
        <span ng-bind-html="'SETTINGS.PAGES.IDENTITY.HANDSHAKE.HANDSHAKE_NEED_TRANSACTID'|cmTranslate:{keyName:fromKey.name}"></span>
        <div class="cm-form-control white-control with-inputter">
            <input id="inp-transactSecret" type="text" ng-model="transactSecret" cm-adaptive-change data-qa="inp-transactSecret">
        </div>

        <div class="cm-warning" ng-show="error.emptyInput">
            <i class="fa cm-info"></i>{{'SYSTEM.ERROR.EMPTY_INPUT'|cmTranslate}}
        </div>

        <div class="cm-warning" ng-show="error.wrongSecret" data-qa="warn-wrong-input">
            <i class="fa cm-info"></i>{{'SYSTEM.ERROR.WRONG_INPUT'|cmTranslate}}
        </div>
    </div>
    <button class="cm-btn cm-btn-block cm-btn-grey" data-qa="btn-acceptRequest" ng-click="verifyCode()">
        <span ng-show="!spinner">
            {{'SETTINGS.PAGES.IDENTITY.HANDSHAKE.HANDSHAKE_OK'|cmTranslate}}
            <i class="fa cm-checker cm-lg-icon"></i>
        </span>
        <cm-spinner ng-show="spinner" cm-color="#02BED2"></cm-spinner>
    </button>
</div>
