<div class="theme-a modal-row">

    <strong ng-if="is3rdParty" ng-bind-html="'IDENTITY.KEYS.TRUST.ENTER_TRANSACTION_SECRET.NOTE'|cmTranslate:modalMessageVars"></strong>
    <strong ng-if="!is3rdParty" ng-bind-html="'IDENTITY.KEYS.AUTHENTICATION.ENTER_TRANSACTION_SECRET.NOTE'|cmTranslate:modalMessageVars"></strong>

    <form ng-submit="verify(transactSecret)">
        <div class="cm-input-ctn with-inside-icon">
            <input id="inp-transactSecret" type="text" ng-model="transactSecret" cm-adaptive-change data-qa="inp-transactSecret">
            <i class="fa cm-write"></i>
        </div>
        <cm-info-bubble class="cm-alert" ng-show="error.emptyInput || error.wrongSecret">
            <div class="cm-warning" ng-show="error.emptyInput">
                <i class="fa cm-info"></i>{{'SYSTEM.ERROR.EMPTY_INPUT'|cmTranslate}}
            </div>
            <div class="cm-warning" ng-show="error.wrongSecret" data-qa="warn-wrong-input">
                <i class="fa cm-info"></i>{{'SYSTEM.ERROR.WRONG_INPUT'|cmTranslate}}
            </div>
        </cm-info-bubble>
        <button class="dpn" type="submit"></button>
    </form>
        <br>
    <span ng-if="is3rdParty" ng-bind-html="'IDENTITY.KEYS.TRUST.ENTER_TRANSACTION_SECRET.INSTRUCTIONS'|cmTranslate:modalMessageVars"></span>
    <span ng-if="!is3rdParty" ng-bind-html="'IDENTITY.KEYS.AUTHENTICATION.ENTER_TRANSACTION_SECRET.INSTRUCTIONS'|cmTranslate:modalMessageVars"></span>
</div>
<footer>
    <button class="cm-btn-grey" data-qa="btn-acceptRequest" ng-click="verify(transactSecret)">
        <span>
            {{  
                is3rdParty
                ?   'IDENTITY.KEYS.TRUST.ENTER_TRANSACTION_SECRET.SUBMIT_BUTTON'
                :   'IDENTITY.KEYS.AUTHENTICATION.ENTER_TRANSACTION_SECRET.SUBMIT_BUTTON'
                |cmTranslate
            }}

            <i class="fa cm-checker"></i>
        </span>
    </button>
</footer>