<div ng-show="step == 1">
    <div class="modal-row">
        <span ng-if="authenticationRequest.is3rdParty()"    ng-bind-html="'CONTACT.HANDSHAKE_3RD.HANDSHAKE_NOW'|cmTranslate:modalMessageVars"></span>
        <span ng-if="!authenticationRequest.is3rdParty()"   ng-bind-html="'SETTINGS.PAGES.IDENTITY.HANDSHAKE.HANDSHAKE_NOW'|cmTranslate:modalMessageVars"></span>
    </div>
    <div cm-rubber-space>
        <button class="cm-btn cm-btn-block cm-btn-grey cm-inline-block cm-white-border-right" cm-weight="1" ng-click="cancel()">
            CANCEL
            <i class="fa cm-checkbox-wrong cm-lg-icon"></i>
        </button>
        <button
            class="cm-btn cm-btn-block cm-btn-grey cm-inline-block"
            ng-click="start()"
            data-qa="btn-start"
            cm-weight="1">
            {{
                authenticationRequest.is3rdParty()
                ?   'CONTACT.HANDSHAKE._3RDHANDSHAKE_OK'
                :   'SETTINGS.PAGES.IDENTITY.HANDSHAKE.HANDSHAKE_OK'
                |cmTranslate
            }}
            <i class="fa cm-checker cm-lg-icon"></i>
        </button>
    </div>
</div>
<div ng-show="step == 2">
    <div class="modal-row">
        {{
            authenticationRequest.is3rdParty()
            ?   'CONTACT.HANDSHAKE_3RD.TRANSACTION_SECRET'
            :   'SETTINGS.PAGES.IDENTITY.HANDSHAKE.TRANSACTION_SECRET'
            |cmTranslate
        }}
        <br />
        <h1 data-qa="transaction-secret-value">{{transactionSecret}}</h1>
    </div>
    <button class="cm-btn cm-btn-block cm-btn-grey">
        <cm-spinner ng-show="handshakeIdle" cm-color="#02BED2"></cm-spinner>
    </button>
</div>
