<form class="form-signin" role="form" ng-submit="doLogin()" autocomplete="off">
    <div class="modal-outer-title">
        <cm-logo></cm-logo>
    </div>

    <h2 class="form-signin-heading ">{{'LOGIN.HEADING'|cmTranslate}}</h2>

    <div class="cm-form-group">
        <div class="cm-form-control" ng-class="{'cm-input-error':alertState!=''}">
            <input ng-model="formData.user" ng-class="{'cm-input-error':alertState!=''}" id="user" name="user" placeholder="{{'LOGIN.PLACEHOLDER.USERNAME'|cmTranslate}}" type="text" value="" required />
        </div>
    </div>
    <div class="cm-form-group">
        <div class="cm-form-control with-inside-icon" ng-class="{'cm-input-error':alertState!=''}">
            <input ng-model="formData.pass" ng-class="{'cm-input-error':alertState!=''}" id="pw" name="pw" placeholder="{{'LOGIN.PLACEHOLDER.PASSWORD'|cmTranslate}}" type="{{passwordType}}" value="" required />
            <i class="fa" ng-class="{'cm-visible':passwordType=='password','cm-hidden':passwordType=='text'}" ng-click="handlePassword()"></i>
        </div>

    </div>
    <div class="cm-form-group" ng-if="cmEnv.autoLogin">
        <select ng-model="formData.autologin" class="cm-form-control btn-block autologin" ng-change="changeAutologin()">
            <option value="none">{{'LOGIN.LABEL.AUTO'|cmTranslate}}</option>
            <option ng-repeat="(user,prop) in loginData">{{user}}</option>
        </select>
    </div>

    <div class="cm-alert" ng-hide="alertState==''" data-qa="login-info">
        <div><i class="fa cm-info"></i>{{'LOGIN.INFO.'+alertState|cmTranslate}}</div>
    </div>

    <button class="btn cm-btn cm-btn-lg cm-btn-block cm-btn-primary" type="submit" data-qa="login-submit-btn">
        <span ng-show="!showSpinner">{{'LOGIN.LABEL.SUBMIT'|cmTranslate}} <i class="fa cm-key cm-lg-icon"></i></span>
        <cm-spinner ng-show="showSpinner" cm-color="#02BED2"></cm-spinner>
    </button>
</form>