cm-identity-tag, cm-contact-tag, cm-recipient-tag, .contact-search-item, .contact-request-item{
  .pos-rel;
  .dib;
  .w100;
  min-height: @cm-unit;
//    line-height: 1rem;
  padding: @cm-vertical-padding;
  cm-key-level {
    margin-right: 0.5rem;
  }
  .identityName, .requestIdentity{
    .dib;
    .vam;
    .displayName{
      font-weight:bold;
      .mb10;
    }
    .cameoId{
      font-style: italic;
    }
    .message {
      .w60;
      .single-line;
    }
  }
  .icon-list{
    top: @cm-vertical-padding;
  }
}
cm-identity-edit, cm-widget-contact-edit, cm-contact-create {
  .dbl;
  .edit-identity-head {
    padding-left: 2rem;
    padding-right: 0;
  }
}

cm-contact-tag, cm-recipient-tag{
  .displayName{
    .dib;
    .vat;
    height:@cm-unit;
    line-height:@cm-unit;
    width:(@cm-unit * 4) - 1;
    font-weight:bold;
    .single-line;
  }
}

cm-contact-tag, cm-recipient-tag, .contact-search-item, cm-identity-tag {
  padding: 0;
  height: @cm-unit;

  cm-contact-type{
    .tar;
    height: @cm-unit;
    line-height: @cm-unit;
    .pos-tr;
    right: @cm-unit;
    i {
      .no-margin !important;
      .tac;
      .vam;
      width: @cm-unit;
      height: @cm-unit;
      font-size: @cm-unit - 1;
      color: @cm-border-grey;
      line-height: inherit;
    }
  }
}

