.key-list-item {
  padding: 0;
  min-height: @cm-unit;

  section.item {
    height: @cm-unit;
    padding: 0.4rem !important;
  }

  section.icon-list {
    top: -0.1rem;
    i {
      height: @cm-unit;
    }
  }
}