cm-identity-key-list {
  ul {
    padding-bottom: 0.2rem !important;
  }
  .key-list-item {
    padding: 0;
    height: @cm-unit;

    section.item {
      height: @cm-unit;
      padding: 0.4rem !important;
    }
  }
}