<style type="text/css">
    .form{vertical-align:top;}
    .form .label{
        width:50%;
        float:left;
        line-height:7;
        font-size:3em;
        line-height:1.5em;
    }
    .form .bouncy{width:50%;float:left;}
    .form:after{content:" ";clear:both;display:table;}
</style>
<cm-navigation cm-title="Key Generation"></cm-navigation>
<label>
    <input type="checkbox" ng-model="webworkerOn">
    generation with webworker
</label><br />
<hr>
<div class="form">
    <div class="label">
        async
    </div>
    <div class="bouncy">
        <button ng-click="startKeygen(true)" ng-class="{'is-idle':isIdle}" ng-disabled="isIdle">start</button>
        <button ng-click="stopKeygen(true)">stop</button>
    </div>
</div>

<div class="form">
    <div class="label">
        sync
    </div>
    <div class="bouncy">
        <button ng-click="startKeygen()" ng-class="{'is-idle':isIdle}" ng-disabled="isIdle">start</button>
        <button ng-click="stopKeygen()">stop</button>
    </div>
</div>
<!--
<a href="http://sb-f.de/cm-key-gen/#/keygen" target="_self">test in app keygeneration (self)</a>
<a href="http://sb-f.de/cm-key-gen/#/keygen" target="_blank">test in app keygeneration (blank)</a>
<a href="http://sb-f.de/cm-key-gen/#/keygen" target="_system">test in app keygeneration (system)</a>
-->

<cm-loader cm-halt="isIdle" type="balls"></cm-loader>

<div class="alert">
    Web Worker Supported? {{canWebworker()}}<br />
    keySize: {{keySize}}<br />
    generationTime: {{generationTime}}
    <hr />
    state: {{state}}<br />
    history: <pre ng-dblclick="clearHistory()">{{print(history)}}</pre>
</div>