<div class="page-header">
    <h1>Cockpit
        <small>Listing of {{name}}</small>
    </h1>
</div>

<button ng-click="createNew()" type="button" class="btn btn-primary">Create new</button>

<table class="table table-striped">

    <thead>
    <tr>
        <th>ID</th>
        <th ng-repeat="title in titles">{{title}}</th>
        <th>Modify</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="row in list">
        <td>{{row.id}}</td>
        <td ng-repeat="n in titles">
            {{row.attributes[$index]}}
        </td>
        <td>
            <button ng-click="editElement(row.id)" type="button" class="btn">Edit</button>
            <button ng-click="deleteElement(row.id)" type="button" class="btn">Delete</button>
        </td>
    </tr>
    </tbody>

</table>

<button ng-click="loadMore()" type="button" style="width: 100%" class="btn btn-primary">Load More</button>