<div class="content">

    <h2>Edit of {{elementName}}</h2>

    <div class="well well-lg">
        <div class="input-group">
            <div ng-repeat="(key, value) in formData">
                <span class="label label-default">{{key}}</span>
                <input name="{{key}}"
                       type="text"
                       class="form-control"
                       ng-model="formData[key]"
                       ng-disabled="{{!formDataEditState[key]}}"
                        />
            </div>
        </div>
        <button ng-click="sendElement()" class="btn btn-default">save changes</button>
    </div>
</div>