<div class="content">

    <h2>Edit of {{elementName}}</h2>

    <div class="well well-lg">
        <div class="input-group" style="width: 100%">
            <div ng-repeat="attribute in attributes">

                <span class="label label-default">{{attribute['displayName']}}</span>
                <input name="{{attribute['name']}}"
                       type="text"
                       class="form-control"
                       ng-model="attribute['data']"
                       ng-disabled="{{!attribute['isEditable']}}"
                        />
            </div>
        </div>
        <button ng-click="sendElement()" class="btn btn-default">save changes</button>
    </div>
</div>