<!DOCTYPE html>
<html ng-app="cockpit">
    <head>
        <title>Cockpit</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <base href="<%= basePath %>">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/cockpit.css">

        <script src="<%= appPath %>vendor.<%= currentVersion %>.js"></script>
        <script src="<%= appPath %>cameo.<%= currentVersion %>.js"></script>
        <script src="js/jquery/jquery-2.1.0.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/ui-bootstrap/ui-bootstrap-0.10.0.min.js"></script>
        <script src="js/ui-bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>

        <script src="js/cockpitList.js"></script>
        <script src="js/cockpitEdit.js"></script>
        <script src="js/cockpitMain.js"></script>
        <script src="js/twoFactorModal.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body style="background-image: url('images/cockpit.jpg'); background-size: cover">
        <a href="#">
            <div class="page-header">
                <h1>Cockpit
                    <small>Welcome on board captain</small>
                </h1>
            </div>
        </a>

        <div ng-view ></div>
    </body>
</html>