<div class="twoFactorModal">
    <h2>Two Factor Authentication Required </h2>

    <div class=" content">

        <button ng-click="requestTwoFactorKey()" type="button" class="btn">Request Key</button>
        <hr>
        <div class="form-inline">
            <input type="text" class="form-control" ng-model="twoFactorKey" placeholder="Enter key">

            <input type="button" ng-click="requestTwoFactorToken(twoFactorKey)" class="btn" value="Send Key">
        </div>

        <div ng-show="invalidKey" class="alert alert-danger">invalid key</div>
    </div>
</div>