.page-header {
    background: rgba(255,255,255,0.7);
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.page-header h1 {
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
}

a {
    color: inherit !important;
    text-decoration: none !important;

}

.twoFactor {
    background: rgba(255,255,255,0.7);
}


.content {
    background: rgba(255,255,255,1);
    padding: 2em;
}