.page-header {
    background: rgba(255,255,255,0.7);
    padding-top: 30px;
    margin-top: 0;
}

.page-header h1 {
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
}

.twoFactor {
    background: rgba(255,255,255,0.7);
}
