<cm-header cm-rubber-space>
    <cm-back cm-weight="1" back-to="conversation" plain-back="true" page-title="'RECIPIENTS.LABEL.DONE'"></cm-back>
    <cm-logo cm-weight="1"></cm-logo>
    <cm-menu cm-weight="1"></cm-menu>
</cm-header>

<section ng-controller = "RecipientsCtrl">
    <header class="cm-list-header">
        <h1>{{"RECIPIENTS.HEADING"|cmTranslate}}</h1>

        <cm-search-input ng-model="search"></cm-search-input>
    </header>

    <cm-contacts-list contacts-as="contacts">
        <cm-contact-tag ng-repeat="contact in contacts|cmSearch:'contacts':search" cm-rubber-space ng-class="{'disabled':contact.contactType == 'pending'}">
            <cm-avatar cm-data="contact.identity"></cm-avatar>
            <cm-key-level key-size="contact.identity.getWeakestKeySize()"></cm-key-level>
            <cm-contact-brief cm-data="contact" cm-weight="1"></cm-contact-brief>
            <cm-contact-type cm-data="contact"></cm-contact-type>
            <span class="separator"></span>
            <button ng-click="toggleRecipient(contact.identity)" ng-disabled="contact.contactType == 'pending' || selected[contact.identity.id] && disabled_remove" data-qa="btn-select-contact">
                <i class="fa" ng-class="{'cm-checkbox':!selected[contact.identity.id], 'cm-checkbox-right':selected[contact.identity.id]}"></i>
            </button>
        </cm-contact-tag>
    </cm-contacts-list>

</section>
<cm-footer cm-rubber-space>
    <a href="#/conversation" cm-weight = "1" data-qa="btn-done">{{'RECIPIENTS.LABEL.DONE' | cmTranslate}}</a>
</cm-footer>