<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/www/res/android"
        id        = "<%= currentAppId %>"
        version   = "<%= currentVersion %>">
    <name><%= currentName %></name>
    <description>safer communication</description>
    <author href="www.cameonet.de" email="support@cameonet.de">cameoNet</author>

    <access origin="*" subdomains="true"  />
    <content src="index.html" />

    <log level="<%= logLevel %>"/>

    <preference name="phonegap-version" value="3.6.3" />

    <gap:platform name="android" />
    <gap:platform name="winphone" />
    <gap:platform name="ios" />

    <!-- <preference name="permissions" value="all-permissions" /> -->
    <preference name="permissions" value="none" />

    <%= plugins %>

    <!-- multiplatform -->
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="orientation" value="portrait" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />

    <!-- android -->
    <preference name="KeepRunning" value="true"/>
    <preference name="LoadUrlTimeoutValue" value="5000" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="ErrorUrl" value=""/>
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <!-- build -->
    <preference name="android-minSdkVersion" value="<%= phonegapConfig.android-minSdkVersion %>" />
    <preference name="android-maxSdkVersion" value="<%= phonegapConfig.android-maxSdkVersion %>" />
    <preference name="android-targetSdkVersion" value="<%= phonegapConfig.android.android-targetSdkVersion %>" />
    <preference name="android-installLocation" value="internalOnly" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />

    <!-- ios -->
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="SuppressesIncrementalRendering" value="true" />

    <!-- statusbar -->
    <!-- <preference name="StatusBarOverlaysWebView" value="false" /> -->
    <!-- <preference name="StatusBarBackgroundColor" value="#555555" /> -->
    <!-- <preference name="StatusBarStyle" value="lightcontent" /> -->

    <!-- build -->
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />

    <!-- other -->
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="stay-in-webview" value="true" />
    <preference name="ios-statusbarstyle" value="default" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="true" />
    <preference name="SplashScreen" value="screen"/>

    <!-- platform config files -->
    <gap:config-file platform="android" parent="/manifest">
        <application android:debuggable="<%= androidDebuggable %>" />
    </gap:config-file>

    <!-- Icons / Splash -->
    <platform name="android">
        <icon src="<%= wwwPath %>res/icons/android/icon-36-ldpi.png" density="port-ldpi"/>
        <icon src="<%= wwwPath %>res/icons/android/icon-48-mdpi.png" density="port-mdpi"/>
        <icon src="<%= wwwPath %>res/icons/android/icon-72-hdpi.png" density="port-hdpi"/>
        <icon src="<%= wwwPath %>res/icons/android/icon-96-xhdpi.png" density="port-xhdpi"/>
        <icon src="<%= wwwPath %>res/icons/android/icon-144-xhdpi.png" density="port-xxhdpi"/>

        <splash src="<%= wwwPath %>res/screens/android/drawable-ldpi/screen.9.png" density="port-ldpi"/>
        <splash src="<%= wwwPath %>res/screens/android/drawable-mdpi/screen.9.png" density="port-mdpi"/>
        <splash src="<%= wwwPath %>res/screens/android/drawable-hdpi/screen.9.png" density="port-hdpi"/>
        <splash src="<%= wwwPath %>res/screens/android/drawable-xhdpi/screen.9.png" density="port-xhdpi"/>
        <splash src="<%= wwwPath %>res/screens/android/drawable-xxhdpi/screen.9.png" density="port-xxhdpi"/>
    </platform>

    <platform name="ios">
        <!-- iPhone / iPod Touch  -->
        <icon src="<%= wwwPath %>res/icons/ios/icon-60.png" width="60" height="60" />
        <icon src="<%= wwwPath %>res/icons/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="<%= wwwPath %>res/icons/ios/icon-76.png" width="76" height="76" />
        <icon src="<%= wwwPath %>res/icons/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="<%= wwwPath %>res/icons/ios/icon-40.png" width="40" height="40" />
        <icon src="<%= wwwPath %>res/icons/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="<%= wwwPath %>res/icons/ios/icon-57.png" width="57" height="57" />
        <icon src="<%= wwwPath %>res/icons/ios/icon-57@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="<%= wwwPath %>res/icons/ios/icon-72.png" width="72" height="72" />
        <icon src="<%= wwwPath %>res/icons/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="<%= wwwPath %>res/icons/ios/icon-small-29.png" width="29" height="29" />
        <icon src="<%= wwwPath %>res/icons/ios/icon-small-29@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="<%= wwwPath %>res/icons/ios/icon-50.png" width="50" height="50" />
        <icon src="<%= wwwPath %>res/icons/ios/icon-50@2x.png" width="100" height="100" />

        <splash src="<%= wwwPath %>res/screens/ios/Default~iphone.png" width="320" height="480" />
        <splash src="<%= wwwPath %>res/screens/ios/Default@2x~iphone.png" width="640" height="960" />
        <splash src="<%= wwwPath %>res/screens/ios/Default-568h@2x~iphone.png" width="640" height="1136" />
        <splash src="<%= wwwPath %>res/screens/ios/Default-Portrait~ipad.png" width="768" height="1024 " />
        <splash src="<%= wwwPath %>res/screens/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048" />
    </platform>

    <platform name="winphone">
        <icon src="<%= wwwPath %>res/icons/winphone/icon-62.png" width="99" height="99" />
        <icon src="<%= wwwPath %>res/icons/winphone/tile-173.png" width="159" height="159" gap:role="background" />

        <splash src="<%= wwwPath %>res/screens/winphone/screen-portrait.png" />
    </platform>

</widget>