<cm-header cm-rubber-space>
    <cm-back cm-weight="1" back-to="/contacts"></cm-back>
    <cm-identity cm-weight="6"></cm-identity>
    <cm-menu cm-weight="1"></cm-menu>
</cm-header>

<section ng-controller="ContactCtrl">
    <div class="cm-contact-body">
        <div class="cm-contact-details" cm-rubber-space>
            <div cm-weight="1">
                <cm-avatar cm-data="identity" cm-view="{{chooseAvatar?'unknown':''}}" ng-if="identity"></cm-avatar>
            </div>
            <div cm-weight="1">
                <div class="cm-contact-actions" cm-rubber-space ng-if="contact.contactType">
                    <div cm-weight="1">
                        <cm-key-level cm-data="identity.keys.getWeakestKeySize()"></cm-key-level>
                        <cm-contact-type cm-data="contact"></cm-contact-type>
                    </div>
                    <div cm-weight = "1" class="with-white-bg">
                        <button
                            data-qa="start-new-conversation-btn"
                            ng-click="startConversation()"
                        >
                            <i class="fa cm-new-talk"></i>
                        </button>
                        <br/>
                        <button
                            data-qa="start-trust-handshake-btn"
                            ng-click="goto('authentication/identity/'+contact.identity.id)"
                            ng-disabled = "getTrust() || !hasKey()"
                        >
                                <i ng-if="!hasKey()"    class="fa cm-close"></i>
                                <i ng-if="hasKey()"     class="fa {{ getTrust() ? 'cm-checkbox-right' : 'cm-handshake'}}"></i>
                        </button>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <div class="cm-contact-inputs">
            <form name="cmForm" novalidate autocomplete="off">
                <div class="cm-input-ctn" ng-class="{'cm-input-disabled':disabled}">
                    <input
                        tabindex="1" data-qa="input-displayname"
                        type="text" name="displayName" ng-model="identity.displayName"
                        ng-disabled="disabled" required
                        placeholder="{{'CONTACT.PLACEHOLDER.DISPLAYNAME'|cmTranslate}}" />
                </div>

                <div class="cm-alert" ng-show="cmForm.displayName.$dirty && cmForm.displayName.$invalid">
                    <div ng-show="cmForm.displayName.$error.required">
                        <i class="fa cm-info"></i> {{'CONTACT.INFO.EMPTY.DISPLAYNAME'|cmTranslate}}
                    </div>
                </div>

                <cm-multi-input cm-collection="formData.phoneNumbers" cm-disabled="disabled">
                    <ng-form name="formPhone">
                        <div class="cm-input-ctn with-chooser" ng-class="{'cm-input-disabled':disabled}">
                            <input
                                tabindex="2" data-qa="input-phonenumber"
                                type="text" name="phoneNumber" ng-model="item.value"
                                ng-disabled="disabled" cm-validate-phone cm-adaptive-change
                                placeholder="{{'CONTACT.PLACEHOLDER.PHONENUMBER'|cmTranslate}}" />
                        </div>
                        <div cm-type-chooser cm-choose-value-to="item" cm-disabled="disabled" ng-class="{'cm-input-disabled':disabled}"></div>
                        <div class="cm-alert" ng-show="formPhone.phoneNumber.$dirty && formPhone.phoneNumber.$invalid">
                            <div ng-show="formPhone.phoneNumber.$invalid">
                                <i class="fa cm-info"></i> {{'CONTACT.INFO.INVALID.PHONENUMBER'|cmTranslate}}
                            </div>
                        </div>
                    </ng-form>
                </cm-multi-input>

                <cm-multi-input cm-collection="formData.emails" cm-disabled="disabled">
                    <ng-form name="formEmail">
                        <div class="cm-input-ctn with-chooser" ng-class="{'cm-input-disabled':disabled}">
                            <input
                                tabindex="3" data-qa="input-email"
                                name="email" ng-model="item.value"
                                ng-disabled="disabled" cm-validate-email
                                placeholder="{{'CONTACT.PLACEHOLDER.EMAIL'|cmTranslate}}" />
                        </div>
                        <div cm-type-chooser cm-choose-value-to="item" ng-class="{'cm-input-disabled':disabled}" cm-disabled="disabled"></div>
                        <div class="cm-alert" ng-show="formEmail.email.$dirty && formEmail.email.$invalid">
                            <div ng-show="formEmail.email.$invalid">
                                <i class="fa cm-info"></i> {{'CONTACT.INFO.INVALID.EMAIL'|cmTranslate}}
                            </div>
                        </div>
                    </ng-form>
                </cm-multi-input>
            </form>
        </div>
    </div>

    <cm-footer ng-hide="disabled">
        <button data-qa="btn-create-contact" class="cm-btn-block cm-btn-grey" id="registerUserButton" ng-click="saveUser()">
            {{'CONTACT.FOOTER.SAVE'|cmTranslate}} <i class="fa cm-checkbox-right cm-lg-icon"></i>
        </button>
    </cm-footer>

</section>