<cm-header cm-rubber-space>
    <cm-back cm-weight="1" back-to="/contacts"></cm-back>
    <cm-identity cm-weight="10"></cm-identity>
    <cm-logo cm-weight="8"></cm-logo>
    <cm-reload cm-weight="8"></cm-reload>
    <cm-menu cm-weight="2"></cm-menu>
</cm-header>

<section ng-controller="ContactCtrl">
    <pre ng-hide="true">
        {{cmUtil.prettify(contact)}}
        {{cmUtil.prettify(identity)}}
    </pre>

    <div cm-transparent-bg></div>

    <div class="cm-contact-body">
        <div class="cm-contact-details" cm-rubber-space>
            <div cm-weight="1">
                <cm-avatar cm-data="identity" ng-if="identity" cm-view="{{chooseAvatar?'unknown':''}}"></cm-avatar>
            </div>
            <div cm-weight="1">
                <div class="cm-contact-widget">
                    {{'CONTACT.WIDGET'|cmTranslate}}:
                    <cm-safety-level level="2"></cm-safety-level>
                    12 (3)
                    <i class="fa cm-right"></i>
                </div>
                <div class="cm-contact-actions" cm-rubber-space>
                    <i cm-weight="1" class="fa cm-rhino-positive"></i>
                    <i cm-weight="1" class="fa cm-write with-white-bg"></i>
                </div>
            </div>
        </div>

        <div class="cm-contact-inputs">
            <form name="form">
                <div class="cm-input-ctn" ng-class="{'cm-input-disabled':disabled}">
                    <input type="text" name="displayName" ng-model="identity.displayName" placeholder="{{'CONTACT.PLACEHOLDER.DISPLAYNAME'|cmTranslate}}" ng-disabled="disabled" required />
                </div>

                 <div class="cm-alert" ng-show="form.displayName.$dirty && form.displayName.$invalid">
                    <div ng-show="form.displayName.$error.required">
                        <i class="fa cm-info"></i> {{'CONTACT.INFO.EMPTY.DISPLAYNAME'|cmTranslate}}
                    </div>
                </div>

                <cm-multi-input cm-collection="identity.phoneNumbers" cm-disabled="disabled">
                    <div class="cm-input-ctn with-chooser" ng-class="{'cm-input-disabled':disabled}">
                        <input type="text" name="phoneNumber" ng-model="item.value" placeholder="{{'CONTACT.PLACEHOLDER.PHONENUMBER'|cmTranslate}}" ng-disabled="disabled" cm-validate-phone />
                    </div>
                    <div cm-type-chooser cm-choose-value-to="item" cm-disabled="disabled" ng-class="{'cm-input-disabled':disabled}"></div>

                </cm-multi-input>

                <cm-multi-input cm-collection="identity.emails" cm-disabled="disabled">
                    <div class="cm-input-ctn with-chooser" ng-class="{'cm-input-disabled':disabled}">
                        <input name="email" ng-model="item.value" placeholder="{{'CONTACT.PLACEHOLDER.EMAIL'|cmTranslate}}" ng-disabled="disabled" cm-validate-email />
                    </div>
                    <div cm-type-chooser cm-choose-value-to="item" ng-class="{'cm-input-disabled':disabled}" cm-disabled="disabled"></div>

                </cm-multi-input>
            </form>
        </div>
    </div>

    <cm-footer ng-hide="disabled" cm-rubber-space>
        <button id="registerUserButton" ng-click="saveUser()">{{'CONTACT.FOOTER.SAVE'|cmTranslate}} <i class="fa cm-checkbox-right cm-lg-icon"></i></button>
    </cm-footer>

</section>